@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ekhgla');
  src:  url('fonts/icomoon.eot?ekhgla#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ekhgla') format('truetype'),
    url('fonts/icomoon.woff?ekhgla') format('woff'),
    url('fonts/icomoon.svg?ekhgla#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-descargar:before {
  content: "\e914";
}
.icon-filter-filled-tool-symbol:before {
  content: "\e913";
}
.icon-a-left:before {
  content: "\e911";
  color: #595a5b;
}
.icon-a-right:before {
  content: "\e912";
  color: #595a5b;
}
.icon-Artboard-16:before {
  content: "\e900";
}
.icon-Artboard-21:before {
  content: "\e901";
}
.icon-Artboard-22:before {
  content: "\e902";
}
.icon-Artboard-23:before {
  content: "\e903";
}
.icon-Artboard-26-copy:before {
  content: "\e904";
}
.icon-Artboard-26:before {
  content: "\e905";
}
.icon-Artboard-27:before {
  content: "\e906";
}
.icon-Artboard-29:before {
  content: "\e907";
}
.icon-Artboard-30:before {
  content: "\e908";
}
.icon-Artboard-31:before {
  content: "\e909";
}
.icon-Artboard-32:before {
  content: "\e90a";
}
.icon-Artboard-33:before {
  content: "\e90b";
}
.icon-Artboard-34:before {
  content: "\e90c";
}
.icon-Artboard-36:before {
  content: "\e90d";
}
.icon-Artboard-37:before {
  content: "\e90e";
}
.icon-Artboard-38:before {
  content: "\e90f";
}
.icon-Artboard-39:before {
  content: "\e910";
  color: #000;
}
.icon-staff:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
