.footer
	background: #1e94d2
// modificado-----------------
.footer__content-movil
	display: none
.footer__redes
	padding-top: 50px
.footer__column--three
	width: auto
	padding-right: 40px
.footer__title
	margin-bottom: 30px
	h2
		color: $blanco
		font-family: $t-1
		font-weight: normal
		font-size: 15px
		margin-bottom: 0
.footer__title-logo
	// margin-bottom: 30px
	padding-top: 15px
	h2
		color: $blanco
		font-family: $t-1
		font-weight: normal
		font-size: 16px
		margin-bottom: 0
		text-align: center
// modificado-----------------
// .footer__column--three
// 	width: 32.5%
// 	padding-right: 20px
.footer__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	max-width: 1240px
	width: 100%
	box-sizing: border-box
	padding: 55px 20px
	margin: auto

.footer__column
	box-sizing: border-box
	margin: 0

.footer__column--one
	width: 22%
	padding-right: 20px

.footer__column--two
	width: 13.5%


.footer__column--four
	width: 22.2%
	padding-right: 20px

.footer__column--five
	width: 9.8%

.footer__logo
	img
		display: block
		width: 100%
		height: auto

.footer__logo--left
	max-width: 102px
	width: 100%
	margin: 0
	margin-bottom: 20px

.footer__logo--right
	max-width: 118px
	width: 100%
	margin: 0	

.footer__copyright__text
	line-height: 1.6
	color: $blanco
	font-size: 11px
	padding-left: 7px
	p
		margin-bottom: 0

.footer__copyright__text--proximanova
	font-family: $t-0

.footer__copyright__text--arial
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif

.footer__menu__item
	margin-bottom: 25px
	&:last-child
		margin-bottom: 0

.footer__menu__link
	display: inline-block
	line-height: 1
	color: $blanco
	font-family: $t-0
	font-size: 16px

.footer__address__text
	line-height: 1.4
	color: $blanco
	font-family: $t-0
	font-size: 16px
	p
		margin-bottom: 0

.footer__address__text--margin
	margin-bottom: 35px

.footer__redes__wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.footer__redes__item
	font-size: 15px
	margin: 0
	margin-right: 15px
	&:last-child
		margin-right: 0

.footer__redes__icon
	display: inline-block
	color: $blanco
	font-size: 20px
	margin: 0

.footer__staffteam
	position: relative
	padding-right: 7px
	&:after
		content: "\e60e"
		display: inline-block
		font-family: $icomoon
		font-size: 10px
		position: absolute
		top: -6px
		right: 0

// responsive
// modificado-----------------
@media screen and (max-width: 1220px)
	.footer__column--two,
	.footer__column--three
		display: none
	.footer__column--one
		width: auto
	.footer__content
		display: none
	.footer__content-movil
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: center
		align-items: flex-start
		width: 85%
		margin: 0 auto
		padding-top: 40px
		padding-bottom: 40px
	.footer__redes
		padding-top: 0
		width: auto
	.footer__column--five
		width: auto
	.footer__logo--right
		margin: 0 auto
// modificado-----------------
@media screen and (max-width: 1200px)
	.footer__content
		padding: 30px 20px
	.footer__column--one
		padding-right: 0
	// .footer__column--one
	// 	width: 28%

	// .footer__column--two,
	// .footer__column--three
	// 	display: none

	.footer__column--four
		width: calc(72% - 118px)
		display: flex
		flex-direction: row
		flex-wrap: wrap
		padding: 0

	// .footer__column--five
	// 	width: 118px

	.footer__address
		width: 52%
		box-sizing: border-box
		padding-right: 10%
	
	.footer__address__text--margin
		margin-bottom: 0
@media screen and (max-width: 767px)
	.footer__content-movil
		flex-direction: column
	.footer__column--one
		width: 100%
		margin: 0 auto
		text-align: center
	.footer__logo--left	
		margin: 0 auto
	.footer__column--five
		width: 100%
		padding-top: 35px
	.footer__redes
		padding-top: 35px
	// .footer__redes
	// 	width: 48%
	// 	box-sizing: border-box
	// 	padding-right: 20px
// @media screen and (max-width: 960px)
// 	.footer__column--one
// 		width: 250px

	// .footer__column--four
	// 	width: calc(100% - 250px)

	// .footer__column--five
	// 	display: none

	// .footer__address
	// 	width: 56%
	// 	padding-right: 6%

	// .footer__redes
	// 	width: 44%
	// 	padding-right: 0

// @media screen and (max-width: 767px)
// 	.footer__content
// 		max-width: 640px
// 		padding: 15px

// 	.footer__column--one
// 		order: 3
// 		width: 100%
// 		text-align: center
// 		padding-right: 0
// 		margin-top: 30px

// 	.footer__column--four
// 		width: 100%

// 	.footer__logo--left
// 		display: none

// 	.footer__address
// 		width: calc(100% - 210px)
// 		padding-right: 10%

// 	.footer__redes
// 		width: 210px

// 	.footer__address__text
// 		font-size: 14px

// @media screen and (max-width: 480px)
// 	.footer__content
// 		flex-direction: column

// 	.footer__title
// 		margin-bottom: 10px

// 	.footer__column--four
// 		flex-direction: column
// 		text-align: center

// 	.footer__address
// 		width: 100%
// 		padding-right: 0
// 		margin-bottom: 30px

// 	.footer__redes
// 		width: 100%

// 	.footer__redes__wrap
// 		justify-content: center