.div-example
	height: 2000px
	width: 100%
	background: red 
// .header__content__wrap
// 	padding-left: 40px
// 	padding-right: 40px
.header-wrap
	position: relative
	height: 80px
.header-fixed
	position: fixed
	top: 0px
	left: 0
	width: 100%
	height: 80px
	z-index: 1000
	background: $blanco
	transition: all .2s linear
	border-bottom: solid 1px #dadada

.header-bg
	position: absolute
	left: 0
	width: 100%
	height: 100%
	background: $blanco
	top: -100%
	transition: all .2s linear
.header-item--submenu
	position: relative
	@media screen and (min-width: 1025px)
		&:hover
			.header-submenu
				transition: all 450ms ease
				opacity: 1
				z-index: 1
				visibility: visible
@media screen and (min-width: 1025px)
	.header-submenu
		position: absolute
		top: 68px
		background-color: white
		z-index: -1
		visibility: hidden
		text-transform: uppercase
		font-size: 0
		opacity: 0
		padding-bottom: 53px
		width: 800px
		li
			display: inline-block
			width: 50%
			font-size: 20px
			a
				color: $c-0
				font-size: 15px
				font-family: $t-0
				padding-left: 15px
				position: relative
				&:before
					content: ""
					left: 0
					width: 5px
					background: $c-0
					height: 2px
					position: absolute
					top: 0
					bottom: 0
					margin: auto
		&:before
			content: ""
			position: absolute
			width: 200%
			left: -200%
			background-color: white
			height: 100%
		&:after
			content: ""
			position: absolute
			right: -200%
			top: 0
			width: 200%
			background-color: white
			height: 100%
.header__buscador__box
	position: absolute
	width: 100%
	box-sizing: border-box
	padding-left: 120px
	padding-right: 285px
	transform: translateY(-100px)
	transition: all 450ms ease
	&.active
		transform: translateY(0px)
		
.heador__wrap__buscador
	background-color: white

.header__item__menu
	&:hover
		a
			color: $c-1
		.header-submenu li a:before
			color: $c-1
.header-fixed.scrolling
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1)
	height: 68px
	.header-bg
		top: 0
	.header-link
		color: $c-2
	.header-languages-select select
		color: $c-2
	.header-languages-select:before
		color: $c-2
	.header-logo-desktop
		opacity: 0
		visibility: hidden
	.header-logo-scroll
		width: 80%
		opacity: 1
		visibility: visible
	.header__decoration
		height: 50%

.header-cnt
	display: flex
	height: 100%
	align-items: center
	// justify-content: flex-end
	flex-direction: row
	margin: auto
	position: relative
	box-sizing: border-box

// header logo
.header-logo
	max-width: 230px
	position: absolute
	top: 10px
	left: 20px
	img 
		display: block
		height: auto
		width: 100%
	.header-logo-desktop
		opacity: 1
		visibility: visible
	.header-logo-scroll
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		right: 0
		margin: auto
		transition: all .2s linear

.header-cnt-list
	display: flex
	width: 100%
	align-items: center
	justify-content: space-between

// header list
.header-list
	display: flex
	width: 60%
	padding-left: 130px
	margin: 0
	.header-item
		display: flex
		margin-right: 0
		height: 80px
		margin-left: 28px
		font-family: $t-4
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 0

	.header-link
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		color: #404041
		font-size: 15px
		line-height: 15px
		font-family: $t-0
		text-decoration: inherit
		position: relative
		padding-bottom: 7px
		// margin-top: 7px
		transition: all .35s ease-in-out

	//hover
	.header-link:hover
		color: $c-1
		text-decoration: inherit !important
		&:before
			width: 70%

	//active
	.header-link.active
		color: #1e94d2
		font-family: $t-1
		text-decoration: inherit

//hover & active with class scrolling
.header-fixed.scrolling
	.header-link
		color: $c-0
		text-decoration: inherit !important

	.header-link.active
		color: #1e94d2
		text-decoration: inherit

		

//languages
.header__lenguajes__cont
	a
		display: flex
		color: $c-0
		margin-right: 27px
		
	i
		padding-right: 15px
		font-size: 	27px
.header__lenguajes__cont
	display: flex
.header__lupa__icon
	padding-right: 15px
	padding-left: 35px
	position: relative
	i
		padding-right: 15px
		font-size: 	27px
	a
		color: $c-0
	.icon__close
		position: absolute
		left: 0
		right: 0px
		margin: auto
		width: 100%
		text-align: center
		opacity: 0
		visibility: hidden
	&.active
		.icon__close
			opacity: 1
			visibility: visible
		.icon__open
			opacity: 0
			visibility: hidden
		
		
	
.header__decoration
	height: 100%
	width: 1px
	background: #dadada
.header-languages
	color: $c-0
	height: 80px
	width: 30%
	align-items: center
	position: relative
	justify-content: flex-end
	display: flex
	h3
		font-size: 18px	
		margin: auto
		font-family: $t-0
.header-languages-select
	position: relative
	display: inline-block
	cursor: pointer
	select 
		width: 80px
		border: none
		border-radius: none
		background: none 
		color: red
		font-family: $t-0
		font-size: 13px
		appearance: none
		box-sizing: border-box
		cursor: pointer
	option 
		color: $c-0 
	&:before 
		display: block
		content: "\e608"
		font-family: icomoon
		position: absolute
		top: 0px
		right: 0
		color: $blanco
		font-size: 17px
		pointer-events: none

// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.menu-responsive
		display: block
		margin-top: 20px
	.header-item
		display: block
	.header-link 
		display: block
		padding-left: 30px
		font-size: 14px
		height: 45px
		line-height: 45px
		color: $c-3
		text-decoration: inherit
		font-family: $t-0
	.header-languages-select
		padding-left: 30px
		margin-top: 20px
	.header-languages-select select
		color: $c-0 
		font-size: 14px
		width: 90px
	.header-languages-select:before
		color: $c-0

.menu-sidebar
	.header-link.active 
		// background: $c-0
		color: $c-1
		font-family: $t-1


.responsive-logo
	display: none
	width: 30%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header-logo-desktop
		display: none
	.header-logo-scroll
		display: block
	


.menu-mobile-close, .menu-mobile-open
	background: $c-0
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 20px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1200

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: $c-0
	color: $blanco
.menu-sidebar-cnt
	.header__lenguajes__cont
		border-top: solid 1px $c-0
		margin-top: 10px
		padding-top: 20px
		a
			margin-left: 0
			padding-left: 30px
.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)

body.active
	overflow: hidden
@media screen and (max-width: 1095px)
	.header-list .header-link
		font-size: 14px
	.header-list .header-item
		margin-left: 25px
@media screen and (max-width: 1024px)
	.header__decoration
		display: none
	.header-submenu
		display: none
		background-color: white
		padding-bottom: 15px
		padding-left: 20px
		padding-right: 20px
		li
			display: inline-block
			width: auto
			font-size: 20px
			padding: 0px 10px
			a
				color: $c-0
				font-size: 15px
				font-family: $t-0
				padding-left: 15px
				position: relative
				&:before
					content: ""
					left: 0
					width: 5px
					background: $c-0
					height: 2px
					position: absolute
					top: 6px
					margin: auto
		&:before
			content: ""
			position: absolute
			width: 200%
			left: -200%
			background-color: white
			height: 100%
		&:after
			content: ""
			position: absolute
			right: -200%
			top: 0
			width: 200%
			background-color: white
			height: 100%
	//media query header
	// .header-cnt-list
	// 	displa
	.header-list
		display: none
		// display: none
	.header__lenguajes__cont
		display: none
	.header-languages
		width: 95%
	.header-fixed
		height: 68px
	.header__buscador__box
		padding-right: 165px

	.header-fixed.scrolling .header-logo-scroll
		width: 100%
	
	.header-fixed.scrolling .header-logo
		max-width: 80px

	.header-logo
		max-width: 80px
	
	// .header-logo .header-logo-desktop
	// 	opacity: 0
	// 	visibility: visible

	// .header-logo .header-logo-scroll
	// 	opacity: 1
	// 	visibility: visible
	
	// .header-bg
	// 	top: 0
	.header-wrap
		height: 69px
	.menu-mobile-close, .menu-mobile-open
		display: block

	.header-fixed.scrolling
		height: 68px
	.menu-sidebar-cnt
		.header__lenguajes__cont
			a
				h3
					font-size: 15px
					font-family: $t-0
					color: #404041
@media screen and (max-width: 640px)
	.responsive-logo
		display: none
@media screen and (max-width: 480px)
	.header__buscador__box
		padding-right: 105px
	.header__decoration
		display: none
@media screen and (max-width: 320px)
	.header__buscador__box
		padding-right: 85px