footer.footer
	.footer__content
		article.footer__column.footer__column--one
			figure.footer__logo.footer__logo--left
				img(src=`${STATIC_URL}img/footer-logo-mrperu.svg`, width="102", height="76", alt="")
			.footer__copyright
				.footer__copyright__text.footer__copyright__text--proximanova
					p MR PERÚ® Todos los Derechos Reservados
				//- .footer__copyright__text.footer__copyright__text--arial
				//- 	p Diseño de Páginas Web: <strong class="footer__staffteam">StaffDigital</strong>
			.footer__redes
				ul.footer__redes__wrap
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--facebook.icon-Artboard-29
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--iconyoutube.icon-Artboard-30
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--instagram.icon-Artboard-31
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--google.icon-Artboard-32
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--linkedin.icon-Artboard-33
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--pinterest.icon-Artboard-34
		article.footer__column.footer__column--two
			.footer__title
				h2 MAPA DE SITIO
			nav.footer__menu
				ul.footer__menu__wrap
					li.footer__menu__item
						a(href="#").footer__menu__link Nosotros
					li.footer__menu__item
						a(href="#").footer__menu__link Productos
					li.footer__menu__item
						a(href="#").footer__menu__link Servicios
					li.footer__menu__item
						a(href="#").footer__menu__link Alquileres
					li.footer__menu__item
						a(href="#").footer__menu__link Contacto
		article.footer__column.footer__column--three
			.footer__title
				h2 ALQUILER DE COMPRESORES
			nav.footer__menu
				ul.footer__menu__wrap
					li.footer__menu__item
						a(href="#").footer__menu__link Compresores eléctricos
					li.footer__menu__item
						a(href="#").footer__menu__link Compresores Diesel con ruedas
					li.footer__menu__item
						a(href="#").footer__menu__link Compresores Diesel sin ruedas
					li.footer__menu__item
						a(href="#").footer__menu__link Secadores de aire
		article.footer__column.footer__column--three
			.footer__title
				h2 SERVICIOS
			nav.footer__menu
				ul.footer__menu__wrap
					li.footer__menu__item
						a(href="#").footer__menu__link Piezas de compresor originales de Atlas Copco
					li.footer__menu__item
						a(href="#").footer__menu__link Maximice sus recursos con un plan de servicio
					li.footer__menu__item
						a(href="#").footer__menu__link Maximice la eficiencia
		//- article.footer__column.footer__column--four
		//- 	.footer__address
		//- 		.footer__title
		//- 			h2 DIRECCIÓN
		//- 		.footer__address__text.footer__address__text--margin
		//- 			p Jr. Carlos Baca Flor 709 Of. 302 Santiago de Surco, Lima - Perú.
			//- .footer__redes
			//- 	.footer__title
			//- 		h2 REDES SOCIALES
			//- 	ul.footer__redes__wrap
			//- 		li.footer__redes__item
			//- 			a(href="#").footer__redes__icon.footer__redes__icon--facebook.icon-Artboard-29
			//- 		li.footer__redes__item
			//- 			a(href="#").footer__redes__icon.footer__redes__icon--iconyoutube.icon-Artboard-30
			//- 		li.footer__redes__item
			//- 			a(href="#").footer__redes__icon.footer__redes__icon--instagram.icon-Artboard-31
			//- 		li.footer__redes__item
			//- 			a(href="#").footer__redes__icon.footer__redes__icon--google.icon-Artboard-32
			//- 		li.footer__redes__item
			//- 			a(href="#").footer__redes__icon.footer__redes__icon--linkedin.icon-Artboard-33
			//- 		li.footer__redes__item
			//- 			a(href="#").footer__redes__icon.footer__redes__icon--pinterest.icon-Artboard-34
		article.footer__column.footer__column--five
			//- .footer__title
			//- 	h2 DISTRIBUIDOR AUTORIZADO
			figure.footer__logo.footer__logo--right
				img(src=`${STATIC_URL}img/footer-logo-atlas.svg`, width="118", height="56", alt="")
			.footer__title-logo
				h2 Distribuidor autorizado
	.footer__content-movil
		article.footer__column.footer__column--one
			figure.footer__logo.footer__logo--left
				img(src=`${STATIC_URL}img/footer-logo-mrperu.svg`, width="102", height="76", alt="")
			.footer__copyright
				.footer__copyright__text.footer__copyright__text--proximanova
					p MR PERÚ® Todos los Derechos Reservados
		article.footer__redes
				ul.footer__redes__wrap
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--facebook.icon-Artboard-29
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--iconyoutube.icon-Artboard-30
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--instagram.icon-Artboard-31
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--google.icon-Artboard-32
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--linkedin.icon-Artboard-33
					li.footer__redes__item
						a(href="#").footer__redes__icon.footer__redes__icon--pinterest.icon-Artboard-34
		article.footer__column.footer__column--five
			figure.footer__logo.footer__logo--right
				img(src=`${STATIC_URL}img/footer-logo-atlas.svg`, width="118", height="56", alt="")
			.footer__title-logo
				h2 Distribuidor autorizado