.header-wrap
	.header-fixed
		.header__content__wrap
			.header-bg
			.header-cnt
				a(href="home.html").header-logo
					img.header-logo-desktop(src=`${STATIC_URL}img/logo-header.png`, alt="")
					img.header-logo-scroll(src=`${STATIC_URL}img/logo-header-scroll.png`, alt="")
				.header-cnt-list
					ul.header-list
						li.header-item.header-item--submenu
							a.header-link.active.header__submenu__acordion(href="nosotros.html") PRODUCTOS
							ul.header-submenu.header__submenu__resp__content
								li.header__item__menu
									a(href="") búsqueda de productos
								li.header__item__menu
									a(href="") compresores de tornillo
								li.header__item__menu
									a(href="") secadores de aire
								li.header__item__menu
									a(href="") filtros de aire
								li.header__item__menu
									a(href="") purgadores automáticos
								li.header__item__menu
									a(href="") tratamientos de condensados
								li.header__item__menu
									a(href="") bombas de vacío
								li.header__item__menu
									a(href="") generadores de oxígeno e hidrógeno
						li.header-item
							a.header-link(href="elegirnos.html") SERVICIOS
						li.header-item
							a.header-link(href="servicios.html") ALQUILER DE COMRESORES
						li.header-item
							a.header-link(href="atletas.html") NOSOTROS
						li.header-item
							a.header-link(href="clientes.html") CONTACTO
					.header__buscador__box
						.heador__wrap__buscador
							.header__content__buscador
								form
									.header__input__buscador
										.input-one-content
											input.input-two(name='', type='', placeholder='Buscar')
											span.input-two--span
					.header-languages
						.header__lenguajes__cont
							a(href="tel: (01)  514 - 7373")
								i.icon-Artboard-21
								h3 (01) 514 - 7373
						.header__decoration
							span.linea
						.header__lupa__icon
							i.icon-Artboard-16.icon__open
							i.icon-Artboard-23.icon__close


//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt