extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.alquiler-productos-section
		.banner-interior-section(style=`background-image: url('../${STATIC_URL}img/img-bg-banner-interior.jpg')`)
			.banner-interior-content
				.banner-interior__box
					.banner-interior--texto-group
						h1.titulo-h1-interior.titulo--color3.banner-interior--h1.banner-interior--h1 Alquiler de Productos
						p.parrafo-banner-interior.parrafo--color2.banner-interior--p
							| Lorem ipsum dolor sit amet, lectus iaculis cum, dictum sit vitae neque vestibulum. 
				.banner-interior__box2
		.alquiler-productos__content
			.alquiler-productos__menu
				.alquiler-productos__busqueda-top
					.alquiler-productos__boton
						a(href='').alquiler-productos__tab-btn.tablinks.active Comprensor
					.alquiler-productos__boton
						a(href='').alquiler-productos__tab-btn.tablinks Secador
					.alquiler-productos__boton
						a(href='').alquiler-productos__tab-btn.tablinks Comprensor
					.alquiler-productos__boton
						a(href='').alquiler-productos__tab-btn.tablinks Secador
			.alquiler-productos__box-group
				.alquiler-productos__aside-box
					.alquiler-productos__aside-content
						.alquiler-productos__busqueda-aside
							.alquiler-productos__busqueda-filtro
								p
									| Filtrado por
								
								a(href='') 
							.alquiler-productos--busqueda-input-content
								h2.alquiler-productos__busqueda-h2.alquiler-productos__busqueda-hr TIPO
								ul
									li
										.alquiler-productos__busqueda-aside-box
											.alquiler-productos__busqueda-input-group
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#tipo1.alquiler-producto--input(type='radio', name='type')
															label.general__input--check--radio--label.alquiler-producto--label(for='tipo1') Eléctrico
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#tipo2.alquiler-producto--input(type='radio', name='type')
															label.general__input--check--radio--label.alquiler-producto--label(for='tipo2') Diesel Con Ruedas
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#tipo3.alquiler-producto--input(type='radio', name='type')
															label.general__input--check--radio--label.alquiler-producto--label(for='tipo3') Diesel Sin Ruedas
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
									li
										.alquiler-productos__busqueda-aside-box
											h3.alquiler-productos__busqueda-h3.alquiler-productos__busqueda-hr Referencia
											.alquiler-productos__busqueda-input-group
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#referencia1.alquiler-producto--input(type='radio', name='referencia')
															label.general__input--check--radio--label.alquiler-producto--label(for='referencia1') <100HP
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#referencia2.alquiler-producto--input(type='radio', name='referencia')
															label.general__input--check--radio--label.alquiler-producto--label(for='referencia2') <100HP
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
									li
										.alquiler-productos__busqueda-aside-box
											h3.alquiler-productos__busqueda-h3.alquiler-productos__busqueda-hr Marca
											.alquiler-productos__busqueda-input-group
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#marca1.alquiler-producto--input(type='radio', name='marca')
															label.general__input--check--radio--label.alquiler-producto--label(for='marca1') Todas
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#marca2.alquiler-producto--input(type='radio', name='marca')
															label.general__input--check--radio--label.alquiler-producto--label(for='marca2')  Atlas copco
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#marca3.alquiler-producto--input(type='radio', name='marca')
															label.general__input--check--radio--label.alquiler-producto--label(for='marca3')  Ceccato
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#marca4.alquiler-producto--input(type='radio', name='marca')
															label.general__input--check--radio--label.alquiler-producto--label(for='marca4') Ecostar
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#marca5.alquiler-producto--input(type='radio', name='marca')
															label.general__input--check--radio--label.alquiler-producto--label(for='marca5') Gardner denver
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#marca6.alquiler-producto--input(type='radio', name='marca')
															label.general__input--check--radio--label.alquiler-producto--label(for='marca6') Ingersoll rand
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input 
									li
										.alquiler-productos__busqueda-aside-box
											h3.alquiler-productos__busqueda-h3.alquiler-productos__busqueda-hr Modelo
											.alquiler-productos__busqueda-input-group
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#modelo1.alquiler-producto--input(type='radio', name='modelo')
															label.general__input--check--radio--label.alquiler-producto--label(for='modelo1') Modelo 1
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input 
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#modelo2.alquiler-producto--input(type='radio', name='modelo')
															label.general__input--check--radio--label.alquiler-producto--label(for='modelo2') Modelo 1
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
									li
										.alquiler-productos__busqueda-aside-box
											h3.alquiler-productos__busqueda-h3.alquiler-productos__busqueda-hr Motor KW
											.alquiler-productos__busqueda-input-group
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#motor1.alquiler-producto--input(type='radio', name='motor')
															label.general__input--check--radio--label.alquiler-producto--label(for='motor1') <75kw
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#motor2.alquiler-producto--input(type='radio', name='motor')
															label.general__input--check--radio--label.alquiler-producto--label(for='motor2') >75kw
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
									li
										.alquiler-productos__busqueda-aside-box
											h3.alquiler-productos__busqueda-h3.alquiler-productos__busqueda-hr Caudal l/s
											.alquiler-productos__busqueda-input-group
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#caudal1.alquiler-producto--input(type='radio', name='caudal')
															label.general__input--check--radio--label.alquiler-producto--label(for='caudal1') <200l/s
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input 
												.alquiler-productos__busqueda-input-content
													.general__input.general__input--check--radio.general__input--checkbox
														.general__input__inside
															input#caudal2.alquiler-producto--input(type='radio', name='caudal')
															label.general__input--check--radio--label.alquiler-producto--label(for='caudal2') >=200zl/s
																.general__input__inside__container
																	.general__input__figure.alquiler-producto--input
				.alquiler-productos__box
					.alquiler-productos__busqueda-middle-bloque1
						.alquiler-productos__busqueda-parrafo
							p
								| Resultado de Productos: 29 Unidades
						.alquiler-productos__busqueda-icono-filtro-movil
							a(href='') FILTRO
					.alquiler-productos__busqueda-middle
						table.alquiler-productos__busqueda-tabla
							thead
								tr
									th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Marca
									th(colspan='2').table__headings.table__headings--span-separador.alquiler-productos--border-bottom.table__headings--padding-right Modelo
									th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Motor KW
									th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Motor HP
									th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Caudal l/s
									th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Caudal m3/h
									th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Caudal cfm
									th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Estado
									th.table__headings.alquiler-productos--border-bottom Detalle
							tbody
								- for (var x = 0; x < 6; x++)
									tr.stripe-rows
										td.cells
											img.img-logo-table(src=`${STATIC_URL}img/logo-table-alquiler-producto.jpg` alt="")
										td.cells.table-cells--modificador ga7
										td.cells
											.table__headings--span-icono
												.table__headings--span-icono-box
													.table__headings--span-icono-box-interior
														img(src=`${STATIC_URL}img/img-producto-tabla-lupa.jpg` alt="")
													.table__headings--span-icono-box-interior2
														a(href='')
															h3 GX - Compresores de tornillo rotativos con inyeccion de aceite
															p
																| Con los modelos GX 2 -5, Atlas Copco lleva la potencia y fiabilidad de los compresores de tornillo...
															a(href='') VER PRODUCTO
										td.cells 10hp
										td.cells 7kw
										td.cells 40cfm
										td.cells 1.13 M3/Min
										td.cells 18.88 Litro/Seg
										td.cells Usado
										td.cells
											button.alquiler-productos__boton-table
												a(href='') Ver Producto
								
					.alquiler-productos__busqueda-middle-movil
						table.alquiler-productos__busqueda-tabla
							thead
								tr
									th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Marca
									th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom.table__headings--padding-right Modelo
									th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom.alquiler-productos--celda-movil Estado
									th.table__headings.alquiler-productos--border-bottom Detalle
							tbody
								- for (var x = 0; x < 6; x++)
									tr.stripe-rows
										td.cells
											img.img-logo-table(src=`${STATIC_URL}img/logo-table-alquiler-producto.jpg` alt="")
										td.cells ga7
										td.cells.alquiler-productos--celda-movil Usado	
										td.cells
											button.alquiler-productos__boton-table.active
												a(href='') Ver Producto	
		.alquiler-productos--busqueda-box1-filtro-fondo
							
//- js
append scripts
	//- script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(()=>{
			//- filtro
			$('.alquiler-productos__busqueda-icono-filtro-movil a').click(function(event) {
				event.preventDefault();
				$('.alquiler-productos__aside-box').addClass('active');
				$('.alquiler-productos--busqueda-box1-filtro-fondo').addClass('active');
				$('body').addClass('no-scroll');
			});	

			$('.alquiler-productos__busqueda-filtro a').click(function(event) {
			event.preventDefault();
				$('.alquiler-productos__aside-box').removeClass('active');
				$('.alquiler-productos--busqueda-box1-filtro-fondo').removeClass('active');
				$('body').removeClass('no-scroll');
			});	
		})