extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.sub-servicios-section.articulos__tecnicos__section
		section.banner-interior-section(style=`background-image: url('../${STATIC_URL}img/img-bg-banner-interior.jpg')`)
			.banner-interior-content
				.banner-interior__box
					.banner-interior--texto-group
						h1.titulo-h1-interior.titulo--color3.banner-interior--h1.banner-interior--h1 artículos técnicos
						p.parrafo-banner-interior.parrafo--color2.banner-interior--p
							| En esta página usted encontrará artículos con temas especializados, tomados de publicaciones técnicas cuyo tema gira exclusivamente en torno al aire comprimido. El contenido esencial de estos artículos se compendia en pequeños resúmenes.
				.banner-interior__box2

		section.sub-servicios-texto
			- for (var i = 1; i <= 3; i++)
				.sub-servicios-texto-content.ctn__articulos__tecnicos
					.sub-servicios-texto-box
						h4.titulo-h4.titulo--color2 - Servicio outsourcing de aire comprimido 
						h5 El paquete completo que le evitará preocupaciones
						p.parrafo-general.parrafo--color1.parrafo--align-justify
							| El precio de un kWh de energía, un metro cúbico de agua o un km recorrido en una furgoneta de reparto son datos esenciales a la hora de calcular los gastos de una empresa y representan un punto de partida básico para optimizar los costos.
						ul
							li 
								strong Author: 
								| Klaus Dieter Bätz
							li 
								strong Source: 
								| KAESER report 2/09, pág. 20
						a( href='').articulos-tecnicos__box-icon.articulos-tecnicos--a
							ico.icon-Artboard-36.articulos-tecnicos--ico
							p Servicio outsourcing de aire comprimido
						//- ul.sub-servicios__ul-iconos
						//- 	li 
						//- 		a.sub-servicios__icono-box( href='') Servicio outsourcing de aire comprimido

					
			
//- js
append scripts
	script.
		$(()=>{
			
		})