extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")

//- Contenido
block content
	section.busqueda__productos__banner
		.banner-interior-section(style=`background-image: url('../${STATIC_URL}img/img-bg-banner-interior.jpg')`)
			.banner-interior-content
				.banner-interior__box
					.banner-interior--texto-group
						h1.titulo-h1-interior.titulo--color3.banner-interior--h1.banner-interior--h1 Selector de producto: encuentre su solución de aire comprimido
						p.parrafo-banner-interior.parrafo--color2.banner-interior--p
							| Le ayudamos a encontrar la mejor solución para sus necesidades de aire comprimido. Utilice nuestro selector de producto para filtrar nuestra gama hasta que encuentre el producto ideal o póngase en contacto con un miembro de nuestro equipo.

	section.busqueda__productos__select
		.busqueda__productos__select__container
			.busqueda__productos__select__content
				.busqueda__productos__select__box
					.busqueda__productos__select__input
						select.busqueda__productos__input(name="")
							option(value="") Seleccione una opción
							option(value="") option 1
							option(value="") option 2
							option(value="") option 3
					.busque__productos__resultados__number
						span 110 resultados
					.busqueda__productos__select__buscar
						input.busqueda__productos__input(type="text" placeholder="Buscar")

	section.busqueda__productos__filtros
		.busqueda__productos__filtros__container
			.busqueda__productos__filtros__content
				.busqueda__productos__filtros__list
					.busqueda__productos__filtros__tabs
						span(data-id="tab_1", class="busqueda__tab--display") Potencia
						span(data-id="tab_2", class="busqueda__tab--display") Caudal  de aire
					.busqueda__productos__tabs__box
						#tab_1.busqueda__productos__tabs__container
							.busqueda__productos__tabs__check
								.busqueda__productos__tabs__switch
									input.tabs__switch__check__input(type="radio" id="check-productos1")
									label.tabs__switch__check__label(for="check-productos1") Potencia nominal en KW
								.busqueda__productos__tabs__switch
									input.tabs__switch__check__input(type="radio" id="check-productos2")
									label.tabs__switch__check__label(for="check-productos2") Potencia nominal en KW
							#slider-range.busqueda__tabs__slider__rango
								.busqueda__productos__tabs__number.ui-slider-handle 
									input#amount-left(type='text', readonly='')
								.busqueda__productos__tabs__number.ui-slider-handle 
									input#amount-right(type='text', readonly='')

							.busqueda__productos__filtros__responsive


				.busqueda__productos__filtros__seleccionados
					ul
						li
							.busqueda__productos__filtros__box
								p Compresores
						li
							.busqueda__productos__filtros__btn
								button( href='#') Borrar todos los filtros 
			//- responsive
			.busqueda__productos__filtros__responsive
				.busqueda__filtro__responsive__container
					- for (var x = 0; x < 2; x++)
						.busqueda__filtro__responsive__content
							.busqueda__filtro__responsive__subtitles
								h4 Potencia nominal en KW
							.busqueda__filtro__responsive__items
								.busqueda__filtro__responsive__check
									.busqueda__productos__responsive__switch
										input.tabs__switch__responsive__input(type="radio" id="check-productos1")
										label.tabs__switch__responsive__label(for="check-productos1") Potencia nominal en KW
									.busqueda__productos__responsive__switch
										input.tabs__switch__responsive__input(type="radio" id="check-productos1")
										label.tabs__switch__responsive__label(for="check-productos1") Potencia nominal en KW
								.busqueda__filtro__responsive__form
									ul
										li
											.busqueda__filtro__responsive__box
												span.busqueda__filtro__responsive__text From (KW)
												input(name='', type='', placeholder='')
										li
											.busqueda__filtro__responsive__box
												span.busqueda__filtro__responsive__text To (KW)
												input(name='', type='', placeholder='')

							
				.busqueda__filtro__responsive__btn
					button.busqueda__filtro__responsive__cerrar.botton.botton--color1 Cerrar
			.busqueda__filtro__responsive__btn
			button.busqueda__filtro__responsive__abrir.botton.botton--color1 Abrir Filtros



	section.busqueda__productos__items
		.busqueda__productos__items__container
			.busqueda__productos__items__content
				- for (var x = 0; x < 6; x++)
					.busqueda__productos__items__box__container
						.busqueda__productos__items__box
							.busqueda__productos__item
								.busqueda__productos__item__image
									img(src=`${STATIC_URL}img/busqueda-productos-img.png`, alt="")
								.busqueda__productos__item__text
									p Generadores de nitrógeno y oxígeno

	section.busqueda__resultados
		.busqueda__resultados__container
			.busqueda__resultados__content
				.busqueda__resultados__box





//- js
append scripts 
	script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")
	script.
		$(()=>{
			//- Tab
			$('.busqueda__tab--display').click(function(e) {
				e.preventDefault();
				$('.busqueda__tab--display').removeClass('active');
				$(this).addClass('active');
				var data = $(this).attr('data-id');
				$('.busqueda__productos__tabs__container').removeClass('active');
				$('.busqueda__productos__tabs__container[id="'+data+'"]').addClass('active');
			});
			
			//slider filter rango
			$( "#slider-range" ).slider({
				range: true,
				min: 0,
				max: 355,
				values: [ 55, 355 ],
				slide: function( event, ui ) {
					$( "#amount-left" ).val( ui.values[ 0 ] );
					$( "#amount-right" ).val(ui.values[ 1 ] );
				}
			});

			$( "#amount-left" ).val( $( "#slider-range" ).slider( "values", 0 ));
			$( "#amount-right" ).val($( "#slider-range" ).slider( "values", 1 ));
			
			//filter responsive--abrir
			$('.busqueda__filtro__responsive__abrir').click(function(e){
				$(this).addClass('active');
				$('.busqueda__productos__filtros__responsive').addClass('active');
				$('.busqueda__productos__select__content').addClass('active');

			});

			//filter responsive--cerrar
			$('.busqueda__filtro__responsive__cerrar').click(function(e){
				$(this).addClass('active');
				$('.busqueda__productos__filtros__responsive').removeClass('active');
				$('.busqueda__filtro__responsive__abrir').removeClass('active');
				$('.busqueda__productos__select__content').removeClass('active');
			});
		})