extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/jqueryValidation/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.contacto
		.contacto__container
			.contacto__contactanos
				.contacto__contactanos__background(style=`background-image: url('../${STATIC_URL}img/contacto-img.jpg')`)
					.contacto__contactanos__content
						.contacto__contactanos__title
							h2.titulo-h2.titulo--color3 CONTÁCTANOS
						.contacto__contactanos__info
							ul
								li Teléfonos
									.contacto__info__list__tel
										a(href="tel:5147373") (01)  514 7373
										span /
										a(href="tel:5147373") (01) 514 - 7373
								li E-mail
									.contacto__info__list__email
										a(href="mailto:ventas@mrperu.com") ventas@mrperu.com
										a(href="mailto:info@mrperu.com") info@mrperu.com
								li Dirección
									.contacto__info__direction
										p Av. La Encalada Nro. 1171
										p Of. 501 Surco, Lima - Perú

			.contacto__escribenos
				.contacto__escribenos__content
					.contacto__escribenos__title
						h2.titulo-h2.titulo--color2 ESCRÍBENOS Y NOS CONTACTAREMOS
					.contacto__escribenos__form
						form.contacto__escribenos__inputs#afiliate__form__validate.activacion__form
							ul
								li
									.input-one-content
										label.input-one__label Nombre y Apellidos:
										input.input-one(name='name', type='text', placeholder='' class="validate[required]")
										span.input-one--span
								li
									.input-one-content
										label.input-one__label Nombre de la empresa:
										input.input-one(name='empresa', type='text', placeholder='' class="validate[required]")
										span.input-one--span
								li.input-one-content--phone
									.input-one-content
										label.input-one__label Teléfono:
<<<<<<< HEAD
										input.input-one(name='phone', type='', placeholder='' class="validate[required]")
=======
										input.input-one.soloNumber(name='phone', type='', placeholder='')
>>>>>>> 2f77b87d9385a44f8b8b084c23c66b94563e10df
										span.input-one--span
								li.input-one-content--email
									.input-one-content
										label.input-one__label Email:
										input.input-one(name='email', type='email', placeholder='' class="validate[required]")
										span.input-one--span
								li
									.input-one-content
										label.input-one__label Mensaje:
<<<<<<< HEAD
										textarea.input-one(name='message', type='text', placeholder='' class="validate[required]")
=======
										textarea.input-one.contacto--text-area(name='message', type='text', placeholder='')
>>>>>>> 2f77b87d9385a44f8b8b084c23c66b94563e10df
										span.input-one--span
							.contacto__escribenos__btn
								button.botton.botton--color1( href='') enviar mensaje



						
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/jqueryValidation/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/jqueryValidation/jquery.validationEngine.js`)
	script.
		$(()=>{
		 	$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
			$("#afiliate__form").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		})
