extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.descripcion-producto-alquiler__section
		.descripcion-producto-alquiler__content
			.descripcion-producto-alquiler__content-miga
					ul.product__detail--miga-padding-bottom
						li.descripcion-producto-alquiler--miga-li
							a Compresores
						li.descripcion-producto-alquiler--miga-li
							.descripcion-producto-alquiler--miga-relative
								.descripcion-producto-alquiler--miga-span-li
						li.descripcion-producto-alquiler--miga-li
							a Compresores de Tornillo
			.descripcion-producto-alquiler__data-content
				.descripcion-producto-alquiler__data-box-content
					.descripcion-producto-alquiler__box.descripcion-producto-alquiler--padding-right-new
						.tab__carrousel__wrap.tab__carrousel--js.tab__carrousel--horizontal
							.tab__carrousel__image__big__wrap
								.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab1
									img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
								.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab2
									img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
								.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab3
									img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
								.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab4
									img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
								.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab5
									img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
							.tab__carrousel__items__wrap.tab__carrousel__items--js
								ul.tab__carrousel__list__items.tab__carrousel__items--pitcher
									li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab1")
										.tab__carrousel__items__item-img
											img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
									li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab2")
										.tab__carrousel__items__item-img
											img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
									li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab3")
										.tab__carrousel__items__item-img
											img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
									li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab4")
										.tab__carrousel__items__item-img
											img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
									li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab5")
										.tab__carrousel__items__item-img
											img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
					.descripcion-producto-alquiler__box
						.product__detail__right__info
							.descripcion-producto-alquiler__modal-form
								.product-detail-right__modal-form-content
									.product-detail-right__icono-close-form
										a(href='')
									.product-detail-right__title
										h2.titulo-h2.titulo--color3 Solicitud de cotización
									.product-detail-right--parrafo
										p.parrafo-general.parrafo--color2
											| Completa el siguiente formulario y nos pondremos en contacto para enviarte la información solicitada
									.product-detail-right--select-name-group
										select.parrafo-general.parrafo--color2.product-detail-right--select-name
											option(value='LE 2-10 ATLAS COPCO GX 2') LE 2-10 ATLAS COPCO GX 2
											option(value='LE 2-10 ATLAS COPCO GX 4') LE 2-10 ATLAS COPCO GX 4
											option(value='LE 2-10 ATLAS COPCO GX 5') LE 2-10 ATLAS COPCO GX 5
									.product-detail-right__modal-form-contact
										form.contacto__escribenos__inputs
											ul
												li
													.input-one-content
														label.input-one__label.input--color Nombre y Apellidos:
														input.input-one.input--background-color.input--color(name='name', type='text', placeholder='')
														span.input-one--span.input-color--span
												li
													.input-one-content
														label.input-one__label.input--color Nombre de la empresa:
														input.input-one.input--background-color.input--color(name='empresa', type='text', placeholder='')
														span.input-one--span.input-color--span
												li.input-one-content--phone
													.input-one-content
														label.input-one__label.input--color Teléfono:
														input.input-one.input--background-color.input--color.soloNumber(name='phone', type='text', placeholder='')
														span.input-one--span.input-color--span
												li.input-one-content--email
													.input-one-content
														label.input-one__label.input--color Email:
														input.input-one.input--background-color.input--color(name='email', type='email', placeholder='')
														span.input-one--span.input-color--span
												li
													.input-one-content
														label.input-one__label.input--color Mensaje:
														textarea.input-one.input--background-color.input--color.product-detail--textarea(name='message', type='text', placeholder='')
														span.input-one--span.input-color--span
											.contacto__escribenos__btn
												a.botton.product-detail-right--botton-color(href='') cotizar producto
							.product__detail__right__info__title
								h3 LE 2-10 ATLAS COPCO
								h4 Atlas Copcp
							.descripcion-producto-alquiler--parrafo
								p 
									| Data del producto
							.descripcion-producto-alquiler__data-producto-content
								ul
									li
										.descripcion-producto-alquiler__data-producto
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-right
												a Caudal en m3/h
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-left
												a 1.13 M3/Min
									li
										.descripcion-producto-alquiler__data-producto
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-right
												a Caudal en m3/h
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-left
												a 1.13 M3/Min
									li
										.descripcion-producto-alquiler__data-producto
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-right
												a Caudal en m3/h
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-left
												a 1.13 M3/Min
									li
										.descripcion-producto-alquiler__data-producto
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-right
												a Caudal en m3/h
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-left
												a 1.13 M3/Min
									li
										.descripcion-producto-alquiler__data-producto
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-right
												a Caudal en m3/h
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-left
												a 1.13 M3/Min
									li
										.descripcion-producto-alquiler__data-producto
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-right
												a Caudal en m3/h
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-left
												a 1.13 M3/Min
									li
										.descripcion-producto-alquiler__data-producto
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-right
												a Caudal en m3/h
											.descripcion-producto-alquiler__data-box.descripcion-producto-alquiler--padding-left
												a 1.13 M3/Min
								.descripcion-producto-alquiler__info-adicional
									h3 Información adicional
									p
										| Código de producto: Refrigerant R22
								.descripcion-producto-alquiler__marca-group
									.descripcion-producto-alquiler__marca-box1
										a Marca:
									.descripcion-producto-alquiler__marca-box1
										img(src=`${STATIC_URL}img/home-productos-img-logo.png`, alt="")
								.descripcion-producto-alquiler__info__button
									a.botton.botton--color1(href='') CONTACTAR UN ASESOR
							.descripcion-producto-alquiler__content-redes
								.descripcion-producto-alquiler__box1-redes
									ul
										li
											a.sub-servicios__icono-box( href='') descargar brochure
								.descripcion-producto-alquiler__box2-redes
									ul
										li
											a.icon-Artboard-29( href='')
										li
											a.icon-social-twitter( href='')
										li
											a.icon-Artboard-32( href='')
										li
											a.icon-Artboard-33( href='')
										li
											a.icon-Artboard-34( href='')
				.descripcion-producto-alquiler--tabla-h3
						h3.titulo-h2.titulo--color2.titulo--align-center Productos en alquiler relacionados 
				.descripcion-producto-alquiler__tabla-content
					table.descripcion-producto-alquiler__tabla
						thead
							tr
								th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Marca
								th(colspan='2').table__headings.table__headings--span-separador.alquiler-productos--border-bottom.table__headings--padding-right Modelo
								th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Motor KW
								th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Motor HP
								th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Caudal l/s
								th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Caudal m3/h
								th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Caudal cfm
								th.table__headings.table__headings--span-separador.alquiler-productos--border-bottom Estado
								th.table__headings.alquiler-productos--border-bottom Detalle
						tbody
							- for (var x = 0; x < 6; x++)
								tr.stripe-rows
									td.cells
										img.img-logo-table(src=`${STATIC_URL}img/logo-table-alquiler-producto.jpg` alt="")
									td.cells.table-cells--modificador ga7
									td.cells.descripcion-producto-alquiler--width
										.table__headings--span-icono.descripcion-producto-alquiler--display-none
											.table__headings--span-icono-box
												.table__headings--span-icono-box-interior
													img(src=`${STATIC_URL}img/img-producto-tabla-lupa.jpg` alt="")
												.table__headings--span-icono-box-interior2
													a(href='')
														h3 GX - Compresores de tornillo rotativos con inyeccion de aceite
														p
																| Con los modelos GX 2 -5, Atlas Copco lleva la potencia y fiabilidad de los compresores de tornillo...
														a(href='') VER PRODUCTO
									td.cells 10hp
									td.cells 7kw
									td.cells 40cfm
									td.cells 1.13 M3/Min
									td.cells 18.88 Litro/Seg
									td.cells Usado
									td.cells
										button.alquiler-productos__boton-table
											a(href='') Ver Producto
		.alquiler-productos--busqueda-box1-filtro-fondo

//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//- tab links

			$('.product__detail__tab__link:nth-child(1)').addClass('active');
			$('.product__detail__tab__content__item:nth-child(1)').addClass('active');

			$('.tab--pitcher').click(function(e){
				e.preventDefault();
				$(this).closest('.product__detail__tab__content').find('.product__detail__tab__link').removeClass('active');
				$(this).addClass('active');
				var data_id = $(this).attr('data-id');
				console.log(data_id);
				$(this).closest('.product__detail__tab__content').find('.product__detail__tab__content__item').removeClass('active');
				$(this).closest('.product__detail__tab__content').find('.product__detail__tab__content__item[id="'+ data_id+'"]').addClass('active');
			});

			// Tab carrousel
			$('.tab__carrousel__items__item--js:first-child').addClass('active');
			$('.tab__carrousel__image__big--js:first-child').addClass('active');
			
			var itemSl = $('.tab__carrousel__items__item--js').length;
			if (itemSl > 4) {
				$('.tab__carrousel--js').addClass('tab__carrousel--active');
				$('.tab__carrousel__items--pitcher').slick({
					infinite: true,
					autoplay: false,
					vertical:true,
					speed: 300,
					slidesToShow: 4,
					slidesToScroll: 1,
					vertical: false,
					responsive: [
						{
							breakpoint: 769,
							settings: {
								vertical:false
							}
						}
					]
				});
			};

			//Carrousel tab slider arrows
			$('.tab__carrousel__items--pitcher').on('beforeChange', function(event, slick, currentSlide, nextSlide){
				console.log(nextSlide);
				setTimeout(function(){
					id = $('.tab__carrousel__items__item--js.slick-current').attr('data-id');				
					$('.tab__carrousel__items__item--js').removeClass('active');
					$('.tab__carrousel__items__item--js.slick-current').addClass('active');
					$('.tab__carrousel__image__big--js').removeClass('active');
					$('.tab__carrousel__image__big--js[id="'+id+'"]').addClass('active');				
				},500);
			});		

			// Carrousel tab items
			$('.tab__carrousel--js .tab__carrousel__items--js .btn-hider').click(function(event){
				event.preventDefault();
				var buscaidtab = $(this).attr('data-id');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__items--js li').removeClass('active');			
				$(this).addClass('active');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__image__big--js').removeClass('active');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__image__big--js[id="'+buscaidtab+'"]').addClass('active');
			});
			//- cotizar
			$('.descripcion-producto-alquiler__info__button a').click(function(event) {
				event.preventDefault();
				$('.descripcion-producto-alquiler__modal-form').addClass('active');
				$('.alquiler-productos--busqueda-box1-filtro-fondo').addClass('active');
				$('body').addClass('no-scroll');
				
			});	

			$('.product-detail-right__icono-close-form a').click(function(event) {
			event.preventDefault();
				$('.product__detail__right__info').find('.descripcion-producto-alquiler__modal-form').removeClass('active');
				$('.alquiler-productos--busqueda-box1-filtro-fondo').removeClass('active');
				$('body').removeClass('no-scroll');
			});
		})