extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.error
		.error__content__wrapp
			.error__box__title
				h2 Mensaje Enviado
			.error__text
				p Tu solicitud fue enviada con éxito, en breve un asesor especializado se contáctara contigo para brindarte la información adecuada.
				p ¡Muchas gracias!
			.error__button
				a.botton.botton--color1( href='home.html') VOLVER AL HOME

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})