extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.home__slider
		.home__slider__content
			ul.home__slider__pitcher
				- for (var i = 1; i <= 3; i++)
					li.home__slider__item(style=`background-image:url('${STATIC_URL}img/home-banner-img-1.jpg')`)
						.home__slider__container
							article.home__slider__info
								.home__slider__title
									h1 COMPRESORES DE TORNILLO <strong>Maximice sus recursos con un plan de servicio</strong>
								.home__slider__button
									<a class="botton botton--color1" href="#">COTIZAR PRODUCTO</a>

	section.home__clientes
		.home__clientes__content
			.home__clientes__title
				h2 NUESTROS CLIENTES
			.home__clientes__slider
				ul.home__clientes__pitcher
					- for (var x = 1; x <= 3; x++)
						li.home__clientes__item
							figure.home__clientes__image
								img(src=`${STATIC_URL}img/home-clientes-img-1.png`, width="170", height="36", alt="")
						li.home__clientes__item
							figure.home__clientes__image
								img(src=`${STATIC_URL}img/home-clientes-img-2.png`, width="170", height="36", alt="")
						li.home__clientes__item
							figure.home__clientes__image
								img(src=`${STATIC_URL}img/home-clientes-img-3.png`, width="170", height="36", alt="")
						li.home__clientes__item
							figure.home__clientes__image
								img(src=`${STATIC_URL}img/home-clientes-img-1.png`, width="170", height="36", alt="")

	section.home__productos
		.home__productos__content
			.home__productos__title
				h2
					<i>NUESTROS PRODUCTOS</i>
					<strong>MIRA TODO NUESTRO PORTAFOLIO</strong>
					img(src=`${STATIC_URL}img/home-productos-img-logo.png`, width="92", height="45", alt="")
			.home__productos__items.home__productos__items--center
				a(href="#").home__productos__search.homeProductosBox
					.home__productos__search__wrap
						span.home__productos__search__icon.icon-Artboard-16
						.home__productos__search__title
							h3 BÚSQUEDA DE <br>PRODUCTOS
						.home__productos__search__button
							span.botton.botton--color2 ENCUENTRA EL IDEAL

				a.home__productos__item.homeProductosBox(href="#", style=`background-image:url('${STATIC_URL}img/home-productos-img-1.jpg')`)
					.home__productos__wrap
						.home__productos__subtitle
							h3 COMPRESORES <br>DE TORNILLO
						span.home__productos__enlace VER PRODUCTO
				a.home__productos__item.homeProductosBox(href="#", style=`background-image:url('${STATIC_URL}img/home-productos-img-2.jpg')`)
					.home__productos__wrap
						.home__productos__subtitle
							h3 SECADORES <br>DE AIRE
						span.home__productos__enlace VER PRODUCTO
				a.home__productos__item.homeProductosBox(href="#", style=`background-image:url('${STATIC_URL}img/home-productos-img-3.jpg')`)
					.home__productos__wrap
						.home__productos__subtitle
							h3 FILTROS DE AIRE
						span.home__productos__enlace VER PRODUCTO
				a.home__productos__item.homeProductosBox(href="#", style=`background-image:url('${STATIC_URL}img/home-productos-img-4.jpg')`)
					.home__productos__wrap
						.home__productos__subtitle
							h3 BOMBAS DE <br>VACÍO
						span.home__productos__enlace VER PRODUCTO
				a.home__productos__item.homeProductosBox(href="#", style=`background-image:url('${STATIC_URL}img/home-productos-img-5.jpg')`)
					.home__productos__wrap
						.home__productos__subtitle
							h3 GENERADORES DE <br>NITRÓGENO <br>Y OXÍGENO
						span.home__productos__enlace VER PRODUCTO

	section.home__servicios
		.home__servicios__content
			article.home__servicios__info
				.home__servicios__title
					h2 NUESTROS SERVICIOS<strong>ASUMIMOS EL COMPROMISO DE BRINDAR SOLUCIONES</strong>
				.home__servicios__text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. Lorem ipsum dolor sit amet.
				.home__servicios__button
					a.botton.botton--color2(href="#") MÁS INFORMACIÓN
			figure.home__servicios__logo
				img(src=`${STATIC_URL}img/home-servicios-logo.png`, width="698", height="388", alt="home-servicios-logo")
			figure.home__servicios__image
				img(src=`${STATIC_URL}img/home-servicios-image.png`, width="516", height="436", alt="home-servicios-image")

	section.home__alquiler
		.home__alquiler__content
			.home__alquiler__title
				h2 ALQUILER DE MAQUINARIA <strong>MIRA NUESTRA LISTA</strong>
			.home__alquiler__items
				- for (var y = 1; y <= 4; y++)
					article.home__alquiler__item
						.home__alquiler__wrap
							.home__alquiler__subtitle
								h3 CATEGORÍA
							.home__alquiler__text
								p Comprensores eléctricos
						.home__alquiler__button
							a.botton.botton--color2(href="#") VER LISTA
//- js
append scripts 
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//- +++ HOME__SLIDER +++
			var home__slider__item = $('.home__slider__item').length;
			if(home__slider__item > 1){
				var home__slider = $('.home__slider__pitcher').bxSlider({
					mode: 'fade',
					adaptiveHeight:true,
					auto:true,
					pause: 5000,
					controls:false,
					nextSelector: '',
					prevSelector: '',
					nextText: '',
					prevText: '',
					pager:true,
					onSliderLoad: function(currentIndex) {
						$('.home__slider__pitcher').children().eq(currentIndex).addClass('active')
					},
					onSlideBefore: function($slideElement){
						$('.home__slider__pitcher').children().removeClass('active');
						setTimeout( function(){
							$slideElement.addClass('active');
							home__slider.startAuto();
						},500);
					}
				});
			}
			//- --- end ---

			//- +++ HOME__CLIENTES +++
			$('.home__clientes__pitcher').slick({
				infinite: true,
				autoplay: true,
				autoplaySpeed: '500',
				speed: 1000,
				slidesToShow: 8,
				slidesToScroll: 1,
				variableWidth: true,
				arrows: false
			});
			//- --- end ---

			//- +++ HOME__PRODUCTOS +++
			var homeProductosBOx = $('.homeProductosBox').length;
			if (homeProductosBOx > 3){
				$('.home__productos__items').removeClass('home__productos__items--center').addClass('home__productos__items--left');
			}

			var homeProductosItem = ['home__productos__item--1','home__productos__item--2','home__productos__item--3','home__productos__item--4','home__productos__item--5'];
			$('.home__productos__item').each(function(i,e){
				$(e).addClass(homeProductosItem[i%homeProductosItem.length]);
			});
			//- --- end ---
		})