extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.nosotros-section
		section.banner-interior-section(style=`background-image: url('../${STATIC_URL}img/img-bg-banner-interior.jpg')`)
			.banner-interior-content
				.banner-interior__box
					.banner-interior--texto-group
						h1.titulo-h1-interior.titulo--color3.banner-interior--h1.banner-interior--h1 nosotros
						p.parrafo-banner-interior.parrafo--color2.banner-interior--p
							| Lorem ipsum dolor sit amet, lectus iaculis cum, dictum sit vitae neque vestibulum. 
				.banner-interior__box2
		section.nosotros-compromiso-section
			.nosotros-compromiso__content
				.nosotros-compromiso__box
					a.nosotros-compromiso--number 19
				.nosotros-compromiso__box.nosotros-compromiso--content-texto
					h2.titulo-h2.titulo--color2 Años compremetidos con nuetro trabajo
					p.parrafo-general.parrafo--color1
						| En M.R. Perú, nos definimos como un equipo de profesionales altamente capacitados con más de 19 años al servicio de Compresores, Secadores y Filtros de línea. En M.R. Perú, el trato es directo con el cliente, oyendo primero sus inquietudes y necesidades para luego analizar y presentar la mejor opción, que tenga como resultado la satisfacción al 100% del cliente.
		section.nosotros-mision-section
			.nosotros-mision__content
				.nosotros-mision__box.nosotros-mision__color2.nosotros-mision--margin-right
					.nosotros-mision--bg-img(style=`background-image: url('../${STATIC_URL}img/bg-nosotros-mision.jpg')`)
					.nosotros-mision--group-txt
						h1.titulo-h1-interior.titulo--color1 NUESTRA MISIÓN
						p.parrafo-general.parrafo--color1.parrafo--align-center.nosotros-mision--padding-top
							| Brindar una solución completa en el tratamiento del aire comprimido para así ayudar a nuestros clientes a mantener una producción continua y apoyarlos en casos de emergencia con compresores, secadores o personal técnico altamente capacitado. Nuestros clientes pertenecen a diferentes rubros tales del sector Minero, Textil, Industrial, Agrícola, Construcción, con soluciones de Compresores, Secadores y Filtros de Línea Atlas Copco, cuya central está ubicada en Suecia y cuyos estándares son reconocidos local y mundialmente.
				.nosotros-mision__box.nosotros-mision__color2.nosotros-mision--margin-left
					.nosotros-mision--bg-img(style=`background-image: url('../${STATIC_URL}img/bg-nosotros-mision.jpg')`)
					.nosotros-mision--group-txt
						h1.titulo-h1-interior.titulo--color1 NUESTRA VISIÓN
						p.parrafo-general.parrafo--color1.parrafo--align-center.nosotros-mision--padding-top
							| Consolidar a M.R. Perú S.A., como la empresa líder en Servicio, Mantenimiento, Reparación, Alquiler, Emergencias, Venta y Post-venta en el rubro de Compresores de Tornillo y Pistones, de reconocido prestigio nacional; con excelencia en sus productos y servicios, comprometida con el servicio al cliente, el bienestar de su recurso humano y el desarrollo del país dentro del marco que esta actividad representa.
		section.nosotros-valores-section
			.nosotros-valores__content
				.nosotros-valores--group-texto
					h2.titulo--small.titulo--color1.titulo--align-center NUESTROS VALORES
						strong.titulo-h2.titulo--color2 Comprometidos contigo siempre
				.nosotros-valores__content-box
					.nosotros-valores__box
						.componente-icono-titulo-parrafo--box
							.componente-icono-titulo-parrafo--img(style=`background-image: url('../${STATIC_URL}img/icono-nosotros-valores1.jpg')`)
							h4.titulo-h4.titulo--color2 RESPETO
							p.parrafo-general.parrafo--color1.parrafo--align-center
								| En Septiembre de 2013, MR PERÚ se creó con el fin de satisfacer la demanda.
					.nosotros-valores__box
						.componente-icono-titulo-parrafo--box
							.componente-icono-titulo-parrafo--img(style=`background-image: url('../${STATIC_URL}img/icono-nosotros-valores2.jpg')`)
							h4.titulo-h4.titulo--color2 CALIDAD
							p.parrafo-general.parrafo--color1.parrafo--align-center
								| En Septiembre de 2013, MR PERÚ se creó con el fin de satisfacer la demanda.
					.nosotros-valores__box
						.componente-icono-titulo-parrafo--box
							.componente-icono-titulo-parrafo--img(style=`background-image: url('../${STATIC_URL}img/icono-nosotros-valores3.jpg')`)
							h4.titulo-h4.titulo--color2 SEGURIDAD
							p.parrafo-general.parrafo--color1.parrafo--align-center
								| En Septiembre de 2013, MR PERÚ se creó con el fin de satisfacer la demanda.
					.nosotros-valores__box
						.componente-icono-titulo-parrafo--box
							.componente-icono-titulo-parrafo--img(style=`background-image: url('../${STATIC_URL}img/icono-nosotros-valores4.jpg')`)
							h4.titulo-h4.titulo--color2 ACTITUD
							p.parrafo-general.parrafo--color1.parrafo--align-center
								| En Septiembre de 2013, MR PERÚ se creó con el fin de satisfacer la demanda.
		section.nosotros-testimonios-section
			.nosotros-testimonios__content
				- for (var x = 0; x < 6; x++)
					.nosotros-testimonios__box
						.nosotros-testimonios__parrafo-content
							p.parrafo-general
								| Lorem ipsum dolor sit amet, in tempor eleifend sed. Praesent viverra odio pellentesque, metus ullamcorper congue a porttitor, vestibulum a et orci viverra quisque, dolor vehicula dui conubia pulvinar turpis blandit, pretium suspendisse ligula elementum.
						.nosotros-testimonios--box-triangulo
							#nosotros-testimonios--box-triangulo-outer
								#nosotros-testimonios--box-triangulo-inner
						.nosotros-testimonios__img(style=`background-image: url('../${STATIC_URL}img/img-testimonio-persona.png')`)
						.nosotros-testimonios__nombre
							a.nosotros-testimonios--nombre.titulo--color1 Alex sifuentes
							a.nosotros-testimonios--cargo.parrafo--color1 Gerente
			.nosotros-testimonios__buttons-box
				//- .nosotros-testimonios__button.active
				//- .nosotros-testimonios__button
				//- .nosotros-testimonios__button
				//- .nosotros-testimonios__button
//- js
append scripts
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script.
		$(()=>{

			var number = $('a.nosotros-compromiso--number').text();
			$('a.nosotros-compromiso--number').text('0')

			for(let i = 0; i <= number; i++){
				console.log(i)
				setTimeout(function(){
					$('a.nosotros-compromiso--number').text(`${i}`)
				}, 500 * i)
			}


			$('.nosotros-valores__content').waypoint(function(direction) {
				if (direction === 'down') {
					$('.nosotros-valores__box').each((k, el) => {
						setTimeout(() => {
							$(el).addClass('active')
						}, 500 * k)
					})
				}
				}, {
					offset:'40%'
				});


				$('.nosotros-testimonios__content').slick({
						centerMode: true,
						centerPadding: '100px',
						slidesToShow: 3,
						autoplay: true,
						arrows: false,
						responsive: [
							{
								breakpoint: 1180,
								settings: {
									arrows: false,
									centerMode: true,
									centerPadding: '30px',
									slidesToShow: 2
								}
							},
							{
								breakpoint: 767,
								settings: {
									arrows: false,
									centerMode: true,
									centerPadding: '20px',
									slidesToShow: 2
								}
							},
							{
								breakpoint: 645,
								settings: {
									arrows: false,
									centerMode: true,
									centerPadding: '0px',
									slidesToShow: 1
								}
							}
						]
				})
				var nosotroSlick = $('.nosotros-testimonios__content').slick('getSlick')
				//- slideCount
				//- console.log(nosotroSlick)
				for(let i = 0; i < nosotroSlick.slideCount; i++){
					$('.nosotros-testimonios__buttons-box').append(`<div class="nosotros-testimonios__button"></div>`)
				}
				$('.nosotros-testimonios__button').click((e) => {
					//- console.log($(e.target).index())
					$('.nosotros-testimonios__content').slick('slickGoTo', $(e.target).index());
				})
				$('.nosotros-testimonios__button').eq($('.nosotros-testimonios__content').slick('slickCurrentSlide')).addClass('active')
				$('.nosotros-testimonios__content').on('beforeChange', function(event, slick, currentSlide, nextSlide){
					//- console.log(nextSlide);
					$('.nosotros-testimonios__button').removeClass('active').eq(nextSlide).addClass('active')
				});

		})

		