extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.product__detail
		.product__detail__container
			.descripcion-producto-alquiler__content-miga
				ul.product__detail--miga-padding-bottom
					li.descripcion-producto-alquiler--miga-li
						a Compresores
					li.descripcion-producto-alquiler--miga-li
						.descripcion-producto-alquiler--miga-relative
							.descripcion-producto-alquiler--miga-span-li
					li.descripcion-producto-alquiler--miga-li
						a Compresores de Tornillo
					li.descripcion-producto-alquiler--miga-li
						.descripcion-producto-alquiler--miga-relative
							.descripcion-producto-alquiler--miga-span-li
					li.descripcion-producto-alquiler--miga-li
						a GA
			.product__detail__tab__content
				//- .curso__detalle__tab
				.tab__content.product__detail__tab__links
					.producto-detalle__links-group
						.btn-content.product__detail__tab__links__container
							a.tablinks.product__detail__tab__link(href="#", data-id=`tab-1`) Informacion
								span.span--linea--amarillo
						.btn-content.product__detail__tab__links__container
							a.tablinks.product__detail__tab__link(href="#", data-id=`tab-2`) Datos Técnicos
								span.span--linea--amarillo
						.btn-content.product__detail__tab__links__container
							a.tablinks.product__detail__tab__link(href="#", data-id=`tab-3`) Videos
								span.span--linea--amarillo
				#tab-1.tabcontent
					.product-detail--tab__content__inside.product-detail--tab-padding-top.product-detail--tab1-flex
						.product__detail__left
							.tab__carrousel__wrap.tab__carrousel--js.tab__carrousel--horizontal
								.tab__carrousel__image__big__wrap
									.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab1
										img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
									.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab2
										img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
									.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab3
										img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
									.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab4
										img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
									.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab5
										img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
								.tab__carrousel__items__wrap.tab__carrousel__items--js
									ul.tab__carrousel__list__items.tab__carrousel__items--pitcher
										li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab1")
											.tab__carrousel__items__item-img
												img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
										li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab2")
											.tab__carrousel__items__item-img
												img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
										li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab3")
											.tab__carrousel__items__item-img
												img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
										li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab4")
											.tab__carrousel__items__item-img
												img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
										li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab5")
											.tab__carrousel__items__item-img
												img(src=`${STATIC_URL}img/tab-img.jpg`, width="526", height="526", alt="")
						.product__detail__right
							.product__detail__right__info
								.product-detail-right__modal-form
									.product-detail-right__modal-form-content
										.product-detail-right__icono-close-form
											a(href='')
										.product-detail-right__title
											h2.titulo-h2.titulo--color3 Solicitud de cotización
										.product-detail-right--parrafo
											p.parrafo-general.parrafo--color2
												| Completa el siguiente formulario y nos pondremos en contacto para enviarte la información solicitada
										.product-detail-right--select-name-group
											select.parrafo-general.parrafo--color2.product-detail-right--select-name
												option(value='LE 2-10 ATLAS COPCO GX 2') LE 2-10 ATLAS COPCO GX 2
												option(value='LE 2-10 ATLAS COPCO GX 4') LE 2-10 ATLAS COPCO GX 4
												option(value='LE 2-10 ATLAS COPCO GX 5') LE 2-10 ATLAS COPCO GX 5
										.product-detail-right__modal-form-contact
											form.contacto__escribenos__inputs
												ul
													li
														.input-one-content
															label.input-one__label.input--color Nombre y Apellidos:
															input.input-one.input--background-color.input--color(name='name', type='text', placeholder='')
															span.input-one--span.input-color--span
													li
														.input-one-content
															label.input-one__label.input--color Nombre de la empresa:
															input.input-one.input--background-color.input--color(name='empresa', type='text', placeholder='')
															span.input-one--span.input-color--span
													li.input-one-content--phone
														.input-one-content
															label.input-one__label.input--color Teléfono:
															input.input-one.input--background-color.input--color.soloNumber(name='phone', type='text', placeholder='')
															span.input-one--span.input-color--span
													li.input-one-content--email
														.input-one-content
															label.input-one__label.input--color Email:
															input.input-one.input--background-color.input--color(name='email', type='email', placeholder='')
															span.input-one--span.input-color--span
													li
														.input-one-content
															label.input-one__label.input--color Mensaje:
															textarea.input-one.input--background-color.input--color.product-detail--textarea(name='message', type='text', placeholder='')
															span.input-one--span.input-color--span
												.contacto__escribenos__btn
													a.botton.product-detail-right--botton-color(href='') cotizar producto
								.product__detail__right__info__title
									h3 LE 2-10 ATLAS COPCO
									h4 Atlas Copcp
								.product__detail__right__info__text
									p us procesos de producción y sus productos finales dependen de la pureza del aire comprimido. El aire comprimido sin tratar puede ocasionar graves daños y provocar una seria degradación del rendimiento. Para proteger su inversión, equipos y procesos, Atlas Copco le ofrece una gama completa de innovadoras soluciones de filtración para satisfacer sus necesidades específicas.
									p A diferencia de las tecnologías disponibles actualmente, la tecnología de filtrado Nautilus mejora enormemente la eficiencia energética sin afectar el rendimiento ni a la fiabilidad del filtrado.
									ul.product__detail__right__info__list
										li Consumo de Electricidad Reducidl
										li Consumo de Electricidad Reducidl
										li Consumo de Electricidad Reducidl
										li Consumo de Electricidad Reducidl
										li Consumo de Electricidad Reducidl
										li Consumo de Electricidad Reducidl
								.product__detail__right__info__button
									a.botton.botton--color1( href='') CONTACTAR UN ASESOR
								.descripcion-producto-alquiler__content-redes
									.descripcion-producto-alquiler__box1-redes
										ul
											li
												a.sub-servicios__icono-box( href='') descargar brochure
									.descripcion-producto-alquiler__box2-redes
										ul
											li
												a.icon-Artboard-29( href='')
											li
												a.icon-social-twitter( href='')
											li
												a.icon-Artboard-32( href='')
											li
												a.icon-Artboard-33( href='')
											li
												a.icon-Artboard-34( href='')
				#tab-2.tabcontent.product-detail--tab__content__inside.product-detail--tab-padding-top
					.product-detail__table-content
						table.product-detail__table-datos-tecnicos
							thead.product-detail--table-border-bottom
								tr.product-detail--table-height-head
									th(rowspan='2').product-detail--table-bg-blue.product-detail--table-border Tipo de Compresor
									th(colspan='2').product-detail--table-bg-celeste.product-detail--table-border Presión de Trabajo máx.
									th(colspan='3').product-detail--table-bg-celeste.product-detail--table-border Capacidad FAD*
									th(colspan='2').product-detail--table-bg-celeste.product-detail--table-border Potencia Instalada de Motor
									th.product-detail--table-bg-celeste.product-detail--table-border Nivel Sonoro**
									th(colspan='2').product-detail--table-bg-celeste.product-detail--table-border Peso (Kg/Lbs)***
									th(colspan='2').product-detail--table-bg-celeste.product-detail--table-border Cotizar Producto
								tr.product-detail--table-height-head
									th.product-detail--table-bg-celeste2.product-detail--table-border.product-detail--table-width bar(e)
									th.product-detail--table-bg-celeste2.product-detail--table-border.product-detail--table-width psi
									th.product-detail--table-bg-celeste2.product-detail--table-border.product-detail--table-width l/s
									th.product-detail--table-bg-celeste2.product-detail--table-border.product-detail--table-width m2/h
									th.product-detail--table-bg-celeste2.product-detail--table-border.product-detail--table-width cfm
									th.product-detail--table-bg-celeste2.product-detail--table-border.product-detail--table-width kW
									th.product-detail--table-bg-celeste2.product-detail--table-border.product-detail--table-width CV
									th.product-detail--table-bg-celeste2.product-detail--table-border.product-detail--table-width dB(A)
									th.product-detail--table-bg-celeste2.product-detail--table-border.product-detail--table-width Pack
									th.product-detail--table-bg-celeste2.product-detail--table-border.product-detail--table-width Full Feature
									th(colspan='2').product-detail--table-bg-celeste2.product-detail--table-width  Cotizar
							tbody.product-detail--table-border
								tr.product-detail--table-height-body
									td(colspan='14').product-detail--table-horizontal-full.product-detail--table-bg-celeste Versión 60Hz
								tr.product-detail--table-height-body
									td GX 2
									td 10,3
									td 10,3
									td 4,0
									td 14,4
									td 8,5
									td 2,2
									td 3
									td 61
									td 165/364
									td 200/441
									td(colspan='2').product-detail--icono-cotizar.product-detail--table-padding-left
										a(href="#") Cotizar
								tr.product-detail--table-height-body
									td.product-detail--table-bg-celeste2 GX 4
									td.product-detail--table-bg-celeste2 10,3
									td.product-detail--table-bg-celeste2 10,3
									td.product-detail--table-bg-celeste2 4,0
									td.product-detail--table-bg-celeste2 14,4
									td.product-detail--table-bg-celeste2 8,5
									td.product-detail--table-bg-celeste2 2,2
									td.product-detail--table-bg-celeste2 3
									td.product-detail--table-bg-celeste2 61
									td.product-detail--table-bg-celeste2 165/364
									td.product-detail--table-bg-celeste2 200/441
									td(colspan='2').product-detail--table-bg-celeste2.product-detail--icono-cotizar.product-detail--table-padding-left
										a(href="#") Cotizar
								tr.product-detail--table-height-body
									td GX 5
									td 10,3
									td 10,3
									td 4,0
									td 14,4
									td 8,5
									td 2,2
									td 3
									td 61
									td 165/364
									td 200/441
									td(colspan='2').product-detail--icono-cotizar.product-detail--table-padding-left
										a(href="#") Cotizar
				#tab-3.tabcontent.product-detail--tab__content__inside
					.product-detail--tab-video
						.product-detail--tab-video-box(style=`background-image: url('../${STATIC_URL}img/producto-detalle-imagen-video.jpg')`)
							.product-detail--tab-video-icono
							.product-detail--tab-video-capa
						.product-detail--tab-video-box(style=`background-image: url('../${STATIC_URL}img/producto-detalle-imagen-video.jpg')`)
							.product-detail--tab-video-icono
							.product-detail--tab-video-capa
						.product-detail--tab-video-box(style=`background-image: url('../${STATIC_URL}img/producto-detalle-imagen-video.jpg')`)
							.product-detail--tab-video-icono
							.product-detail--tab-video-capa
						.product-detail--tab-video-box(style=`background-image: url('../${STATIC_URL}img/producto-detalle-imagen-video.jpg')`)
							.product-detail--tab-video-icono
							.product-detail--tab-video-capa
	section.sub-servicios-otros-servicios
			h2.titulo-h2.titulo--color2.titulo--align-center Productos Relacionados
			.sub-servicios__slider-content
				ul.sub-servicios__slider
					- for (var x = 0; x < 6; x++)
						li
							.componente-producto1-box
								.componente-producto1__box-white
								.componente-producto1__btn-oculto
									a(href='') VER SERVICIO
								.componente-producto1__img(style=`background-image: url('../${STATIC_URL}img/img-producto-muestra.jpg')`)
								.componente-producto1__btn
									a(href='') GX - Compresores de tornillo rotativos con inyeccion
	.alquiler-productos--busqueda-box1-filtro-fondo

//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			function openCity(evt, cityName) {
				var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("tabcontent");
				for (i = 0; i < tabcontent.length; i++) {
							tabcontent[i].style.display = "none";
				}
				tablinks = document.getElementsByClassName("tablinks");
				for (i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].className.replace(" active", "");
				}
				document.getElementById(cityName).style.display = "block";
				evt.currentTarget.className += " active";
			}
			$('.tablinks').on('click', function(e){
				e.preventDefault();

				var city = $(this).attr("data-id");
				openCity(e,city);
			});
			$('.tab__content .tablinks:first').trigger('click');
			
			// Tab carrousel
			$('.tab__carrousel__items__item--js:first-child').addClass('active');
			$('.tab__carrousel__image__big--js:first-child').addClass('active');
			
			var itemSl = $('.tab__carrousel__items__item--js').length;
			if (itemSl > 4) {
				$('.tab__carrousel--js').addClass('tab__carrousel--active');
				$('.tab__carrousel__items--pitcher').slick({
					infinite: true,
					autoplay: false,
					vertical:true,
					speed: 300,
					slidesToShow: 4,
					slidesToScroll: 1,
					vertical: false,
					responsive: [
						{
							breakpoint: 769,
							settings: {
								vertical:false
							}
						}
					]
				});
			};

			//Carrousel tab slider arrows
			$('.tab__carrousel__items--pitcher').on('beforeChange', function(event, slick, currentSlide, nextSlide){
				console.log(nextSlide);
				setTimeout(function(){
					id = $('.tab__carrousel__items__item--js.slick-current').attr('data-id');				
					$('.tab__carrousel__items__item--js').removeClass('active');
					$('.tab__carrousel__items__item--js.slick-current').addClass('active');
					$('.tab__carrousel__image__big--js').removeClass('active');
					$('.tab__carrousel__image__big--js[id="'+id+'"]').addClass('active');				
				},500);
			});		

			// Carrousel tab items
			$('.tab__carrousel--js .tab__carrousel__items--js .btn-hider').click(function(event){
				event.preventDefault();
				var buscaidtab = $(this).attr('data-id');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__items--js li').removeClass('active');			
				$(this).addClass('active');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__image__big--js').removeClass('active');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__image__big--js[id="'+buscaidtab+'"]').addClass('active');
			});
			$('.sub-servicios__slider').slick({
				slidesToShow: 4,
				slidesToScroll: 1,
				infinite: true,
				autoplay: true,
				arrows: true,
				 responsive: [
					{
						breakpoint: 1216,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 1215,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 940,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 575,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});
			//- cotizar
			$('.product__detail__right__info__button a').click(function(event) {
				event.preventDefault();
				$('.product-detail-right__modal-form').addClass('active');
				$('.alquiler-productos--busqueda-box1-filtro-fondo').addClass('active');
				$('body').addClass('no-scroll');
				
			});	

			$('.product-detail-right__icono-close-form a').click(function(event) {
			event.preventDefault();
				$('.product__detail__right').find('.product-detail-right__modal-form').removeClass('active');
				$('.alquiler-productos--busqueda-box1-filtro-fondo').removeClass('active');
				$('body').removeClass('no-scroll');
			});


			
		})