extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.ctn__productos
		section.banner-interior-section(style=`background-image: url('../${STATIC_URL}img/img-bg-banner-interior.jpg')`)
			.banner-interior-content
				.banner-interior__box
					.banner-interior--texto-group
						h1.titulo-h1-interior.titulo--color3.banner-interior--h1.banner-interior--h1 productos
						p.parrafo-banner-interior.parrafo--color2.banner-interior--p
							| Le ayudamos a encontrar la mejor solución para sus necesidades de aire comprimido. Utilice nuestro selector de producto para filtrar nuestra gama hasta que encuentre el producto ideal o póngase en contacto con un miembro de nuestro equipo.
				.banner-interior__box2
		//- .ctn__productos__header
		//- 	section.banner-interior-section(style=`background-image: url('../${STATIC_URL}img/img-bg-banner-interior.jpg')`)
		//- 		.banner-interior-content
		//- 			.banner-interior__box
		//- 				.banner-interior--texto-group
		//- 					h1.titulo-h1-interior.titulo--color3.banner-interior--h1.banner-interior--h1 productos
		//- 					p.parrafo-banner-interior.parrafo--color2.banner-interior--p
		//- 						| Le ayudamos a encontrar la mejor solución para sus necesidades de aire comprimido. Utilice nuestro selector de producto para filtrar nuestra gama hasta que encuentre el producto ideal o póngase en contacto con un miembro de nuestro equipo.
		//- 			.banner-interior__box2
		.ctn__productos__prin
			.ctn__productos__bloq 
				.ctn__productos__menu
					h4 Area de Productos
					ul
						li
							a.active(href="#") Todos los resultados
						li
							a(href="#") Compresores
						li
							a(href="#") Filtros de aire
						li
							a(href="#") Purgadores automáticos
						li
							a(href="#") Tratamiento de condensados
						li
							a(href="#") Bombas de vacío
						li
							a(href="#") Generadores de nitrógeno  y oxígeno
				.ctn__productos__sec
					- for (var i = 1; i <= 6; i++)
						.item__producto__sec
							section
								.componente-producto1-box
									.componente-producto1__box-white
									.componente-producto1__btn-oculto
										a(href='') VER Producto
									.componente-producto1__img(style=`background-image: url('../${STATIC_URL}img/img-producto-muestra.jpg')`)
									.componente-producto1__btn
										a(href='') GX - Compresores de tornillo rotativos con inyeccion 
					section.pager
						ul
							li
								a(href='').prev.icon-a-left
							- for (var x = 0; x < 5; x++)
								li
									a(href='') #{x+1}
							li
								a(href='').next.icon-a-right
	
//- js
append scripts
	script.
		$(()=>{
			var width = $(window).innerWidth();
		 	if(width <= 1024){
		 		$('.ctn__productos__menu h4').click(function(){
		 			$(this).toggleClass('active');
		 			$('.ctn__productos__menu ul').slideToggle('slow');
		 		})
		 	}
		})