extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'resultados'
//- ---

//- Contenido
block content
	.ctn__productos
		.ctn__productos__search
			h4 RESULTADOS DE BÚSQUEDA
			p Se encontraron (96) resultados para "compresoras"
		.ctn__productos__prin
			.ctn__productos__bloq 
				.ctn__productos__menu
					.ctn__productos__search__sec
						form
							input(type="search", placeholder="")
							button

					h4 Area de Productos
					ul
						li
							a(href="#") Todos los resultados
						li
							a(href="#") Compresores
						li
							a(href="#") Filtros de aire
						li
							a(href="#") Purgadores automáticos
						li
							a(href="#") Tratamiento de condensados
						li
							a(href="#") Bombas de vacío
						li
							a(href="#") Generadores de nitrógeno  y oxígeno
				.ctn__productos__sec
					.ctn__productos__sec__search
						.ctn__productos__sec__select
							p
								label Ordenar por
								select 
									option Relevancia
									option Costos
						.ctn__productos__sec__items
							- for (var i = 1; i <= 3; i++)
								.ctn__productos__sec__item
									a Actualización del compresor para un rendimiento óptico
									h4 5 de Junio de 2017
									p Actualización de compresoras para un rendimiento óptimo
									.ctn__productos__categorias__servicio
										span  Categoria
										a(href="") Servicio

					
	
//- js
append scripts
	script.
		$(()=>{
			var width = $(window).innerWidth();
		 	if(width <= 1024){
		 		$('.ctn__productos__menu h4').click(function(){
		 			$(this).toggleClass('active');
		 			$('.ctn__productos__menu ul').slideToggle('slow');
		 		})
		 	}
		})