extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.banner-interior-section(style=`background-image: url('${STATIC_URL}img/img-bg-banner-interior.jpg')`)
		.banner-interior-content
			.banner-interior__box
				.banner-interior--texto-group
					h1.titulo-h1-interior.titulo--color3.banner-interior--h1.banner-interior--h1 servicios
					p.parrafo-banner-interior.parrafo--color2.banner-interior--p
						| Evite daños o pérdida de rendimiento en sus compresores. Mantenga alejado el polvo y la suciedad con los filtros y separadores de compresor originales.
			.banner-interior__box2
	section.servicios
		.servicios__content
			.servicios__items
				article.servicios__item
					.servicios__images
						figure.servicios__img(style=`background-image:url('${STATIC_URL}img/servicios-img-1.jpg')`)
					.servicios__info
						.servicios__title
							h2 SERVICIO <strong>Piezas Originales Del Compresor Atlas Copco</strong>
						.servicios__text
							p Lorem ipsum dolor sit amet, in tempor eleifend sed. Praesent viverra odio pellentesque, metus ullamcorper congue a porttitor, vestibulum a et orci viverra quisque, dolor vehicula dui conubia pulvinar turpis blandit, pretium suspendisse ligula elementum.
						.servicios__links
							ul.servicios__links__wrap
								li.servicios__links__item
									a(href="").servicios__links__text FILTROS Y SEPARADORES DE COMPRESOR
								li.servicios__links__item
									a(href="").servicios__links__text FILTROS PARA COMPRESORES
								li.servicios__links__item
									a(href="").servicios__links__text LUBRICANTES Y FLUIDOS DE COMPRESOR
								li.servicios__links__item
									a(href="").servicios__links__text KITS DE SERVICIO
								li.servicios__links__item
									a(href="").servicios__links__text MEJORAS DEL COMPRESOR
								li.servicios__links__item
									a(href="").servicios__links__text AIRNET
				article.servicios__item
					.servicios__images
						figure.servicios__img(style=`background-image:url('${STATIC_URL}img/servicios-img-1.jpg')`)
						figure.servicios__img(style=`background-image:url('${STATIC_URL}img/servicios-img-2.jpg')`)
					.servicios__info
						.servicios__title
							h2 SERVICIO <strong>Maximice Sus Recursos Con Un Plan De Servicio</strong>
						.servicios__text
							p Lorem ipsum dolor sit amet, in tempor eleifend sed. Praesent viverra odio pellentesque, metus ullamcorper congue a porttitor, vestibulum a et orci viverra quisque, dolor vehicula dui conubia pulvinar turpis blandit, pretium suspendisse ligula elementum.
						.servicios__links
							ul.servicios__links__wrap
								li.servicios__links__item
									a(href="").servicios__links__text PLAN DE MANTENIMIENTO PREVENTIVO
								li.servicios__links__item
									a(href="").servicios__links__text PLAN DE RESPONSABILIDAD TOTAL
								li.servicios__links__item
									a(href="").servicios__links__text PLAN DE PIEZAS
								li.servicios__links__item
									a(href="").servicios__links__text PRECIO FIJO
				article.servicios__item
					.servicios__images
						figure.servicios__img(style=`background-image:url('${STATIC_URL}img/servicios-img-1.jpg')`)
						figure.servicios__img(style=`background-image:url('${STATIC_URL}img/servicios-img-2.jpg')`)
						figure.servicios__img(style=`background-image:url('${STATIC_URL}img/servicios-img-3.jpg')`)
					.servicios__info
						.servicios__title
							h2 SERVICIO <strong>Maximice la eficiencia</strong>
						.servicios__text
							p Lorem ipsum dolor sit amet, in tempor eleifend sed. Praesent viverra odio pellentesque, metus ullamcorper congue a porttitor, vestibulum a et orci viverra quisque, dolor vehicula dui conubia pulvinar turpis blandit, pretium suspendisse ligula elementum.
						.servicios__links
							ul.servicios__links__wrap
								li.servicios__links__item
									a(href="").servicios__links__text SUPERVISE SU INSTALACION DE AIRE COMPRIMIDO CON SMARTLINK
								li.servicios__links__item
									a(href="").servicios__links__text AUDITE SU INSTALACIÓN DE AIRE COMPRIMIDO CON AIRSCAN
								li.servicios__links__item
									a(href="").servicios__links__text OPTIMICE EL FLIJO DE AIRE MEDIANTE CONTROLADORES CENTRALES

//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(()=>{
			$('.servicios__images').each(function(index, el) {
				var items = $(el).find('.servicios__img');
				var cantidad = items.length;
				if (cantidad == 1) {
					$(el).addClass('servicios__images--1');
				} else if(cantidad == 2){
					$(el).addClass('servicios__images--2');
				} else if(cantidad == 3){
					$(el).addClass('servicios__images--3');
				}
			});

			// animation
			$('.servicios__item').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}else {
						// $(el).removeClass('active');
						$('.servicios__item').eq(0).addClass('active');
						$('.servicios__item').eq(1).addClass('active');
					}
				}, {
					offset:'80%'
				});
			});
		})