extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.sub-servicios-section
		section.banner-interior-section-img.sub-servicios--padding-top(style=`background-image: url('../${STATIC_URL}img/img-bg-banner-interior.jpg')`)
			.banner-interior2-content
				.banner-interior2_box
					.banner-interior--texto-group
						h1.titulo-h1-interior.titulo--color3.banner-interior--h1.banner-interior--h1 PIEZAS ORIGINALES DEL COMPRESOR ATLAS COPCO
						p.parrafo-banner-interior.parrafo--color2.banner-interior--p.banner-interior--padding-bottom
							| Evite daños o pérdida de rendimiento en sus compresores. Mantenga alejado el polvo y la suciedad con los filtros y separadores de compresor originales.
						a.botton.botton--color3( href='') contacta un asesor
				.banner-interior__box2-img(style=`background-image: url('../${STATIC_URL}img/img-banner-interior-der.jpg')`)
		section.sub-servicios-item-section
			.sub-servicios-item-content
				.sub-servicios__item-box
					.componente-icono-titulo-parrafo--img(style=`background-image: url('../${STATIC_URL}img/icono-vida-sub-servicio.jpg')`)
					h4.titulo-h4.titulo--color2 Mejora la vida útil
					p.parrafo-general.parrafo--color1.parrafo--align-center
						| El filtrado de alta calidad mantiene el compresor en marcha
				.sub-servicios__item-box
					.componente-icono-titulo-parrafo--img(style=`background-image: url('../${STATIC_URL}img/icono-contaminacion-sub-servicio.jpg')`)
					h4.titulo-h4.titulo--color2 Evite la contaminación
					p.parrafo-general.parrafo--color1.parrafo--align-center
						| El filtrado de alta calidad mantiene el compresor en marcha
				.sub-servicios__item-box
					.componente-icono-titulo-parrafo--img(style=`background-image: url('../${STATIC_URL}img/icono-consumo-sub-servicio.jpg')`)
					h4.titulo-h4.titulo--color2 Reduzca el consumo de aceite
					p.parrafo-general.parrafo--color1.parrafo--align-center
						| El filtrado de alta calidad mantiene el compresor en marcha
		section.sub-servicios-texto
			.sub-servicios-texto-content
				.sub-servicios-texto-box
					h4.titulo-h4.titulo--color2 Maximice la vida útil del compresor
					p.parrafo-general.parrafo--color1.parrafo--align-justify
						| La contaminación por polvo y la suciedad puede provocar daños o pérdidas de rendimiento de los rotores y sus alojamientos. Los cartuchos específicos y el alto grado de eficiencia de filtrado garantizan el tiempo de funcionamiento de la instalación. Fabricados para soportar altas presiones, nuestros filtros ofrecen una excelente vida de servicio gracias a su alta capacidad de retención de suciedad y resistencia a la temperatura.
				.sub-servicios-texto-box
					h4.titulo-h4.titulo--color2 Maximice la vida útil del compresor
					p.parrafo-general.parrafo--color1.parrafo--align-justify
						| La contaminación por polvo y la suciedad puede provocar daños o pérdidas de rendimiento de los rotores y sus alojamientos. Los cartuchos específicos y el alto grado de eficiencia de filtrado garantizan el tiempo de funcionamiento de la instalación. Fabricados para soportar altas presiones, nuestros filtros ofrecen una excelente vida de servicio gracias a su alta capacidad de retención de suciedad y resistencia a la temperatura.
				.sub-servicios-texto-box
					h4.titulo-h4.titulo--color2 Maximice la vida útil del compresor
					p.parrafo-general.parrafo--color1.parrafo--align-justify
						| La contaminación por polvo y la suciedad puede provocar daños o pérdidas de rendimiento de los rotores y sus alojamientos. Los cartuchos específicos y el alto grado de eficiencia de filtrado garantizan el tiempo de funcionamiento de la instalación. Fabricados para soportar altas presiones, nuestros filtros ofrecen una excelente vida de servicio gracias a su alta capacidad de retención de suciedad y resistencia a la temperatura.
				.sub-servicios__content-redes
					.sub-servicios__box1-redes
						ul
							li
								a.sub-servicios__icono-box( href='') descargar brochure
							li
								a.sub-servicios__icono-box2( href='') ver video
					.sub-servicios__box2-redes
						ul
							li
								a.icon-Artboard-29( href='')
							li
								a.icon-social-twitter( href='')
							li
								a.icon-Artboard-32( href='')
							li
								a.icon-Artboard-33( href='')
							li
								a.icon-Artboard-34( href='')
		section.sub-servicios-otros-servicios
			h2.titulo-h2.titulo--color2.titulo--align-center Otros Servicios
			.sub-servicios__slider-content
				ul.sub-servicios__slider
					- for (var x = 0; x < 6; x++)
						li
							.componente-producto1-box
								.componente-producto1__box-white
								.componente-producto1__btn-oculto
									a(href='') VER SERVICIO
								.componente-producto1__img(style=`background-image: url('../${STATIC_URL}img/img-producto-muestra.jpg')`)
								.componente-producto1__btn
									a(href='') GX - Compresores de tornillo rotativos con inyeccion
			
//- js
append scripts
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(()=>{
			$('.sub-servicios__slider').slick({
				slidesToShow: 4,
				slidesToScroll: 1,
				infinite: true,
				autoplay: true,
				arrows: true,
				 responsive: [
					{
						breakpoint: 1216,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 1215,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 940,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 575,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});


			$('.sub-servicios-item-section').waypoint(function(direction) {
				if (direction === 'down') {
					$('.sub-servicios__item-box').each((k, el) => {
						setTimeout(() => {
							$(el).addClass('active')
						}, 500 * k)
					})
				}
				}, {
					offset:'100%'
				});

		})