extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='3').table-box--th-blue.table-box--table-border Tamaño de filtro
						th(colspan='2', rowspan='2').table-box--bg-celeste.table-box--table-border Capacidad nominal
						th(colspan='2', rowspan='2').table-box--bg-celeste.table-box--table-border Máxima presión
						th(rowspan='2').table-box--bg-celeste.table-box--table-border Conexiones
						th(colspan='3').table-box--bg-celeste.table-box--table-border Dimensiones
						th(rowspan='2').table-box--bg-celeste.table-box--table-border Peso
					tr.table-box--height-head
						th.table-box--bg-celeste.table-box--table-border.table-box--table-width A
						th.table-box--bg-celeste.table-box--table-border.table-box--table-width B
						th.table-box--bg-celeste.table-box--table-border.table-box--table-width C
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width l/s
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width cfm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width bar
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width psig
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width pulgadas
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width KG
				tbody.table-box--table-border
					tr.table-box--height-body
						td.table-box--border-bottom2 9+
						td.table-box--border-bottom2.table-box--bg-celeste2 9
						td.table-box--border-bottom2 19
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 3/8
						td.table-box--border-bottom2 90
						td.table-box--border-bottom2.table-box--bg-celeste2 61
						td.table-box--border-bottom2 268
						td.table-box--border-bottom2.table-box--bg-celeste2 1
					tr.table-box--height-body
						td.table-box--border-bottom2 15+
						td.table-box--border-bottom2.table-box--bg-celeste2 15
						td.table-box--border-bottom2 32
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 1/2
						td.table-box--border-bottom2 90
						td.table-box--border-bottom2.table-box--bg-celeste2 61
						td.table-box--border-bottom2 268
						td.table-box--border-bottom2.table-box--bg-celeste2 1.1
					tr.table-box--height-body
						td.table-box--border-bottom2 25+
						td.table-box--border-bottom2.table-box--bg-celeste2 25
						td.table-box--border-bottom2 53
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 1/2
						td.table-box--border-bottom2 90
						td.table-box--border-bottom2.table-box--bg-celeste2 61
						td.table-box--border-bottom2 323
						td.table-box--border-bottom2.table-box--bg-celeste2 1.3
					tr.table-box--height-body
						td.table-box--border-bottom2 45+
						td.table-box--border-bottom2.table-box--bg-celeste2 45
						td.table-box--border-bottom2 96
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 3/4 & 1
						td.table-box--border-bottom2 110
						td.table-box--border-bottom2.table-box--bg-celeste2 99
						td.table-box--border-bottom2 374
						td.table-box--border-bottom2.table-box--bg-celeste2 1.6
					tr.table-box--height-body
						td.table-box--border-bottom2 60+
						td.table-box--border-bottom2.table-box--bg-celeste2 60
						td.table-box--border-bottom2 127
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 1
						td.table-box--border-bottom2 110
						td.table-box--border-bottom2.table-box--bg-celeste2 99
						td.table-box--border-bottom2 414
						td.table-box--border-bottom2.table-box--bg-celeste2 2.1
					tr.table-box--height-body
						td.table-box--border-bottom2 100+
						td.table-box--border-bottom2.table-box--bg-celeste2 100
						td.table-box--border-bottom2 212
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 1
						td.table-box--border-bottom2 140
						td.table-box--border-bottom2.table-box--bg-celeste2 105
						td.table-box--border-bottom2 425
						td.table-box--border-bottom2.table-box--bg-celeste2 3.7
					tr.table-box--height-body
						td.table-box--border-bottom2 140+
						td.table-box--border-bottom2.table-box--bg-celeste2 140
						td.table-box--border-bottom2 297
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 11/2
						td.table-box--border-bottom2 140
						td.table-box--border-bottom2.table-box--bg-celeste2 105
						td.table-box--border-bottom2 520
						td.table-box--border-bottom2.table-box--bg-celeste2 4.2
					tr.table-box--height-body
						td.table-box--border-bottom2 180+
						td.table-box--border-bottom2.table-box--bg-celeste2 180
						td.table-box--border-bottom2 381
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 11/2
						td.table-box--border-bottom2 140
						td.table-box--border-bottom2.table-box--bg-celeste2 105
						td.table-box--border-bottom2 603
						td.table-box--border-bottom2.table-box--bg-celeste2 4.5
					tr.table-box--height-body
						td.table-box--border-bottom2 220+
						td.table-box--border-bottom2.table-box--bg-celeste2 220
						td.table-box--border-bottom2 466
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 11/2
						td.table-box--border-bottom2 140
						td.table-box--border-bottom2.table-box--bg-celeste2 105
						td.table-box--border-bottom2 603
						td.table-box--border-bottom2.table-box--bg-celeste2 4.6
					tr.table-box--height-body
						td.table-box--border-bottom2 310+
						td.table-box--border-bottom2.table-box--bg-celeste2 310
						td.table-box--border-bottom2 657
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 2 & 2 1/2
						td.table-box--border-bottom2 179
						td.table-box--border-bottom2.table-box--bg-celeste2 121
						td.table-box--border-bottom2 689
						td.table-box--border-bottom2.table-box--bg-celeste2 6.9
					tr.table-box--height-body
						td.table-box--border-bottom2 425+
						td.table-box--border-bottom2.table-box--bg-celeste2 425
						td.table-box--border-bottom2 901
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 3
						td.table-box--border-bottom2 210
						td.table-box--border-bottom2.table-box--bg-celeste2 128
						td.table-box--border-bottom2 791
						td.table-box--border-bottom2.table-box--bg-celeste2 11
					tr.table-box--height-body
						td.table-box--border-bottom2 550+
						td.table-box--border-bottom2.table-box--bg-celeste2 550
						td.table-box--border-bottom2 1165
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 3
						td.table-box--border-bottom2 210
						td.table-box--border-bottom2.table-box--bg-celeste2 128
						td.table-box--border-bottom2 961
						td.table-box--border-bottom2.table-box--bg-celeste2 12.6
					
		
//- js
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})