extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='2').table-box--th-blue.table-box--table-border TIPO
						th(colspan='4').table-box--bg-celeste.table-box--table-border Pureza del nitrógeno
						th.table-box--bg-celeste.table-box--table-border Dimensiones
						th.table-box--bg-celeste.table-box--table-border Peso
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 95%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 96%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 97%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width KG
				tbody.table-box--table-border
					tr.table-box--height-body
						td(rowspan='3').table-box--border-bottom2 NGM 1
						td.table-box--bg-celeste2 FDN Nm³/h
						td 11,9
						td.table-box--bg-celeste2 9,7
						td 7,6
						td(rowspan='3').table-box--bg-celeste2.table-box--border-bottom2 820x772x2090
						td(rowspan='3').table-box--border-bottom2 259
					tr.table-box--height-body
						td.table-box--bg-celeste2 FDN scfm
						td 6,9
						td.table-box--bg-celeste2 5,7
						td 4,4
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 Factor de aire
						td.table-box--border-bottom2 2,6
						td.table-box--border-bottom2.table-box--bg-celeste2 3
						td.table-box--border-bottom2 3,5
					tr.table-box--height-body
						td(rowspan='3').table-box--border-bottom2 NGM 2
						td.table-box--bg-celeste2 FDN Nm³/h
						td 24,1
						td.table-box--bg-celeste2 19,4
						td 15,1
						td(rowspan='3').table-box--bg-celeste2.table-box--border-bottom2 820x772x2090
						td(rowspan='3').table-box--border-bottom2 268
					tr.table-box--height-body
						td.table-box--bg-celeste2 FDN scfm
						td 14,1
						td.table-box--bg-celeste2 11,3
						td 8,8
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 Factor de aire
						td.table-box--border-bottom2 2,6
						td.table-box--border-bottom2.table-box--bg-celeste2 3
						td.table-box--border-bottom2 3,5
					tr.table-box--height-body
						td(rowspan='3').table-box--border-bottom2 NGM 3
						td.table-box--bg-celeste2 FDN Nm³/h
						td 42,1
						td.table-box--bg-celeste2 34,6
						td 27,4
						td(rowspan='3').table-box--bg-celeste2.table-box--border-bottom2 820x772x2090
						td(rowspan='3').table-box--border-bottom2 285
					tr.table-box--height-body
						td.table-box--bg-celeste2 FDN scfm
						td 24,6
						td.table-box--bg-celeste2 20,2
						td 16,0
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 Factor de aire
						td.table-box--border-bottom2 2,6
						td.table-box--border-bottom2.table-box--bg-celeste2 3
						td.table-box--border-bottom2 3,5
					tr.table-box--height-body
						td(rowspan='3').table-box--border-bottom2 NGM 4
						td.table-box--bg-celeste2 FDN Nm³/h
						td 83,9
						td.table-box--bg-celeste2 69,5
						td 54,7
						td(rowspan='3').table-box--bg-celeste2.table-box--border-bottom2 820x1470x2090
						td(rowspan='3').table-box--border-bottom2 445
					tr.table-box--height-body
						td.table-box--bg-celeste2 FDN scfm
						td 48,9
						td.table-box--bg-celeste2 40,5
						td 31,9
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 Factor de aire
						td.table-box--border-bottom2 2,6
						td.table-box--border-bottom2.table-box--bg-celeste2 3
						td.table-box--border-bottom2 3,5
					tr.table-box--height-body
						td(rowspan='3').table-box--border-bottom2 NGM 5
						td.table-box--bg-celeste2 FDN Nm³/h
						td 126,0
						td.table-box--bg-celeste2 104,0
						td 82,1
						td(rowspan='3').table-box--bg-celeste2.table-box--border-bottom2 820x1470x2090
						td(rowspan='3').table-box--border-bottom2 497
					tr.table-box--height-body
						td.table-box--bg-celeste2 FDN scfm
						td 73,5
						td.table-box--bg-celeste2 60,7
						td 47,9
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 Factor de aire
						td.table-box--border-bottom2 2,6
						td.table-box--border-bottom2.table-box--bg-celeste2 3
						td.table-box--border-bottom2 3,5
					tr.table-box--height-body
						td(rowspan='3').table-box--border-bottom2 NGM 6
						td.table-box--bg-celeste2 FDN Nm³/h
						td 168,1
						td.table-box--bg-celeste2 138,6
						td 109,1
						td(rowspan='3').table-box--bg-celeste2.table-box--border-bottom2 820x1470x2090
						td(rowspan='3').table-box--border-bottom2 535
					tr.table-box--height-body
						td.table-box--bg-celeste2 FDN scfm
						td 98,1
						td.table-box--bg-celeste2 80,9
						td 63,6
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 Factor de aire
						td.table-box--border-bottom2 2,6
						td.table-box--border-bottom2.table-box--bg-celeste2 3
						td.table-box--border-bottom2 3,5
					tr.table-box--height-body
						td(rowspan='3').table-box--border-bottom2 NGM 7
						td.table-box--bg-celeste2 FDN Nm³/h
						td 209,9
						td.table-box--bg-celeste2 173,2
						td 136,4
						td(rowspan='3').table-box--bg-celeste2.table-box--border-bottom2 820x1470x2090
						td(rowspan='3').table-box--border-bottom2 571
					tr.table-box--height-body
						td.table-box--bg-celeste2 FDN scfm
						td 122,4
						td.table-box--bg-celeste2 101,0
						td 79,6
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 Factor de aire
						td.table-box--border-bottom2 2,6
						td.table-box--border-bottom2.table-box--bg-celeste2 3
						td.table-box--border-bottom2 3,5
							
//- js
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})