extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='2').table-box--th-blue.table-box--table-border Modelo
						th(colspan='2').table-box--bg-celeste.table-box--table-border Desplazamiento nominal
						th.table-box--bg-celeste.table-box--table-border Presión final
						th(colspan='2').table-box--bg-celeste.table-box--table-border Cantidad de aceite
						th.table-box--bg-celeste.table-box--table-border Rango de nivel sonoro
						th.table-box--bg-celeste.table-box--table-border Rango de temperatura ambiente permitida
						th.table-box--bg-celeste.table-box--table-border Peso bruto
						th(rowspan='2').table-box--bg-celeste.table-box--table-border Tamaño de conexión de entrada
						th(rowspan='2').table-box--bg-celeste.table-box--table-border Tamaño de conexión de salida
						th(colspan='2').table-box--bg-celeste.table-box--table-border Potencia al eje
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width m3/h
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width cfm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mbar(a)
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width litros
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width galones
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width dB(A)
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width °C
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width kg
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width kW
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width HP
				tbody.table-box--table-border
					tr.table-box--height-body
						td.table-box--border-bottom2 GHS 350 VSD+
						td.table-box--border-bottom2.table-box--bg-celeste2 390
						td.table-box--border-bottom2 230
						td.table-box--border-bottom2.table-box--bg-celeste2 0,35
						td.table-box--border-bottom2 16
						td.table-box--border-bottom2.table-box--bg-celeste2 4,2
						td.table-box--border-bottom2 51-65
						td.table-box--border-bottom2.table-box--bg-celeste2 0 a 46
						td.table-box--border-bottom2 550
						td.table-box--border-bottom2.table-box--bg-celeste2 DN80 (PN6)
						td.table-box--border-bottom2 21/2" BSP
						td.table-box--border-bottom2.table-box--bg-celeste2 5,5
						td.table-box--border-bottom2 7,5
					tr.table-box--height-body
						td.table-box--border-bottom2 GHS 585 VSD+
						td.table-box--border-bottom2.table-box--bg-celeste2 560
						td.table-box--border-bottom2 330
						td.table-box--border-bottom2.table-box--bg-celeste2 0,35
						td.table-box--border-bottom2 16
						td.table-box--border-bottom2.table-box--bg-celeste2 4,2
						td.table-box--border-bottom2 51-68
						td.table-box--border-bottom2.table-box--bg-celeste2 0 a 46
						td.table-box--border-bottom2 550
						td.table-box--border-bottom2.table-box--bg-celeste2 DN80 (PN6)
						td.table-box--border-bottom2 21/2" BSP
						td.table-box--border-bottom2.table-box--bg-celeste2 7,5
						td.table-box--border-bottom2 10
					tr.table-box--height-body
						td.table-box--border-bottom2 GHS 730 VSD+
						td.table-box--border-bottom2.table-box--bg-celeste2 730
						td.table-box--border-bottom2 430
						td.table-box--border-bottom2.table-box--bg-celeste2 0,35
						td.table-box--border-bottom2 16
						td.table-box--border-bottom2.table-box--bg-celeste2 4,2
						td.table-box--border-bottom2 51-73
						td.table-box--border-bottom2.table-box--bg-celeste2 0 a 46
						td.table-box--border-bottom2 560
						td.table-box--border-bottom2.table-box--bg-celeste2 DN80 (PN6)
						td.table-box--border-bottom2 21/2" BSP
						td.table-box--border-bottom2.table-box--bg-celeste2 11
						td.table-box--border-bottom2 15
					tr.table-box--height-body
						td.table-box--border-bottom2 GHS 900 VSD+
						td.table-box--border-bottom2.table-box--bg-celeste2 870
						td.table-box--border-bottom2 510
						td.table-box--border-bottom2.table-box--bg-celeste2 0,35
						td.table-box--border-bottom2 16
						td.table-box--border-bottom2.table-box--bg-celeste2 4,2
						td.table-box--border-bottom2 51-76
						td.table-box--border-bottom2.table-box--bg-celeste2 0 a 46
						td.table-box--border-bottom2 570
						td.table-box--border-bottom2.table-box--bg-celeste2 DN80 (PN6)
						td.table-box--border-bottom2 21/2" BSP
						td.table-box--border-bottom2.table-box--bg-celeste2 15
						td.table-box--border-bottom2 20


					
//- js
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})