extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='2').table-box--th-blue.table-box--table-border Modelo
						th(colspan='2').table-box--bg-celeste.table-box--table-border Presión de Trabajo máxima
						th(colspan='3').table-box--bg-celeste.table-box--table-border Capacidad FAD
						th(colspan='2').table-box--bg-celeste.table-box--table-border Potencia instalada del motor
						th.table-box--bg-celeste.table-box--table-border Nivel Sonoro
						th.table-box--bg-celeste.table-box--table-border Peso
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width bar(e)
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width psig
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width l/s
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width m3/h
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width cfm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width kW
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width HP
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width dB(A)
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width KG
				tbody.table-box--table-border
					tr.table-box--height-body
						td(colspan='10').table-box--horizontal-full.table-box--bg-celeste Versión 60Hz
					tr.table-box--height-body
						td GX 2
						td 10,3
						td 150
						td 4,0
						td 14,4
						td 8,5
						td 2,2
						td 3
						td 61
						td 165
					tr.table-box--height-body
						td.table-box--bg-celeste2 GX 4
						td.table-box--bg-celeste2 10,3
						td.table-box--bg-celeste2 150
						td.table-box--bg-celeste2 7,8
						td.table-box--bg-celeste2 28,1
						td.table-box--bg-celeste2 16,5
						td.table-box--bg-celeste2 4
						td.table-box--bg-celeste2 5
						td.table-box--bg-celeste2 62
						td.table-box--bg-celeste2 165
					tr.table-box--height-body
						td GX 5
						td 10,3
						td 150
						td 10,0
						td 36,0
						td 21,2
						td 5,5
						td 7,5
						td 64
						td 165
		
//- js
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})