extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='3').table-box--th-blue.table-box--table-border Modelo
						th(colspan='2', rowspan='2').table-box--bg-celeste.table-box--table-border Punto de rocío de +5°C Capacidad de entrada
						th(colspan='2', rowspan='2').table-box--bg-celeste.table-box--table-border Presión máxima de trabajo
						th(rowspan='2').table-box--bg-celeste.table-box--table-border Suministro eléctrico
						th(colspan='3').table-box--bg-celeste.table-box--table-border Dimensiones
						th(rowspan='2').table-box--bg-celeste.table-box--table-border Peso
					tr.table-box--height-head
						th.table-box--bg-celeste.table-box--table-border.table-box--table-width Longitud
						th.table-box--bg-celeste.table-box--table-border.table-box--table-width Anchura
						th.table-box--bg-celeste.table-box--table-border.table-box--table-width Altura
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width l/s
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width cfm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width bar
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width psi
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width KG
				tbody.table-box--table-border
					tr.table-box--height-body
						td(colspan='10').table-box--horizontal-full.table-box--bg-celeste Versión 60Hz
					tr.table-box--height-body
						td.table-box--border-bottom2 FX1
						td.table-box--border-bottom2.table-box--bg-celeste2 7
						td.table-box--border-bottom2 14
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 500
						td.table-box--border-bottom2.table-box--bg-celeste2 350
						td.table-box--border-bottom2 484
						td.table-box--border-bottom2.table-box--bg-celeste2 19
					tr.table-box--height-body
						td.table-box--border-bottom2 FX2
						td.table-box--border-bottom2.table-box--bg-celeste2 12
						td.table-box--border-bottom2 24
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 500
						td.table-box--border-bottom2.table-box--bg-celeste2 350
						td.table-box--border-bottom2 484
						td.table-box--border-bottom2.table-box--bg-celeste2 19
					tr.table-box--height-body
						td.table-box--border-bottom2 FX3
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 35
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 500
						td.table-box--border-bottom2.table-box--bg-celeste2 350
						td.table-box--border-bottom2 484
						td.table-box--border-bottom2.table-box--bg-celeste2 20
					tr.table-box--height-body
						td.table-box--border-bottom2 FX4
						td.table-box--border-bottom2.table-box--bg-celeste2 23
						td.table-box--border-bottom2 49
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 500
						td.table-box--border-bottom2.table-box--bg-celeste2 350
						td.table-box--border-bottom2 484
						td.table-box--border-bottom2.table-box--bg-celeste2 25
					tr.table-box--height-body
						td.table-box--border-bottom2 FX5
						td.table-box--border-bottom2.table-box--bg-celeste2 35
						td.table-box--border-bottom2 74
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 500
						td.table-box--border-bottom2.table-box--bg-celeste2 350
						td.table-box--border-bottom2 484
						td.table-box--border-bottom2.table-box--bg-celeste2 27
					tr.table-box--height-body
						td.table-box--border-bottom2 FX6
						td.table-box--border-bottom2.table-box--bg-celeste2 45
						td.table-box--border-bottom2 95
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 500
						td.table-box--border-bottom2.table-box--bg-celeste2 370
						td.table-box--border-bottom2 804
						td.table-box--border-bottom2.table-box--bg-celeste2 51
					tr.table-box--height-body
						td.table-box--border-bottom2 FX7
						td.table-box--border-bottom2.table-box--bg-celeste2 58
						td.table-box--border-bottom2 122
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 500
						td.table-box--border-bottom2.table-box--bg-celeste2 370
						td.table-box--border-bottom2 804
						td.table-box--border-bottom2.table-box--bg-celeste2 51
					tr.table-box--height-body
						td.table-box--border-bottom2 FX8
						td.table-box--border-bottom2.table-box--bg-celeste2 69
						td.table-box--border-bottom2 146
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 560
						td.table-box--border-bottom2.table-box--bg-celeste2 460
						td.table-box--border-bottom2 829
						td.table-box--border-bottom2.table-box--bg-celeste2 61
					tr.table-box--height-body
						td.table-box--border-bottom2 FX9
						td.table-box--border-bottom2.table-box--bg-celeste2 79
						td.table-box--border-bottom2 167
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 560
						td.table-box--border-bottom2.table-box--bg-celeste2 460
						td.table-box--border-bottom2 829
						td.table-box--border-bottom2.table-box--bg-celeste2 68
					tr.table-box--height-body
						td.table-box--border-bottom2 FX10
						td.table-box--border-bottom2.table-box--bg-celeste2 100
						td.table-box--border-bottom2 211
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 560
						td.table-box--border-bottom2.table-box--bg-celeste2 460
						td.table-box--border-bottom2 829
						td.table-box--border-bottom2.table-box--bg-celeste2 73
					tr.table-box--height-body
						td.table-box--border-bottom2 FX11
						td.table-box--border-bottom2.table-box--bg-celeste2 125
						td.table-box--border-bottom2 264
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 560
						td.table-box--border-bottom2.table-box--bg-celeste2 580
						td.table-box--border-bottom2 939
						td.table-box--border-bottom2.table-box--bg-celeste2 90
					tr.table-box--height-body
						td.table-box--border-bottom2 FX12
						td.table-box--border-bottom2.table-box--bg-celeste2 148
						td.table-box--border-bottom2 313
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 230/1/60 Hz
						td.table-box--border-bottom2 560
						td.table-box--border-bottom2.table-box--bg-celeste2 580
						td.table-box--border-bottom2 939
						td.table-box--border-bottom2.table-box--bg-celeste2 90
					tr.table-box--height-body
						td.table-box--border-bottom2 FX13
						td.table-box--border-bottom2.table-box--bg-celeste2 192
						td.table-box--border-bottom2 407
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 460/3/60 Hz
						td.table-box--border-bottom2 898
						td.table-box--border-bottom2.table-box--bg-celeste2 735
						td.table-box--border-bottom2 1002
						td.table-box--border-bottom2.table-box--bg-celeste2 173
					tr.table-box--height-body
						td.table-box--border-bottom2 FX14
						td.table-box--border-bottom2.table-box--bg-celeste2 230
						td.table-box--border-bottom2 488
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 460/3/60 Hz
						td.table-box--border-bottom2 898
						td.table-box--border-bottom2.table-box--bg-celeste2 735
						td.table-box--border-bottom2 1002
						td.table-box--border-bottom2.table-box--bg-celeste2 178
					tr.table-box--height-body
						td.table-box--border-bottom2 FX15
						td.table-box--border-bottom2.table-box--bg-celeste2 288
						td.table-box--border-bottom2 611
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 460/3/60 Hz
						td.table-box--border-bottom2 898
						td.table-box--border-bottom2.table-box--bg-celeste2 735
						td.table-box--border-bottom2 1002
						td.table-box--border-bottom2.table-box--bg-celeste2 183
					tr.table-box--height-body
						td.table-box--border-bottom2 FX16
						td.table-box--border-bottom2.table-box--bg-celeste2 345
						td.table-box--border-bottom2 731
						td.table-box--border-bottom2.table-box--bg-celeste2 13
						td.table-box--border-bottom2 189
						td.table-box--border-bottom2.table-box--bg-celeste2 460/3/60 Hz
						td.table-box--border-bottom2 898
						td.table-box--border-bottom2.table-box--bg-celeste2 735
						td.table-box--border-bottom2 1002
						td.table-box--border-bottom2.table-box--bg-celeste2 183
					
//- js
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})