extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='2').table-box--th-blue.table-box--table-border TIPO
						th(colspan='10').table-box--bg-celeste.table-box--table-border Pureza del nitrógeno de FND (suministro libre de nitrógeno)
						th.table-box--bg-celeste.table-box--table-border Dimensiones
						th.table-box--bg-celeste.table-box--table-border Peso
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 95%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 97%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 98%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 99%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 99,50%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 99,90%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 99,95%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 99,99%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 99,999%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width Kg
				tbody.table-box--table-border
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 NGP 10
						td.table-box--border-bottom2.table-box--bg-celeste2 FND scfm
						td.table-box--border-bottom2 13,1
						td.table-box--border-bottom2.table-box--bg-celeste2 10,2
						td.table-box--border-bottom2 8,6
						td.table-box--border-bottom2.table-box--bg-celeste2 6,6
						td.table-box--border-bottom2 5,4
						td.table-box--border-bottom2.table-box--bg-celeste2 3,5
						td.table-box--border-bottom2 2,6
						td.table-box--border-bottom2.table-box--bg-celeste2 1,8
						td.table-box--border-bottom2 1,0
						td.table-box--border-bottom2.table-box--bg-celeste2 798 x 840 x 2022
						td.table-box--border-bottom2 244
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FND Nm&sup3;/h
						td.table-box--border-bottom2 22,3
						td.table-box--border-bottom2.table-box--bg-celeste2 17,4
						td.table-box--border-bottom2 14,6
						td.table-box--border-bottom2.table-box--bg-celeste2 11,3
						td.table-box--border-bottom2 9,1
						td.table-box--border-bottom2.table-box--bg-celeste2 5,9
						td.table-box--border-bottom2 4,4
						td.table-box--border-bottom2.table-box--bg-celeste2 3,1
						td.table-box--border-bottom2 1,7
						td.table-box--border-bottom2.table-box--bg-celeste2 
						td.table-box--border-bottom2
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 NGP 12
						td.table-box--border-bottom2.table-box--bg-celeste2 FND scfm
						td.table-box--border-bottom2 16,9
						td.table-box--border-bottom2.table-box--bg-celeste2 13,2
						td.table-box--border-bottom2 11,1
						td.table-box--border-bottom2.table-box--bg-celeste2 8,5
						td.table-box--border-bottom2 6,9
						td.table-box--border-bottom2.table-box--bg-celeste2 4,5
						td.table-box--border-bottom2 3,4
						td.table-box--border-bottom2.table-box--bg-celeste2 2,3
						td.table-box--border-bottom2 1,3
						td.table-box--border-bottom2.table-box--bg-celeste2 798 x 840 x 2022
						td.table-box--border-bottom2 257
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FND Nm&sup3;/h
						td.table-box--border-bottom2 28,8
						td.table-box--border-bottom2.table-box--bg-celeste2 22,4
						td.table-box--border-bottom2 18,8
						td.table-box--border-bottom2.table-box--bg-celeste2 14,5
						td.table-box--border-bottom2 11,7
						td.table-box--border-bottom2.table-box--bg-celeste2 7,6
						td.table-box--border-bottom2 5,7
						td.table-box--border-bottom2.table-box--bg-celeste2 3,9
						td.table-box--border-bottom2 2,2
						td.table-box--border-bottom2.table-box--bg-celeste2 
						td.table-box--border-bottom2
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 NGP 15
						td.table-box--border-bottom2.table-box--bg-celeste2 FND scfm
						td.table-box--border-bottom2 20,7
						td.table-box--border-bottom2.table-box--bg-celeste2 16,1
						td.table-box--border-bottom2 13,5
						td.table-box--border-bottom2.table-box--bg-celeste2 10,4
						td.table-box--border-bottom2 8,4
						td.table-box--border-bottom2.table-box--bg-celeste2 5,5
						td.table-box--border-bottom2 4,1
						td.table-box--border-bottom2.table-box--bg-celeste2 2,8
						td.table-box--border-bottom2 1,6
						td.table-box--border-bottom2.table-box--bg-celeste2 798 x 840 x 2022
						td.table-box--border-bottom2 270
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FND Nm&sup3;/h
						td.table-box--border-bottom2 35,2
						td.table-box--border-bottom2.table-box--bg-celeste2 27,4
						td.table-box--border-bottom2 23,0
						td.table-box--border-bottom2.table-box--bg-celeste2 17,7
						td.table-box--border-bottom2 14,3
						td.table-box--border-bottom2.table-box--bg-celeste2 9,3
						td.table-box--border-bottom2 7,0
						td.table-box--border-bottom2.table-box--bg-celeste2 4,8
						td.table-box--border-bottom2 2,7
						td.table-box--border-bottom2.table-box--bg-celeste2 
						td.table-box--border-bottom2
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 NGP 20
						td.table-box--border-bottom2.table-box--bg-celeste2 FND scfm
						td.table-box--border-bottom2 26,3
						td.table-box--border-bottom2.table-box--bg-celeste2 20,5
						td.table-box--border-bottom2 17,2
						td.table-box--border-bottom2.table-box--bg-celeste2 13,2
						td.table-box--border-bottom2 10,7
						td.table-box--border-bottom2.table-box--bg-celeste2 6,9
						td.table-box--border-bottom2 5,2
						td.table-box--border-bottom2.table-box--bg-celeste2 3,6
						td.table-box--border-bottom2 2,0
						td.table-box--border-bottom2.table-box--bg-celeste2 798 x 840 x 2022
						td.table-box--border-bottom2 306
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FND Nm&sup3;/h
						td.table-box--border-bottom2 44,7
						td.table-box--border-bottom2.table-box--bg-celeste2 34,9
						td.table-box--border-bottom2 29,3
						td.table-box--border-bottom2.table-box--bg-celeste2 22,5
						td.table-box--border-bottom2 18,2
						td.table-box--border-bottom2.table-box--bg-celeste2 11,8
						td.table-box--border-bottom2 8,9
						td.table-box--border-bottom2.table-box--bg-celeste2 6,1
						td.table-box--border-bottom2 3,4
						td.table-box--border-bottom2.table-box--bg-celeste2 
						td.table-box--border-bottom2
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 NGP 25
						td.table-box--border-bottom2.table-box--bg-celeste2 FND scfm
						td.table-box--border-bottom2 33,8
						td.table-box--border-bottom2.table-box--bg-celeste2 26,4
						td.table-box--border-bottom2 22,1
						td.table-box--border-bottom2.table-box--bg-celeste2 17,1
						td.table-box--border-bottom2 13,8
						td.table-box--border-bottom2.table-box--bg-celeste2 8,9
						td.table-box--border-bottom2 6,7
						td.table-box--border-bottom2.table-box--bg-celeste2 4,6
						td.table-box--border-bottom2 2,6
						td.table-box--border-bottom2.table-box--bg-celeste2 798 x 840 x 2022
						td.table-box--border-bottom2 339
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FND Nm&sup3;/h
						td.table-box--border-bottom2 57,5
						td.table-box--border-bottom2.table-box--bg-celeste2 44,9
						td.table-box--border-bottom2 37,6
						td.table-box--border-bottom2.table-box--bg-celeste2 29,0
						td.table-box--border-bottom2 23,4
						td.table-box--border-bottom2.table-box--bg-celeste2 15,2
						td.table-box--border-bottom2 11,4
						td.table-box--border-bottom2.table-box--bg-celeste2 7,9
						td.table-box--border-bottom2 4,4
						td.table-box--border-bottom2.table-box--bg-celeste2 
						td.table-box--border-bottom2
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 NGP 30
						td.table-box--border-bottom2.table-box--bg-celeste2 FND scfm
						td.table-box--border-bottom2 41,3
						td.table-box--border-bottom2.table-box--bg-celeste2 32,3
						td.table-box--border-bottom2 27,0
						td.table-box--border-bottom2.table-box--bg-celeste2 20,9
						td.table-box--border-bottom2 16,8
						td.table-box--border-bottom2.table-box--bg-celeste2 10,9
						td.table-box--border-bottom2 8,2
						td.table-box--border-bottom2.table-box--bg-celeste2 5,7
						td.table-box--border-bottom2 3,1
						td.table-box--border-bottom2.table-box--bg-celeste2 798 x 840 x 2022
						td.table-box--border-bottom2 360
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FND Nm&sup3;/h
						td.table-box--border-bottom2 70,3
						td.table-box--border-bottom2.table-box--bg-celeste2 54,9
						td.table-box--border-bottom2 46,0
						td.table-box--border-bottom2.table-box--bg-celeste2 35,5
						td.table-box--border-bottom2 28,6
						td.table-box--border-bottom2.table-box--bg-celeste2 18,6
						td.table-box--border-bottom2 14,0
						td.table-box--border-bottom2.table-box--bg-celeste2 9,7
						td.table-box--border-bottom2 5,3
						td.table-box--border-bottom2.table-box--bg-celeste2 
						td.table-box--border-bottom2
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 NGP 35
						td.table-box--border-bottom2.table-box--bg-celeste2 FND scfm
						td.table-box--border-bottom2 50,7
						td.table-box--border-bottom2.table-box--bg-celeste2 39,6
						td.table-box--border-bottom2 33,2
						td.table-box--border-bottom2.table-box--bg-celeste2 25,6
						td.table-box--border-bottom2 20,6
						td.table-box--border-bottom2.table-box--bg-celeste2 13,4
						td.table-box--border-bottom2 10,1
						td.table-box--border-bottom2.table-box--bg-celeste2 7,3
						td.table-box--border-bottom2 4,2
						td.table-box--border-bottom2.table-box--bg-celeste2 798 x 840 x 2022
						td.table-box--border-bottom2 599
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FND Nm&sup3;/h
						td.table-box--border-bottom2 86,3
						td.table-box--border-bottom2.table-box--bg-celeste2 67,3
						td.table-box--border-bottom2 56,5
						td.table-box--border-bottom2.table-box--bg-celeste2 43,5
						td.table-box--border-bottom2 35,1
						td.table-box--border-bottom2.table-box--bg-celeste2 22,8
						td.table-box--border-bottom2 17,1
						td.table-box--border-bottom2.table-box--bg-celeste2 12,4
						td.table-box--border-bottom2 7,1
						td.table-box--border-bottom2.table-box--bg-celeste2 
						td.table-box--border-bottom2
//- js
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})