extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='2').table-box--th-blue.table-box--table-border TIPO
						th(colspan='4').table-box--bg-celeste.table-box--table-border Pureza del oxígeno de FOD (suministro libre de oxígeno)
						th.table-box--bg-celeste.table-box--table-border Dimensiones
						th.table-box--bg-celeste.table-box--table-border Peso
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 90%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 93%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 95%
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width Kg
				tbody.table-box--table-border
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 OGP 2
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD Nm&sup3;/h
						td.table-box--border-bottom2 2,1
						td.table-box--border-bottom2.table-box--bg-celeste2 1,6
						td.table-box--border-bottom2 1,5
						td(rowspan='2').table-box--border-bottom2.table-box--bg-celeste2 600 x 600 x 1550
						td(rowspan='2').table-box--border-bottom2 100
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD scfm
						td.table-box--border-bottom2 1,3
						td.table-box--border-bottom2.table-box--bg-celeste2 1,1
						td.table-box--border-bottom2 0,8
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 OGP 3
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD Nm&sup3;/h
						td.table-box--border-bottom2 3,2
						td.table-box--border-bottom2.table-box--bg-celeste2 2,5
						td.table-box--border-bottom2 2,5
						td(rowspan='2').table-box--border-bottom2.table-box--bg-celeste2 600 x 600 x 1550
						td(rowspan='2').table-box--border-bottom2 150
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD scfm
						td.table-box--border-bottom2 1,9
						td.table-box--border-bottom2.table-box--bg-celeste2 1,5
						td.table-box--border-bottom2 1,5
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 OGP 4
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD Nm&sup3;/h
						td.table-box--border-bottom2 4,0
						td.table-box--border-bottom2.table-box--bg-celeste2 3,6
						td.table-box--border-bottom2 3,2
						td(rowspan='2').table-box--border-bottom2.table-box--bg-celeste2 600 x 600 x 1550
						td(rowspan='2').table-box--border-bottom2 180
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD scfm
						td.table-box--border-bottom2 2,3
						td.table-box--border-bottom2.table-box--bg-celeste2 2,1
						td.table-box--border-bottom2 1,9
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 OGP 5
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD Nm&sup3;/h
						td.table-box--border-bottom2 4,7
						td.table-box--border-bottom2.table-box--bg-celeste2 4,3
						td.table-box--border-bottom2 4,0
						td(rowspan='2').table-box--border-bottom2.table-box--bg-celeste2 700 x 700 x 1900
						td(rowspan='2').table-box--border-bottom2 230
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD scfm
						td.table-box--border-bottom2 2,8
						td.table-box--border-bottom2.table-box--bg-celeste2 2,5
						td.table-box--border-bottom2 2,3
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 OGP 6
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD Nm&sup3;/h
						td.table-box--border-bottom2 6,5
						td.table-box--border-bottom2.table-box--bg-celeste2 5,8
						td.table-box--border-bottom2 5,4
						td(rowspan='2').table-box--border-bottom2.table-box--bg-celeste2 800 x 900 x 1750
						td(rowspan='2').table-box--border-bottom2 400
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD scfm
						td.table-box--border-bottom2 3,8
						td.table-box--border-bottom2.table-box--bg-celeste2 3,4
						td.table-box--border-bottom2 3,2
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 OGP 8
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD Nm&sup3;/h
						td.table-box--border-bottom2 7,9
						td.table-box--border-bottom2.table-box--bg-celeste2 7,2
						td.table-box--border-bottom2 6,8
						td(rowspan='2').table-box--border-bottom2.table-box--bg-celeste2 800 x 900 x 1750
						td(rowspan='2').table-box--border-bottom2 700
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD scfm
						td.table-box--border-bottom2 4,7
						td.table-box--border-bottom2.table-box--bg-celeste2 4,2
						td.table-box--border-bottom2 4,0
					tr.table-box--height-body
						td(rowspan='2').table-box--border-bottom2 OGP 10
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD Nm&sup3;/h
						td.table-box--border-bottom2 9,7
						td.table-box--border-bottom2.table-box--bg-celeste2 9,0
						td.table-box--border-bottom2 8,3
						td(rowspan='2').table-box--border-bottom2.table-box--bg-celeste2 900 x 1200 x 2100
						td(rowspan='2').table-box--border-bottom2 950
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 FOD scfm
						td.table-box--border-bottom2 5,7
						td.table-box--border-bottom2.table-box--bg-celeste2 5,3
						td.table-box--border-bottom2 4,9
					
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})