extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='3').table-box--th-blue.table-box--table-border TIPO DE BOMBA
						th(rowspan='2', colspan='2').table-box--bg-celeste.table-box--table-border Velocidad de bombeo
						th(colspan='2').table-box--bg-celeste.table-box--table-border Presión final
						th.table-box--bg-celeste.table-box--table-border Potencia del motor
						th(colspan='3').table-box--bg-celeste.table-box--table-border Dimensiones generales
						th(rowspan='2').table-box--bg-celeste.table-box--table-border Nivel sonoro
					tr.table-box--height-head
						th(colspan='2').table-box--bg-celeste2.table-box--table-border.table-box--table-width Lastre de gas cerrado
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width Monofásico
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width Longitud
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width Ancho
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width Altura
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width m&sup3;/h
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width cfm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mbar
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width Torr
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width 60 Hz (W)
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width mm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width dB(A)
				tbody.table-box--table-border
					tr.table-box--height-body
						td.table-box--border-bottom2 GVD 0,7
						td.table-box--border-bottom2.table-box--bg-celeste2 0,7/0,95
						td.table-box--border-bottom2 0,4/0,5
						td.table-box--border-bottom2.table-box--bg-celeste2 3,0 x 10&sup3;
						td.table-box--border-bottom2 2,3 x 13&sup3;
						td.table-box--border-bottom2.table-box--bg-celeste2 90
						td.table-box--border-bottom2 151
						td.table-box--border-bottom2.table-box--bg-celeste2 324
						td.table-box--border-bottom2 178
						td.table-box--border-bottom2.table-box--bg-celeste2 43
					tr.table-box--height-body
						td.table-box--border-bottom2 GVD 1,5
						td.table-box--border-bottom2.table-box--bg-celeste2 1,6/2,0
						td.table-box--border-bottom2 0,8/1,2
						td.table-box--border-bottom2.table-box--bg-celeste2 3,0 x 10&sup3;
						td.table-box--border-bottom2 2,3 x 10&sup3;
						td.table-box--border-bottom2.table-box--bg-celeste2 160
						td.table-box--border-bottom2 151
						td.table-box--border-bottom2.table-box--bg-celeste2 324
						td.table-box--border-bottom2 178
						td.table-box--border-bottom2.table-box--bg-celeste2 54
					tr.table-box--height-body
						td.table-box--border-bottom2 GVD 3
						td.table-box--border-bottom2.table-box--bg-celeste2 3,3/3,9
						td.table-box--border-bottom2 2/2,3
						td.table-box--border-bottom2.table-box--bg-celeste2 2,0 x 10&sup3;
						td.table-box--border-bottom2 1,5 x 10&sup3;
						td.table-box--border-bottom2.table-box--bg-celeste2 550
						td.table-box--border-bottom2 170
						td.table-box--border-bottom2.table-box--bg-celeste2 430
						td.table-box--border-bottom2 229
						td.table-box--border-bottom2.table-box--bg-celeste2 48
					tr.table-box--height-body
						td.table-box--border-bottom2 GVD 5
						td.table-box--border-bottom2.table-box--bg-celeste2 5,1/6,2
						td.table-box--border-bottom2 3,0/3,7
						td.table-box--border-bottom2.table-box--bg-celeste2 2,0 x 10&sup3;
						td.table-box--border-bottom2 1,5 x 10&sup3;
						td.table-box--border-bottom2.table-box--bg-celeste2 550
						td.table-box--border-bottom2 170
						td.table-box--border-bottom2.table-box--bg-celeste2 430
						td.table-box--border-bottom2 229
						td.table-box--border-bottom2.table-box--bg-celeste2 48
					tr.table-box--height-body
						td.table-box--border-bottom2 GVD 8
						td.table-box--border-bottom2.table-box--bg-celeste2 8,5/10
						td.table-box--border-bottom2 5/5,9
						td.table-box--border-bottom2.table-box--bg-celeste2 2,0 x 10&sup3;
						td.table-box--border-bottom2 1,5 x 10&sup3;
						td.table-box--border-bottom2.table-box--bg-celeste2 550
						td.table-box--border-bottom2 180
						td.table-box--border-bottom2.table-box--bg-celeste2 470
						td.table-box--border-bottom2 265
						td.table-box--border-bottom2.table-box--bg-celeste2 48
					tr.table-box--height-body
						td.table-box--border-bottom2 GVD 12
						td.table-box--border-bottom2.table-box--bg-celeste2 12/14,2
						td.table-box--border-bottom2 7,1/8,4
						td.table-box--border-bottom2.table-box--bg-celeste2 2,0 x 10&sup3;
						td.table-box--border-bottom2 1,5 x 10&sup3;
						td.table-box--border-bottom2.table-box--bg-celeste2 550
						td.table-box--border-bottom2 180
						td.table-box--border-bottom2.table-box--bg-celeste2 490
						td.table-box--border-bottom2 265
						td.table-box--border-bottom2.table-box--bg-celeste2 48
					tr.table-box--height-body
						td.table-box--border-bottom2 GVD 18
						td.table-box--border-bottom2.table-box--bg-celeste2 17/20,4
						td.table-box--border-bottom2 10/12,1
						td.table-box--border-bottom2.table-box--bg-celeste2 1,0 x 10&sup3;
						td.table-box--border-bottom2 7,7 x 10
						td.table-box--border-bottom2.table-box--bg-celeste2 750
						td.table-box--border-bottom2 183
						td.table-box--border-bottom2.table-box--bg-celeste2 520
						td.table-box--border-bottom2 272
						td.table-box--border-bottom2.table-box--bg-celeste2 57
					tr.table-box--height-body
						td.table-box--border-bottom2 GVD 28***
						td.table-box--border-bottom2.table-box--bg-celeste2 27,5/33,0
						td.table-box--border-bottom2 16,2/19,5
						td.table-box--border-bottom2.table-box--bg-celeste2 1,0 x 10&sup3;
						td.table-box--border-bottom2 7,7 x 10
						td.table-box--border-bottom2.table-box--bg-celeste2 900
						td.table-box--border-bottom2 183
						td.table-box--border-bottom2.table-box--bg-celeste2 584
						td.table-box--border-bottom2 272
						td.table-box--border-bottom2.table-box--bg-celeste2 57
//- js
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})