extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='2').table-box--th-blue.table-box--table-border Modelo
						th(colspan='2', rowspan='1').table-box--bg-celeste.table-box--table-border Clima frío FAD del sistema
						th(colspan='2', rowspan='1').table-box--bg-celeste.table-box--table-border Clima suave FAD del sistema
						th(colspan='2', rowspan='1').table-box--bg-celeste.table-box--table-border Conexiones
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width l/s
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width cfm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width l/s
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width cfm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width l/s
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width cfm
				tbody.table-box--table-border
					tr.table-box--height-body
						td.table-box--border-bottom2 OSC 35
						td.table-box--border-bottom2.table-box--bg-celeste2 65
						td.table-box--border-bottom2 138
						td.table-box--border-bottom2.table-box--bg-celeste2 35
						td.table-box--border-bottom2 75
						td.table-box--border-bottom2.table-box--bg-celeste2 17
						td.table-box--border-bottom2 36
					tr.table-box--height-body
						td.table-box--border-bottom2 OSC 95
						td.table-box--border-bottom2.table-box--bg-celeste2 180
						td.table-box--border-bottom2 382
						td.table-box--border-bottom2.table-box--bg-celeste2 95
						td.table-box--border-bottom2 201
						td.table-box--border-bottom2.table-box--bg-celeste2 45
						td.table-box--border-bottom2 95
					tr.table-box--height-body
						td.table-box--border-bottom2 OSC 145
						td.table-box--border-bottom2.table-box--bg-celeste2 270
						td.table-box--border-bottom2 572
						td.table-box--border-bottom2.table-box--bg-celeste2 145
						td.table-box--border-bottom2 307
						td.table-box--border-bottom2.table-box--bg-celeste2 70
						td.table-box--border-bottom2 148
					tr.table-box--height-body
						td.table-box--border-bottom2 OSC 355
						td.table-box--border-bottom2.table-box--bg-celeste2 665
						td.table-box--border-bottom2 1410
						td.table-box--border-bottom2.table-box--bg-celeste2 355
						td.table-box--border-bottom2 753
						td.table-box--border-bottom2.table-box--bg-celeste2 170
						td.table-box--border-bottom2 360
					tr.table-box--height-body
						td.table-box--border-bottom2 OSC 600
						td.table-box--border-bottom2.table-box--bg-celeste2 1150
						td.table-box--border-bottom2 2438
						td.table-box--border-bottom2.table-box--bg-celeste2 605
						td.table-box--border-bottom2 1283
						td.table-box--border-bottom2.table-box--bg-celeste2 290
						td.table-box--border-bottom2 615
					tr.table-box--height-body
						td.table-box--border-bottom2 OSC 825
						td.table-box--border-bottom2.table-box--bg-celeste2 1550
						td.table-box--border-bottom2 3286
						td.table-box--border-bottom2.table-box--bg-celeste2 825
						td.table-box--border-bottom2 1749
						td.table-box--border-bottom2.table-box--bg-celeste2 400
						td.table-box--border-bottom2 848
					tr.table-box--height-body
						td.table-box--border-bottom2 OSC 1200
						td.table-box--border-bottom2.table-box--bg-celeste2 2220
						td.table-box--border-bottom2 4706
						td.table-box--border-bottom2.table-box--bg-celeste2 1180
						td.table-box--border-bottom2 2502
						td.table-box--border-bottom2.table-box--bg-celeste2 570
						td.table-box--border-bottom2 1208
					tr.table-box--height-body
						td.table-box--border-bottom2 OSC 2400
						td.table-box--border-bottom2.table-box--bg-celeste2 4440
						td.table-box--border-bottom2 9413
						td.table-box--border-bottom2.table-box--bg-celeste2 2360
						td.table-box--border-bottom2 5003
						td.table-box--border-bottom2.table-box--bg-celeste2 1145
						td.table-box--border-bottom2 2427
		
//- js
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})