extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='3').table-box--th-blue.table-box--table-border Modelo de Purgador
						th(colspan='2', rowspan='2').table-box--bg-celeste.table-box--table-border Capacidad nominal
						th(colspan='2', rowspan='2').table-box--bg-celeste.table-box--table-border Máxima presión
						th(colspan='2', rowspan='2').table-box--bg-celeste.table-box--table-border Conexiones
						th(colspan='3').table-box--bg-celeste.table-box--table-border Dimensiones
					tr.table-box--height-head
						th.table-box--bg-celeste.table-box--table-border.table-box--table-width Largo
						th.table-box--bg-celeste.table-box--table-border.table-box--table-width Ancho
						th.table-box--bg-celeste.table-box--table-border.table-box--table-width Alto
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width l/s
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width cfm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width bar
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width psig
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width Ingreso
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width Salida
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width pulgadas
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width pulgadas
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width pulgadas
				tbody.table-box--table-border
					tr.table-box--height-body
						td.table-box--border-bottom2 EWD 50
						td.table-box--border-bottom2.table-box--bg-celeste2 65.12
						td.table-box--border-bottom2 138
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 1/2"
						td.table-box--border-bottom2 1/2"
						td.table-box--border-bottom2.table-box--bg-celeste2 6.7
						td.table-box--border-bottom2 2.8
						td.table-box--border-bottom2.table-box--bg-celeste2 4.5
					tr.table-box--height-body
						td.table-box--border-bottom2 EWD 75
						td.table-box--border-bottom2.table-box--bg-celeste2 98.16
						td.table-box--border-bottom2 208
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 1/2"
						td.table-box--border-bottom2 1/2"
						td.table-box--border-bottom2.table-box--bg-celeste2 5.9
						td.table-box--border-bottom2 2.6
						td.table-box--border-bottom2.table-box--bg-celeste2 5.6
					tr.table-box--height-body
						td.table-box--border-bottom2 EWD 330
						td.table-box--border-bottom2.table-box--bg-celeste2 432.77
						td.table-box--border-bottom2 917
						td.table-box--border-bottom2.table-box--bg-celeste2 16
						td.table-box--border-bottom2 232
						td.table-box--border-bottom2.table-box--bg-celeste2 1/2"
						td.table-box--border-bottom2 1/2"
						td.table-box--border-bottom2.table-box--bg-celeste2 8.3
						td.table-box--border-bottom2 3.7
						td.table-box--border-bottom2.table-box--bg-celeste2 6.4
					
//- js
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})