extends ./_common/base.pug

//- css
append css
	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.table-section
		.table-content
			table.table-box
				thead.table-box--border-bottom
					tr.table-box--height-head
						th(rowspan='2').table-box--th-blue.table-box--table-border Modelo
						th(colspan='2').table-box--bg-celeste.table-box--table-border Presión de Trabajo
						th(colspan='3').table-box--bg-celeste.table-box--table-border Capacidad FAD (mím-má)
						th(colspan='2').table-box--bg-celeste.table-box--table-border Potencia instalada del motor
						th.table-box--bg-celeste.table-box--table-border Nivel Sonoro
						th.table-box--bg-celeste.table-box--table-border Peso
					tr.table-box--height-head
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width bar
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width psig
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width l/s
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width m3/h
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width cfm
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width kW
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width HP
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width dB(A)
						th.table-box--bg-celeste2.table-box--table-border.table-box--table-width KG
				tbody.table-box--table-border
					tr.table-box--height-body
						td(colspan='10').table-box--horizontal-full.table-box--bg-celeste Versión 60Hz
					tr.table-box--height-body
						td(rowspan='4').table-box--border-bottom2 GA 7 VSD+
						td.table-box--bg-celeste2 5,5
						td 80
						td.table-box--bg-celeste2 7,2-21,9
						td 25,9-78,8
						td.table-box--bg-celeste2 15,2-46,4
						td 7,5
						td.table-box--bg-celeste2 10
						td 62
						td.table-box--bg-celeste2 193
					tr.table-box--height-body
						td.table-box--bg-celeste2 7
						td 102
						td.table-box--bg-celeste2 7,0-2,17
						td 25,2-78,1
						td.table-box--bg-celeste2 14,8-46,0
						td 7,5
						td.table-box--bg-celeste2 10
						td 62
						td.table-box--bg-celeste2 193
					tr.table-box--height-body
						td.table-box--bg-celeste2 9,5
						td 138
						td.table-box--bg-celeste2 6,8-18,0
						td 24,5-64,8
						td.table-box--bg-celeste2 14,4-38,1
						td 7,5
						td.table-box--bg-celeste2 10
						td 62
						td.table-box--bg-celeste2 193
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 12,5
						td.table-box--border-bottom2 181
						td.table-box--border-bottom2.table-box--bg-celeste2 7,3-32,9
						td.table-box--border-bottom2 26,3-51,12
						td.table-box--border-bottom2.table-box--bg-celeste2 15,5-30,1
						td.table-box--border-bottom2 7,5
						td.table-box--border-bottom2.table-box--bg-celeste2 10
						td.table-box--border-bottom2 62
						td.table-box--border-bottom2.table-box--bg-celeste2 193
					tr.table-box--height-body
						td(rowspan='4').table-box--border-bottom2 GA 11 VSD+
						td.table-box--bg-celeste2 5,5
						td 80
						td.table-box--bg-celeste2 7,3-32,9
						td 26,3-118,4
						td.table-box--bg-celeste2 15,5-69,7
						td 11
						td.table-box--bg-celeste2 15
						td 63
						td.table-box--bg-celeste2 196
					tr.table-box--height-body
						td.table-box--bg-celeste2 7
						td 102
						td.table-box--bg-celeste2 7,3-32,5
						td 26,3-117,0
						td.table-box--bg-celeste2 15,5-69,8
						td 11
						td.table-box--bg-celeste2 15
						td 63
						td.table-box--bg-celeste2 196
					tr.table-box--height-body
						td.table-box--bg-celeste2 9,5
						td 138
						td.table-box--bg-celeste2 7,0-27,2
						td 25,2-97,9
						td.table-box--bg-celeste2 14,8-57,6
						td 11
						td.table-box--bg-celeste2 15
						td 63
						td.table-box--bg-celeste2 196
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 12,5
						td.table-box--border-bottom2 181
						td.table-box--border-bottom2.table-box--bg-celeste2 7,6-23,5
						td.table-box--border-bottom2 27,4-84,6
						td.table-box--border-bottom2.table-box--bg-celeste2 16,1-49,8
						td.table-box--border-bottom2 11
						td.table-box--border-bottom2.table-box--bg-celeste2 15
						td.table-box--border-bottom2 63
						td.table-box--border-bottom2.table-box--bg-celeste2 196
					tr.table-box--height-body
						td(rowspan='4').table-box--border-bottom2 GA 15 VSD+
						td.table-box--bg-celeste2 5,5
						td 80
						td.table-box--bg-celeste2 7,2-42,3
						td 25,9-152,3
						td.table-box--bg-celeste2 15,2-89,6
						td 15
						td.table-box--bg-celeste2 20
						td 64
						td.table-box--bg-celeste2 199
					tr.table-box--height-body
						td.table-box--bg-celeste2 7
						td 102
						td.table-box--bg-celeste2 7,1-41,8
						td 25,6-150,5
						td.table-box--bg-celeste2 15,0-89,6
						td 15
						td.table-box--bg-celeste2 20
						td 64
						td.table-box--bg-celeste2 199
					tr.table-box--height-body
						td.table-box--bg-celeste2 9,5
						td 138
						td.table-box--bg-celeste2 6,8-35,5
						td 24,5-127,8
						td.table-box--bg-celeste2 14,4-75,2
						td 15
						td.table-box--bg-celeste2 20
						td 64
						td.table-box--bg-celeste2 199
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 12,5
						td.table-box--border-bottom2 181
						td.table-box--border-bottom2.table-box--bg-celeste2 7,3-27,9
						td.table-box--border-bottom2 23,3-100,4
						td.table-box--border-bottom2.table-box--bg-celeste2 15,5-59,1
						td.table-box--border-bottom2 15
						td.table-box--border-bottom2.table-box--bg-celeste2 20
						td.table-box--border-bottom2 64
						td.table-box--border-bottom2.table-box--bg-celeste2 199
					tr.table-box--height-body
						td(rowspan='4').table-box--border-bottom2 GA 18 VSD+
						td.table-box--bg-celeste2 5,5
						td 80
						td.table-box--bg-celeste2 15,0-63,2
						td 53,9-227,5
						td.table-box--bg-celeste2 31,7-133,8
						td 18
						td.table-box--bg-celeste2 25
						td 67
						td.table-box--bg-celeste2 367
					tr.table-box--height-body
						td.table-box--bg-celeste2 7
						td 102
						td.table-box--bg-celeste2 14,7-61,8
						td 53,0-222,6
						td.table-box--bg-celeste2 31,2-131,0
						td 18
						td.table-box--bg-celeste2 25
						td 67
						td.table-box--bg-celeste2 367
					tr.table-box--height-body
						td.table-box--bg-celeste2 9,5
						td 138
						td.table-box--bg-celeste2 16,9-53,0
						td 61,0-190,8
						td.table-box--bg-celeste2 35,9-112,3
						td 18
						td.table-box--bg-celeste2 25
						td 67
						td.table-box--bg-celeste2 367
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 12,5
						td.table-box--border-bottom2 181
						td.table-box--border-bottom2.table-box--bg-celeste2 16,3-43,0
						td.table-box--border-bottom2 58,5-154,8
						td.table-box--border-bottom2.table-box--bg-celeste2 34,4-91,1
						td.table-box--border-bottom2 18
						td.table-box--border-bottom2.table-box--bg-celeste2 25
						td.table-box--border-bottom2 67
						td.table-box--border-bottom2.table-box--bg-celeste2 367
					tr.table-box--height-body
						td(rowspan='4').table-box--border-bottom2 GA 22 VSD+
						td.table-box--bg-celeste2 5,5
						td 80
						td.table-box--bg-celeste2 15,2-76,1
						td 54,6-274,0
						td.table-box--bg-celeste2 32,1-161,2
						td 22
						td.table-box--bg-celeste2 30
						td 67
						td.table-box--bg-celeste2 363
					tr.table-box--height-body
						td.table-box--bg-celeste2 7
						td 102
						td.table-box--bg-celeste2 14,8-74,3
						td 53,3-267,6
						td.table-box--bg-celeste2 31,3-157,4
						td 22
						td.table-box--bg-celeste2 30
						td 67
						td.table-box--bg-celeste2 363
					tr.table-box--height-body
						td.table-box--bg-celeste2 9,5
						td 138
						td.table-box--bg-celeste2 17,1-64,5
						td 61,5-232,1
						td.table-box--bg-celeste2 36,2-136,6
						td 22
						td.table-box--bg-celeste2 30
						td 67
						td.table-box--bg-celeste2 363
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 12,5
						td.table-box--border-bottom2 181
						td.table-box--border-bottom2.table-box--bg-celeste2 16,9-53,5
						td.table-box--border-bottom2 60,7-192,5
						td.table-box--border-bottom2.table-box--bg-celeste2 35,7-113,2
						td.table-box--border-bottom2 22
						td.table-box--border-bottom2.table-box--bg-celeste2 30
						td.table-box--border-bottom2 67
						td.table-box--border-bottom2.table-box--bg-celeste2 363
					tr.table-box--height-body
						td(rowspan='4').table-box--border-bottom2 GA 26 VSD+
						td.table-box--bg-celeste2 5,5
						td 80
						td.table-box--bg-celeste2 14,8-85,8
						td 53,2-309,0
						td.table-box--bg-celeste2 31,3-181,8
						td 26
						td.table-box--bg-celeste2 35
						td 67
						td.table-box--bg-celeste2 373
					tr.table-box--height-body
						td.table-box--bg-celeste2 7
						td 102
						td.table-box--bg-celeste2 14,5-85,3
						td 52,1-307,2
						td.table-box--bg-celeste2 30,6-180,7
						td 26
						td.table-box--bg-celeste2 35
						td 67
						td.table-box--bg-celeste2 373
					tr.table-box--height-body
						td.table-box--bg-celeste2 9,5
						td 138
						td.table-box--bg-celeste2 16,9-77,9
						td 60,7-280,5
						td.table-box--bg-celeste2 35,7-165,1
						td 26
						td.table-box--bg-celeste2 35
						td 67
						td.table-box--bg-celeste2 373
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 12,5
						td.table-box--border-bottom2 181
						td.table-box--border-bottom2.table-box--bg-celeste2 16,3-64,1
						td.table-box--border-bottom2 58,8-230,8
						td.table-box--border-bottom2.table-box--bg-celeste2 34,6-135,8
						td.table-box--border-bottom2 26
						td.table-box--border-bottom2.table-box--bg-celeste2 35
						td.table-box--border-bottom2 67
						td.table-box--border-bottom2.table-box--bg-celeste2 373
					tr.table-box--height-body
						td(rowspan='4').table-box--border-bottom2 GA 30 VSD+
						td.table-box--bg-celeste2 5,5
						td 80
						td.table-box--bg-celeste2 15,1-98,0
						td 54,3-352,8
						td.table-box--bg-celeste2 31,9-207,6
						td 30
						td.table-box--bg-celeste2 40
						td 67
						td.table-box--bg-celeste2 376
					tr.table-box--height-body
						td.table-box--bg-celeste2 7
						td 102
						td.table-box--bg-celeste2 15,0-97,4
						td 54,1-350,5
						td.table-box--bg-celeste2 31,8-206,2
						td 30
						td.table-box--bg-celeste2 40
						td 67
						td.table-box--bg-celeste2 376
					tr.table-box--height-body
						td.table-box--bg-celeste2 9,5
						td 138
						td.table-box--bg-celeste2 16,9-77,9
						td 60,7-280,5
						td.table-box--bg-celeste2 35,7-165,1
						td 26
						td.table-box--bg-celeste2 35
						td 67
						td.table-box--bg-celeste2 376
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 12,5
						td.table-box--border-bottom2 181
						td.table-box--border-bottom2.table-box--bg-celeste2 16,7-72,0
						td.table-box--border-bottom2 60,0-259,1
						td.table-box--border-bottom2.table-box--bg-celeste2 35,3-152,4
						td.table-box--border-bottom2 30
						td.table-box--border-bottom2.table-box--bg-celeste2 40
						td.table-box--border-bottom2 67
						td.table-box--border-bottom2.table-box--bg-celeste2 376
					tr.table-box--height-body
						td(rowspan='4').table-box--border-bottom2 GA 37 VSD+
						td.table-box--bg-celeste2 5,5
						td 80
						td.table-box--bg-celeste2 15,3-116,4
						td 55,1-418,9
						td.table-box--bg-celeste2 32,4-246,4
						td 37
						td.table-box--bg-celeste2 50
						td 67
						td.table-box--bg-celeste2 376
					tr.table-box--height-body
						td.table-box--bg-celeste2 7
						td 102
						td.table-box--bg-celeste2 14,8-114,8
						td 53,2-413,2
						td.table-box--bg-celeste2 31,3-243,1
						td 37
						td.table-box--bg-celeste2 50
						td 67
						td.table-box--bg-celeste2 376
					tr.table-box--height-body
						td.table-box--bg-celeste2 9,5
						td 138
						td.table-box--bg-celeste2 17,1-102,1
						td 61,5-367,7
						td.table-box--bg-celeste2 36,2-216,3
						td 37
						td.table-box--bg-celeste2 50
						td 67
						td.table-box--bg-celeste2 376
					tr.table-box--height-body
						td.table-box--border-bottom2.table-box--bg-celeste2 12,5
						td.table-box--border-bottom2 181
						td.table-box--border-bottom2.table-box--bg-celeste2 16,4-86,6
						td.table-box--border-bottom2 58,9-311,8
						td.table-box--border-bottom2.table-box--bg-celeste2 34,6-183,4
						td.table-box--border-bottom2 37
						td.table-box--border-bottom2.table-box--bg-celeste2 50
						td.table-box--border-bottom2 67
						td.table-box--border-bottom2.table-box--bg-celeste2 376
		
//- js
append scripts 
	//- script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			
		})