.alquiler-productos__content
	max-width: 1199px
	margin: 0 auto
	height: auto
.alquiler-productos-section
	padding-bottom: 70px
.alquiler-productos__busqueda
	max-width: 1200px
	margin: 0 auto
	margin-top: -50px
.alquiler-productos__busqueda-top
	width: 100%
	max-width: 1199px
	padding-bottom: 50px
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin: 0 auto
	position: relative
	margin-top: -50px
	background-color: $blanco
.alquiler-productos__boton
	display: flex
	justify-content: space-between
.alquiler-productos__tab-btn
	cursor: pointer
	height: 90px
	width: 268px
	padding-left: 10px
	padding-right: 10px
	box-sizing: border-box
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	font-family: $t-0
	font-size: 19px
	background-color: $blanco
	transition-duration: 0.3s
	border-bottom: solid 3px $blanco
	margin-right: 10px
	margin-left: 10px
	color: $c-0
	position: relative
	&:hover
		background-color: #d7eef7
		border-bottom: solid 3px $c-1
		color: #002e6d
	&:before
		content: ""
		width: 100%
		position: absolute
		border-bottom: solid 1px $c-4
		bottom: 0
		left: 0
.tablinks.active
	background-color: #d7eef7
	border-bottom: solid 3px $c-1
	color: #002e6d
.alquiler-productos__box-group
	width: 100%
	height: auto
	display: flex
	padding-left: 20px
	padding-right: 20px
	box-sizing: border-box
.alquiler-productos__aside-box
	max-width: 202px
	width: 100%
.alquiler-productos__box
	width: calc(100% - 202px)
	padding-left: 25px
	box-sizing: border-box
.alquiler-productos__busqueda-middle
	height: auto
	width: 100%
.alquiler-productos__busqueda-middle-movil
	height: auto
	width: 100%
.alquiler-productos__busqueda-hr
	position: relative
	&:before
		content: ""
		width: 100%
		border-bottom: solid 1px $c-4
		position: absolute
		bottom: 0
.alquiler-productos__busqueda-h2
	font-family: $t-1
	color: #404041
	font-size: 16px
	height: 50px
	display: flex
	align-items: center
.alquiler-productos__busqueda-h3
	font-family: $t-0
	color: #404041
	font-size: 16px
	height: 50px
	display: flex
	align-items: center
.alquiler-productos__busqueda-input-group
	color: $c-0
	padding-top: 12px
	padding-bottom: 12px
.alquiler-productos__busqueda-input-content
	margin-top: 10px
.alquiler-producto--label
	margin-right: 30px
.alquiler-producto--label
	position: relative
	padding-left: 19px
.alquiler-producto--input
	margin-left: -19px
	margin-top: -21px
// checkbox inicio ***************
.general__input--check--radio
	input[type="checkbox"], input[type="radio"]
		display: none

.general__input--check--radio--label
	display: inline-block

.general__input__inside__container
	display: flex
	align-items: center 

.general__input__figure
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0

.general__input__text
	font-size: 14px
	letter-spacing: 1px
	padding-left: 8px
	box-sizing: border-box
	color: $c-0

.general__input--checkbox
	.general__input__figure
		width: 15px
		height: 15px
		&:before
			width: 100%
			height: 100%
			border-radius: 25px
			border: 2px solid $c-1
			box-sizing: border-box
			margin-top: 2px 
		&:after
			content: "."
			font-family: $t-1
			top: 0
			// transform: translateY(-50%)
			right: 0
			// text-align: center
			margin: auto
			opacity: 0
			visibility: hidden
			font-size: 38px
			font-weight: bold
			transition: all .2s linear
			margin-top: -3px 
			color: $c-1
			line-height: 8px
			height: 15px
			width: 15px
			margin-left: 3px
		
.general__input--check--radio
	input[type="radio"]:checked + .general__input--check--radio--label .general__input__figure:after
		opacity: 1
		visibility: visible
// checkbox final **************

.alquiler-productos__busqueda-filtro
	background-color: $c-2
	padding: 18px 21px 5px 21px
	color: $blanco
	font-family: $t-1
	font-size: 19px
	a
		display: none
.alquiler-productos__busqueda-middle-bloque1
	padding: 18px 0 5px 0
	font-family: $t-0
	font-size: 16px
	color: $c-0
	display: flex
	flex-direction: row-reverse
	flex-wrap: nowrap
	justify-content: space-between
	width: 100%
.alquiler-productos__busqueda-icono-filtro-movil
	padding-left: 35px
	box-sizing: border-box
	display: none
	a
		position: relative
		color: $c-0
		font-size: 14px
		padding-left: 5px
		&:before
			content: "\e913"
			position: absolute
			display: block
			font-family: $icomoon
			font-size: 16px
			left: -14px
			top: -2px
			font-weight: bold
			color: $c-0
// tabla ***********
.alquiler-productos--border-bottom
	border-bottom: solid 5px $blanco
.alquiler-productos__busqueda-tabla
	width: 100%
	text-align: center
.alquiler-productos__busqueda-middle-movil
	display: none
.alquiler-productos__busqueda-tabla-movil
	width: 100%
	text-align: center
.table__headings
	background-color: $c-1
	height: 40px
	font-family: $t-0
	font-size: 16px
	color: $blanco
.stripe-rows
	font-family: $t-0
	font-size: 16px
	color: $c-0
	height: auto
	border-bottom: solid 1px $c-4 
.table__headings--span-separador
	position: relative
	&:before
		content: ""
		position: absolute
		height: 17px
		width: 1px
		border-right: solid 1px $blanco
		right: 0
.img-logo-table
	max-width: 75px
	height: auto
.table__headings--span-icono
	position: relative
	width: 30px
	height: 30px
	cursor: pointer
	margin-left: 10px
	transition-duration: 0.3s
	&:before
		position: absolute
		content: "\e900"
		color: $c-1
		font-family: $icomoon
		font-size: 25px
		left: 0
.table__headings--span-icono-box
	width: 420px
	padding: 17px 25px 17px 17px
	height: auto
	background-color: $blanco
	position: absolute
	margin-top: -157px
	margin-left: 22px
	opacity: 0
	transition-duration: 0.3s
	box-shadow: 0px 0px 10px #cecece
	display: flex
	z-index: -10
@media screen and (min-width: 1024px)
	.table__headings--span-icono:hover
		.table__headings--span-icono-box
			opacity: 1
			z-index: 10
.table__headings--span-icono-box-interior
	width: 40%
	height: auto
	background-color: red
	img
		height: 100%
		width: 100%
.table__headings--span-icono-box-interior2
	width: 60%
	height: auto
	text-align: left
	padding-left: 26px
	h3
		font-family: $t-1
		color: $c-1
		font-size: 16px
	p
		font-family: $t-0
		color: $c-0
		font-size: 14px
		text-align: justify
	a
		font-family: $t-1
		color: $c-2
		font-size: 14px
.table-cells--modificador
	text-align: right
	width: 45px
.table__headings
	padding-left: 7px
	padding-right: 7px
.table__headings--padding-right
	padding-right: 20px
	padding-left: 20px
	position: relative
// boton - tabla ***********
.alquiler-productos__boton-table
	width: 89px
	height: 83px
	background-color: $c-0
	border: none
	font-family: $t-1
	color: $blanco
	font-size: 16px
	text-align: left
	padding-left: 12px
	padding-right: 5px
	padding-bottom: 15px
	transition-duration: 0.3s
	position: relative
	float: right
	&:before
		content: "\e90e"
		position: absolute
		font-family: $icomoon
		font-size: 15px
		bottom: 10px
	a
		color: $blanco
@media screen and (min-width: 1025px)
	.alquiler-productos__boton-table
		&.active, &:hover
			background-color: $c-5
			color: #404041
			a
				color: #404041
// adaptativo ******************************
@media screen and (max-width: 1199px)
	.alquiler-productos__busqueda
		margin-top: -20px
@media screen and (max-width: 1024px)
	.alquiler-productos__boton
		min-height: 60px
		width: 30%
	.alquiler-productos__busqueda-middle
		display: none
	.alquiler-productos__busqueda-middle-movil
		display: block
@media screen and (max-width: 991px)
	.alquiler-productos__box-group
		display: block
	.alquiler-productos__box
		width: 100%
		padding-left: 0
	.alquiler-productos__busqueda-top
		margin-top: 0
		padding-bottom: 30px
	.alquiler-productos__busqueda-filtro
		a
			display: block
			position: relative
			float: right
			margin-top: -37px
			width: 25px
			height: 25px
			&:before
				content: "\e605"
				display: block
				font-family: $icomoon
				font-size: 22px
				right: 0
				top: 0
				position: absolute
				color: $blanco
				font-weight: bold
	.alquiler-productos__aside-box
		max-width: 100%
		height: 100%
		overflow: auto
		padding-bottom: 30px
		box-sizing: border-box
		background: $blanco
		position: fixed
		top: 0
		left: 0
		opacity: 0
		transition: all 0.3s ease-in-out
		z-index: -1
		visibility: hidden
		&.active
			opacity: 1
			z-index: 1600
			visibility: visible
	.alquiler-productos--busqueda-box1-filtro-fondo
		background-color: $negro
		opacity: 0
		width: 100%
		height: 100%
		transition: height 0.3s ease
		z-index: -1
		top: 0
		left: 0
		position: fixed
		visibility: hidden
		&.active
			opacity: 0.4
			z-index: 1500
			visibility: visible
	.no-scroll
		overflow: hidden
	.alquiler-productos--busqueda-box2
		width: calc(100% - 160px)
		padding-left: 10px
	.alquiler-productos__busqueda-h2
		font-size: 14px
	.alquiler-productos__busqueda-input-group
		font-size: 14px
	.alquiler-productos--busqueda-box2
		width: 100%
		padding-left: 0
	.alquiler-productos__busqueda-icono-filtro-movil
		display: block
	.alquiler-productos__busqueda-middle-bloque1
		flex-direction: row
	.alquiler-productos--busqueda-input-content
		padding-left: 20px
		padding-right: 20px

@media screen and (max-width: 767px)
	.alquiler-productos__busqueda-input-group
		padding-top: 0px
	.alquiler-productos__busqueda-h2
		height: 35px
	.alquiler-productos__busqueda-h3
		height: 35px
	.alquiler-productos__boton
		margin-left: 5px
		margin-right: 5px
@media screen and (max-width: 575px)
	.alquiler-productos__busqueda-top
		flex-wrap: wrap
	.alquiler-productos__boton
		margin: 0 auto
		font-size: 16px
		height: auto
	.alquiler-productos--celda-movil
		display: none
	.alquiler-productos__boton
		min-height: 60px
		width: 50%
