.busqueda__productos__banner
	.banner-interior__box
		width: 72%

//buscar resultados

.busqueda__productos__select__container
	background-color: $c-5

.busqueda__productos__select__content
	max-width: 1210px
	padding: 32px 20px
	margin: auto
.busqueda__productos__select__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.busqueda__productos__select__input
	width: 300px
	margin-left: 0
	margin-right: auto
	position: relative
	&:before
		content: '\e608'
		position: absolute
		font-family: $icomoon
		font-size: 22px
		top: 0
		right: 12px
		color: $c-0
		line-height: 2.7
		pointer-events: none
	&:after
		content: '\e609'
		position: absolute
		font-family: $icomoon
		font-size: 22px
		top: 0
		right: 12px
		color: $c-0
		line-height: 1.7
		pointer-events: none
	select
		appearance: none
		-webkit-appearance: none

.busqueda__productos__select__buscar
	width: 290px
	margin-right: 0
	margin-left: auto
	position: relative
	&:before
		content: '\e900'
		position: absolute
		font-family: $icomoon
		font-size: 22px
		top: 0
		right: 14px
		color: $c-0
		line-height: 2.2

.busqueda__productos__input
	border: none
	background-color: $blanco
	width: 100%
	height: 45px
	border-radius: 5px
	padding: 0px 20px
	box-sizing: border-box
	font-family: $t-1
	font-size: 16px
	color: $c-0

//items-productos
.busqueda__productos__items
	padding-bottom: 35px
	padding-top: 45px

.busqueda__productos__items__container
	max-width: 1240px
	padding: 0px 20px
	margin: auto

.busqueda__productos__items__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.busqueda__productos__items__box__container
	width: 31%
	padding: 8px

.busqueda__productos__items__box
	width: 100%
	background-color: $c-8

.busqueda__productos__item
	padding: 45px 35px 30px 35px

.busqueda__productos__item__image
	width: 220px
	margin: auto

.busqueda__productos__item__text
	font-family: $t-1
	font-size: 22px
	color: $c-0
	text-transform: uppercase
	text-align: center
	padding-top: 25px
	p
		margin-bottom: 0

.busque__productos__resultados__number
	font-family: $t-1
	font-size: 36px
	color: $c-3


//filtros
.busqueda__productos__filtros__container
	background-color: $c-1

.busqueda__productos__filtros__content
	max-width: 1210px
	padding: 30px 20px
	margin: auto

.busqueda__productos__filtros__seleccionados
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
	li
		margin: 0
		padding-right: 20px
		padding-bottom: 20px

.busqueda__productos__filtros__box
	background-color: $blanco
	padding: 15px 45px 15px 22px
	border-radius: 4px
	position: relative
	p
		font-family: $t-1
		font-size: 16px
		color: $c-2
		margin-bottom: 0
	&:before
		content: '\e605'
		position: absolute
		font-family: $icomoon
		top: 0
		right: 18px
		font-size: 12px
		color: $c-2
		line-height: 3.8
		cursor: pointer

.busqueda__productos__filtros__btn
	button
		border: none
		background: $c-2
		border-radius: 4px
		color: $blanco
		font-family: $t-1
		font-size: 16px
		padding: 15px 45px 15px 22px
		position: relative
		&:before
			content: '\e605'
			position: absolute
			font-family: $icomoon
			top: 0
			right: 18px
			font-size: 12px
			color: $blanco
			line-height: 3.8

.busqueda__productos__filtros__tabs
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-start

.busqueda__productos__filtros__list
	padding-bottom: 30px

.busqueda__tab--display
	background: white
	width: 21.2%
	margin: 0
	padding: 15px 20px
	border-radius: 4px
	margin-right: 20px
	font-family: $t-1
	font-size: 16px
	color: $c-2
	cursor: pointer
	position: relative
	&:before
		content: '\e608'
		position: absolute
		font-family: $icomoon
		font-size: 22px
		top: 0
		right: 12px
		color: $c-0
		line-height: 2.2
		pointer-events: none
	&.active
		padding-bottom: 30px
		border-bottom: 1px solid $c-4

.busqueda__productos__tabs__container
	// display: flex
	// flex-direction: row
	// flex-wrap: wrap
	// justify-content: flex-start
	background: $blanco
	padding: 25px 30px 50px 30px
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	&.active
		position: relative
		opacity: 1
		visibility: visible

.busqueda__tabs__slider__rango
	width: 96%
	margin: auto
	&.ui-slider-horizontal
		height: 20px
		background: $c-4
		border: none
		border-radius: 20px
	.ui-widget-header
		background: $c-2
	.ui-state-default
		background: $c-1
		border: none
		border-radius: 50%
		width: 28px
		height: 28px

.busqueda__productos__tabs__number
	input
		background: transparent
		position: absolute
		bottom: -22px
		color: $c-2
		border: none
		width: 70px
		font-family: $t-1
		font-size: 16px

.busqueda__productos__tabs__check
	padding-bottom: 25px

.busqueda__productos__tabs__switch
	display: inline-block
	padding-right: 25px
	label
		font-family: $t-1
		font-size: 16px
		color: $c-2

.busqueda__productos__tabs__switch
	.tabs__switch__check__label
		position: relative
		padding-left: 20px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 12px
			height: 12px
			border-radius: 100%
			border: 1px solid $c-2
			margin: auto
			bottom: 0
		&:after
			content: ""
			position: absolute
			font-family: icomoon
			top: 0
			width: 7px
			height: 7px
			left: 3.6px
			border-radius: 100%
			bottom: 0
			text-align: center
			margin: auto	
			opacity: 0
			background: $c-2
	input[type="radio"]
		display: none
	input[type="radio"]:checked + .tabs__switch__check__label
		&:after
			opacity: 1



//tabs-respondive

.busqueda__filtro__responsive__content
	width: 90%
	margin: auto
	background: $c-7
	padding: 20px

.busqueda__filtro__responsive__subtitles
	padding-bottom: 20px
	h4
		font-family: $t-1
		font-size: 16px
		color: $c-2
		margin-bottom: 0
		text-transform: uppercase

.busqueda__filtro__responsive__text
	font-size: 15px
	display: block
	font-family: $t-1
	color: $c-0
	padding-bottom: 10px

.busqueda__filtro__responsive__form
	li
		padding-bottom: 20px

.busqueda__filtro__responsive__box
	input
		width: 100%
		height: 30px
		border-radius: 5px
		border: none
		font-family: $t-0
		font-size: 16px
		color: $c-0
		padding: 0px 10px
		box-sizing: border-box

.busqueda__filtro__responsive__check
	padding-bottom: 25px

.tabs__switch__responsive__label
	font-size: 15px
	display: inline-block
	font-family: $t-1
	color: $c-0

.busqueda__productos__responsive__switch
	display: inline-block
	padding-right: 30px

.busqueda__productos__filtros__responsive
	display: none

.busqueda__filtro__responsive__abrir
	display: none

.busqueda__resultados
	padding: 30px 0px

.busqueda__resultados__container
	max-width: 1200px
	margin: auto
	padding: 0px 20px

.busqueda__resultados__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.busqueda__resultados__box
	width: 23%



@media screen and (max-width: 1100px)
	.busqueda__productos__item__text
		font-size: 20px

@media screen and (max-width: 991px)
	.busqueda__productos__select__content
		&.active
			.busqueda__productos__select__input,
			.busqueda__productos__select__buscar
				display: none

			.busque__productos__resultados__number
				padding-bottom: 0

	.busqueda__filtro__responsive__cerrar,
	.busqueda__filtro__responsive__abrir
		margin-right: auto
		margin-left: auto
		margin-top: 30px
		margin-bottom: 30px
		cursor: pointer
		

	.busqueda__filtro__responsive__container
		padding: 20px 0px

	.busqueda__productos__filtros__responsive
		display: none
		&.active
			display: block

	.busqueda__filtro__responsive__cerrar
		display: block
		&.active
			display: block

	.busqueda__filtro__responsive__abrir
		display: block
		&.active
			display: none
	.busqueda__productos__banner
		.banner-interior__box
			width: 100%
		.parrafo-banner-interior
			font-size: 18px

	.busqueda__productos__items__box__container
		width: 45%

	.busqueda__productos__filtros__box
		p
			font-size: 14px

	.busqueda__productos__filtros__content
		display: none

	.busqueda__productos__select__box
		display: block

	.busqueda__productos__select__input,
	.busqueda__productos__select__buscar
		width: 50%
		margin-right: auto
		margin-left: auto
	
	.busqueda__productos__select__input
		padding-bottom: 20px

	.busque__productos__resultados__number
		text-align: center
		padding-bottom: 20px
		font-size: 30px

	.busqueda__productos__filtros__container
		background: $blanco

@media screen and (max-width: 690px)
	.busqueda__productos__item__text
		font-size: 17px

	.busqueda__productos__item
		padding: 45px 10px 30px 10px

	.busqueda__productos__select__input,
	.busqueda__productos__select__buscar
		width: 70%

@media screen and (max-width: 560px)
	.busqueda__productos__items__box__container
		width: 80%

	.busqueda__productos__filtros__box
		p
			font-size: 13px
	.busqueda__productos__filtros__seleccionados
		li
			padding-bottom: 10px
			padding-top: 10px

	.busqueda__productos__select__input,
	.busqueda__productos__select__buscar
		width: 90%

@media screen and (max-width: 390px)
	.busqueda__productos__items__box__container
		width: 100%

	.busqueda__productos__select__input,
	.busqueda__productos__select__buscar
		width: 100%