.contacto__container
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.contacto__contactanos
	width: 50%
.contacto--text-area
	padding-top: 15px
.contacto__contactanos__background
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	position: relative
	&:before
		content: ''
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background: $c-1
		opacity: 0.8

.contacto__contactanos__content
	max-width: 340px
	padding: 100px 20px
	margin: auto
	position: relative

.contacto__contactanos__title
	padding-bottom: 35px
	h2
		font-size: 32px

.contacto__contactanos__info
	li
		font-family: $t-1
		font-size: 15px
		color: $blanco
		text-transform: uppercase
		padding-bottom: 45px
		letter-spacing: 2px

.contacto__info__list__tel
	padding-top: 15px
	a
		font-family: $t-0
		font-size: 15px
		color: $blanco
	span
		padding: 0px 10px

.contacto__info__list__email
	padding-top: 15px
	a
		font-family: $t-0
		font-size: 15px
		color: $blanco
		text-transform: uppercase
		display: block
		padding-bottom: 10px

.contacto__info__direction
	padding-top: 15px
	font-family: $t-0
	font-size: 15px
	color: $blanco
	text-transform: uppercase
	p
		margin-bottom: 0
		padding-bottom: 10px


.contacto__escribenos
	width: 50%

.contacto__escribenos__content
	max-width: 530px
	padding: 0px 20px
	margin: auto

.contacto__escribenos__title
	padding-bottom: 35px
	h2
		font-size: 32px

.contacto__escribenos__inputs
	li
		padding-bottom: 30px

.input-one-content--phone,
.input-one-content--email
	width: 47%
	display: inline-block

.contacto__escribenos__btn
	padding-top: 20px

@media screen and (max-width: 890px)
	.input-one-content--phone,
	.input-one-content--email
		width: 100%
		display: block

	.contacto__escribenos__inputs
		li
			.input-one--span
				width: 100%

@media screen and (max-width: 690px)
	.contacto__contactanos
		width: 100%

	.contacto__escribenos
		width: 100%

	.contacto__escribenos__content
		padding: 65px 20px

	.contacto__escribenos__title
		h2
			font-size: 27px

	.contacto__contactanos__title
		h2
			font-size: 27px
