.descripcion-producto-alquiler__section
	padding-top: 18px
.descripcion-producto-alquiler__content-miga
	width: 100%
	max-width: 1240px
	margin: auto
	padding: 0 20px
	box-sizing: border-box
	height: auto
.descripcion-producto-alquiler--miga-li
	display: inline-block
	color: $c-10
	font-size: 16px
	font-family: $t-0
.descripcion-producto-alquiler--miga-relative
	position: relative
	width: 20px
	height: 20px
.descripcion-producto-alquiler--miga-span-li
	&:before
		content: "\e606"
		font-family: $icomoon
		font-size: 20px
		color: $c-10
		position: absolute
		top: 5px
		z-index: 1
.descripcion-producto-alquiler__content-redes
	display: flex
	padding-top: 34px
	padding-bottom: 34px
.descripcion-producto-alquiler__content
	padding-bottom: 60px
	margin: 0 auto
.descripcion-producto-alquiler__box1-redes
	transition-duration: 0.3s
	ul
		li
			display: inline-block
			&:nth-child(1)
				padding-right: 47px
.descripcion-producto-alquiler__box2-redes
	ul
		li
			display: inline-block
			margin-right: 12px
		a
			color: #999
			transition-duration: 0.3s
.descripcion-producto-alquiler__data-content
	max-width: 1240px
	margin: 0 auto
	padding: 0 20px
	box-sizing: border-box
.descripcion-producto-alquiler__data-box-content
	display: flex
	flex-direction: row
.descripcion-producto-alquiler__box
	width: 50%
.descripcion-producto-alquiler--padding-right-new
	padding-right: 6.7%
	box-sizing: border-box
.descripcion-producto-alquiler--tabla-h3
	padding-top: 20px
	padding-bottom: 20px
@media screen and (min-width: 1025px)
	.descripcion-producto-alquiler__box1-redes:hover
		ul
			li
				a
					color: $c-2
@media screen and (min-width: 1025px)
	.descripcion-producto-alquiler__box2-redes
		ul
			li
				a:hover
					color: $c-2
.descripcion-producto-alquiler__marca-group
	display: flex
	align-items: center
.descripcion-producto-alquiler__data-producto
	display: flex
	justify-content: space-between
	position: relative
	font-family: $t-0
	font-size: 16px
	margin-top: 25px
	&:before
		content: ""
		border-bottom: solid 1px #c1c1c1
		position: absolute
		width: 100%
		top: 9px
.descripcion-producto-alquiler__data-box
	background: $blanco
	position: relative
	z-index: 1
	max-width: 200px
.descripcion-producto-alquiler--padding-right
	padding-right: 22px
.descripcion-producto-alquiler--padding-left
	padding-left: 22px
.descripcion-producto-alquiler__data-producto-content
	font-family: $t-0
	font-size: 16px
	color: $c-0
	padding-right: 15px
.descripcion-producto-alquiler__info-adicional
	margin-top: 40px
	h3
		font-family: $t-1
		font-size: 20px
		color: $c-0
	p
		font-family: $t-0
		font-size: 16px
		color: $c-0
.descripcion-producto-alquiler__marca-box1
	a
		font-family: $t-0
		font-size: 16px
		color: $c-0
		padding-right: 15px
.descripcion-producto-alquiler__tabla-content
	width: 100%
.descripcion-producto-alquiler--parrafo
	margin-top: 30px
	font-size: 18px
	font-family: $t-1
	color: $c-0
	text-align: justify
	line-height: 1.2
	margin-bottom: 10px
.descripcion-producto-alquiler__tabla
	width: 100%
	text-align: center
.descripcion-producto-alquiler__right
	padding-top: 30px
	width: 50%
.descripcion-producto-alquiler__info__button
	margin-top: 30px
.descripcion-producto-alquiler__modal-form
	background-color: $c-2
	width: 50%
	height: auto
	right: -20%
	margin-top: -60px
	box-sizing: border-box
	padding: 80px 98px 90px 98px
	overflow: auto
	position: fixed
	opacity: 0
	transition: all 0.3s ease-in-out
	z-index: -1
	visibility: hidden
	&.active
		opacity: 1
		z-index: 1600
		visibility: visible
		right: 0
@media screen and (max-width:1024px)
	.descripcion-producto-alquiler--display-none
		display: none
	.descripcion-producto-alquiler--width
		width: 23px
	.descripcion-producto-alquiler__section
		padding-top: 5px
	.descripcion-producto-alquiler__modal-form
		background-color: $c-2
		width: 100%
		height: 100%
		right: -20%
		padding: 60px 30px 40px 30px
		top: 60px
		overflow: auto
@media screen and (max-width:991px)
	.descripcion-producto-alquiler__tabla-content
		overflow-x: scroll
	.descripcion-producto-alquiler__tabla
		width: 100%
		text-align: center
		min-width: 991px
	.descripcion-producto-alquiler__data-producto-content
		padding-right: 0
@media screen and (max-width:960px)
	.descripcion-producto-alquiler__data-box-content
		flex-direction: column
	.descripcion-producto-alquiler__box
		width: 100%
		margin: 0 auto
	.descripcion-producto-alquiler--padding-right-new
		padding-right: 0
	.descripcion-producto-alquiler__content-redes
		flex-direction: column
		text-align: center
	.descripcion-producto-alquiler__box2-redes
		margin-top: 40px
	.descripcion-producto-alquiler__box1-redes
		padding-right: 0
		ul
			li
				&:nth-child(1)
					padding-right: 0
	.descripcion-producto-alquiler__info-adicional
		text-align: center
	.descripcion-producto-alquiler__marca-group
		justify-content: center
	.descripcion-producto-alquiler__info__button
		text-align: center
@media screen and (max-width: 460px)
	.descripcion-producto-alquiler__box1-redes
		ul
			li:nth-child(1)
				padding-right: 0
			li
				display: block
			li:nth-child(2)
				margin-top: 30px