.home__servicios
	padding-top: 50px

.home__servicios__content
	max-width: 58.33%
	width: 100%
	min-height: 386px
	background: $c-6
	position: relative
	box-sizing: border-box
	padding-top: 50px
	padding-left: 260px
	padding-right: 20px
	padding-bottom: 50px
	margin-left: auto
	margin-right: 0

.home__servicios__logo
	max-width: 698px
	width: 100%
	position: absolute
	left: -458px
	bottom: 0
	z-index: 1
	margin: 0
	img
		display: block
		width: 100%
		height: auto

.home__servicios__image
	max-width: 516px
	width: 100%
	position: absolute
	left: -366px
	bottom: 0
	z-index: 2
	margin: 0
	img
		display: block
		width: 100%
		height: auto

.home__servicios__info
	max-width: 510px
	width: 100%
	margin: 0

.home__servicios__title
	margin-bottom: 20px
	h2
		line-height: 1.2
		letter-spacing: 2.52px
		color: $c-1
		font-family: $t-1
		font-weight: normal
		font-size: 14px
	strong
		display: block
		letter-spacing: 0px
		color: $c-2
		font-weight: normal
		font-size: 30px
		margin-top: 10px

.home__servicios__text
	max-width: 460px
	width: 100%
	line-height: 1.4
	font-family: $t-0
	font-size: 18px
	margin: 0
	margin-bottom: 25px
	p
		margin-bottom: 0

// responsive
@media screen and (max-width: 1240px)
	.home__servicios
		padding-top: 4%

	.home__servicios__content
		padding-left: 21%

	.home__servicios__logo
		max-width: 97%
		left: -64%

	.home__servicios__image
		max-width: 72%
		left: -51%

@media screen and (max-width: 1024px)
	.home__servicios
		padding-top: 0

	.home__servicios__title
		strong
			font-size: 24px

	.home__servicios__text
		font-size: 16px

@media screen and (max-width: 960px)
	.home__servicios__content
		max-width: 100%
		min-height: inherit
		padding-left: 20px
		padding-bottom: 50px

	.home__servicios__logo
		display: none

	.home__servicios__image
		display: none
		max-width: 350px
		position: static
		margin: auto

	.home__servicios__info
		max-width: 540px
		text-align: center
		margin: auto

	.home__servicios__text
		max-width: 100%

@media screen and (max-width: 767px)
	.home__servicios__content
		padding: 30px 15px

	.home__servicios__title
		strong
			font-size: 22px