.home__clientes
	background: #fafafa
	padding-top: 40px
	padding-bottom: 50px

.home__clientes__content
	padding: 0 20px

.home__clientes__title
	margin-bottom: 30px
	h2
		color: $c-0
		font-family: $t-1
		font-size: 21px
		text-align: center
		margin-bottom: 0

.home__clientes__slider
	max-width: 1315px
	width: 100%
	margin: auto

.home__clientes__item
	padding: 0 15px

.home__clientes__image
	img
		display: block
		width: auto
		height: 36px

// responsive
@media screen and (max-width: 1460px)
	.home__clientes__slider
		max-width: 960px

@media screen and (max-width: 1024px)
	.home__clientes
		padding-top: 50px

	.home__clientes__slider
		max-width: 840px

@media screen and (max-width: 960px)
	.home__clientes__slider
		max-width: 680px

@media screen and (max-width: 767px)
	.home__clientes
		padding-top: 40px
		padding-bottom: 40px

	.home__clientes__content
		padding-left: 15px
		padding-right: 15px