.home__alquiler
	padding-top: 65px
	padding-bottom: 75px

.home__alquiler__content
	max-width: 1080px
	width: 100%
	box-sizing: border-box
	padding: 0 20px
	margin: auto

.home__alquiler__title
	text-align: center
	margin-bottom: 40px
	h2
		letter-spacing: 2.52px
		color: $c-1
		font-family: $t-1
		font-weight: normal
		font-size: 14px
		margin-bottom: 0
	strong
		display: block
		letter-spacing: 0px
		color: $c-2
		font-weight: normal
		font-size: 30px
		margin-top: 15px

.home__alquiler__items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center

.home__alquiler__item
	display: flex
	flex-direction: column
	justify-content: center
	width: calc(25% - 10px)
	height: 245px
	background: $c-7
	text-align: center
	position: relative
	box-sizing: border-box
	padding: 0 10px
	margin: 0
	margin-top: 10px
	margin-left: 5px
	margin-right: 5px
	@media screen and (min-width: 1025px)
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0)
		transform: scale(1)
		transition: all .4s ease-in-out
		.home__alquiler__button
			z-index: -1
			opacity: 0
			visibility: hidden
			transition: all .4s ease-in-out
		&:hover
			background: $blanco
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2)
			transform: scale(1.06)
			.home__alquiler__button
				z-index: 1
				opacity: 1
				visibility: visible
				
.home__alquiler__subtitle
	margin-bottom: 10px
	h3
		letter-spacing: 2.52px
		color: $c-1
		font-family: $t-1
		font-size: 14px
		margin-bottom: 0

.home__alquiler__text
	line-height: 1.2
	color: $c-2
	font-family: $t-0
	font-size: 24px
	p
		margin-bottom: 0

.home__alquiler__button
	position: absolute
	left: 0
	right: 0
	bottom: -20.5px
	margin: auto

// responsive
@media screen and (max-width: 1024px)
	.home__alquiler
		padding-top: 50px
		padding-bottom: 70px
	
	.home__alquiler__title
		strong
			font-size: 24px

	.home__alquiler__text
		font-size: 20px

@media screen and (max-width: 960px)
	.home__alquiler__title
		margin-bottom: 0

	.home__alquiler__items
		max-width: 640px
		width: 100%
		margin: auto

	.home__alquiler__item
		width: calc(50% - 10px)
		margin-top: 50px

@media screen and (max-width: 767px)
	.home__alquiler
		padding-top: 30px
		padding-bottom: 50px

	.home__alquiler__content
		padding-left: 15px
		padding-right: 15px

	.home__alquiler__title
		strong
			font-size: 22px

	.home__alquiler__item
		&:nth-child(1),
		&:nth-child(2)
			margin-top: 30px

@media screen and (max-width: 480px)
	.home__alquiler__item
		width: 100%
		margin-left: 0
		margin-right: 0
		&:nth-child(2)
			margin-top: 50px