.home__slider
	.bx-controls
		display: flex
		flex-direction: column
		justify-content: flex-end
		max-width: 1240px
		width: 100%
		height: 406px
		position: absolute
		top: 90px
		left: 0
		right: 0
		padding-left: 20px
		padding-right: 20px
		box-sizing: border-box
		margin: auto
	.bx-wrapper .bx-pager
		max-width: 645px
		width: 100%
		position: relative
		bottom: 0
		z-index: 70
		text-align: left
		box-sizing: border-box
		padding-top: 0
		padding-left: 85px
		padding-bottom: 38px
	.bx-wrapper .bx-pager.bx-default-pager a
		width: 10px
		height: 10px
		background: $c-2
		border-radius: 50%
		&.active
			background: #0092c7
		@media screen and (min-width: 1025px)
			&:hover
				background: #0092c7

.home__slider__item
	width: 100%
	height: 620px
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	&:before
		content: ""
		display: block
		width: 100%
		height: 100%
		background: #231f20
		position: absolute
		top: 0
		left: 0
		opacity: .3
	&.active
		.home__slider__info
			transform: translateX(0)
			opacity: 1
			visibility: visible

.home__slider__container
	max-width: 1240px
	width: 100%
	height: 100%
	position: relative
	z-index: 2
	box-sizing: border-box
	padding-top: 90px
	padding-left: 20px
	padding-right: 20px
	margin: auto

.home__slider__info
	max-width: 645px
	width: 100%
	min-height: 406px
	background: $blanco
	transform: translateX(-50px)
	opacity: 0
	visibility: hidden
	transition: all .4s linear
	box-sizing: border-box
	padding-top: 55px
	padding-left: 85px
	padding-right: 85px
	margin: 0


.home__slider__title
	margin-bottom: 20px
	h1
		letter-spacing: 2.4px
		color: $c-2
		font-family: $t-1
		font-weight: normal
		font-size: 16px
		margin-bottom: 0
	strong
		display: block
		line-height: 52px
		letter-spacing: 0px
		color: #0092c7
		font-weight: normal
		font-size: 60px
		opacity: .9
		margin-top: 20px

// responsive
@media screen and (max-width: 1024px)
	.home__slider
		.bx-controls
			height: 357px
			top: 50px
		.bx-wrapper .bx-pager
			padding-left: 50px
			padding-bottom: 30px

	.home__slider__item
		height: 500px

	.home__slider__container
		padding-top: 50px

	.home__slider__info
		max-width: 490px
		min-height: 357px
		padding-top: 50px
		padding-left: 50px
		padding-right: 50px

	.home__slider__title
		h1
			font-size: 15px
		strong
			line-height: 42px
			font-size: 50px

@media screen and (max-width: 767px)
	.home__slider
		.bx-controls
			height: 100%
			top: 0
			padding: 0
		.bx-wrapper .bx-pager
			max-width: none
			text-align: center
			padding: 0
			padding-bottom: 30px
		.bx-wrapper .bx-pager.bx-default-pager a
			background: $blanco

	.home__slider__item
		height: 450px
		&.active
			.home__slider__info
				transform: translateY(0)

	.home__slider__container
		display: flex
		flex-direction: column
		justify-content: center
		padding-top: 0
		padding-left: 15px
		padding-right: 15px

	.home__slider__info
		max-width: 480px
		width: 100%
		min-height: inherit
		height: auto
		background: none
		text-align: center
		transform: translateY(50px)
		padding-top: 0
		padding-left: 0
		padding-right: 0
		margin-left: auto
		margin-right: auto

	.home__slider__title
		margin-bottom: 30px
		h1
			color: $blanco
		strong
			line-height: 32px
			color: $blanco
			font-size: 36px
			margin-top: 10px