.home__productos
	padding-top: 45px
	padding-bottom: 55px

.home__productos__content
	max-width: 1256px
	width: 100%
	box-sizing: border-box
	padding-left: 20px
	padding-right: 20px
	margin: auto

.home__productos__items
	display: flex
	flex-direction: row
	flex-wrap: wrap

.home__productos__items--left
	justify-content: flex-start

.home__productos__items--center
	justify-content: center

.home__productos__item
	display: block
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	box-sizing: border-box
	padding: 3%
	margin: 0
	margin-left: 8px
	margin-right: 8px

.home__productos__item,
.home__productos__search
	@media screen and (min-width: 1025px)
		transform: scale(1)
		transition: all .4s ease-in-out
		&:hover
			transform: scale(.95)

.home__productos__item--1
	width: calc(33% - 16px)
	height: 276px

.home__productos__item--2
	width: calc(37.5% - 16px)
	height: 240px
	text-align: right

.home__productos__item--3
	width: calc(29.5% - 16px)
	height: 318px
	margin-top: -20px

.home__productos__item--4
	width: calc(33% - 16px)
	height: 282px
	margin-top: 16px

.home__productos__item--5
	width: calc(37.5% - 16px)
	height: 318px
	margin-top: -20px

.home__productos__search
	display: flex
	flex-direction: column
	justify-content: center
	width: calc(29.5% - 16px)
	height: 240px
	background: #f7f7f7
	text-align: center
	box-sizing: border-box
	padding: 0 3%
	margin: 0
	margin-left: 8px
	margin-right: 8px

.home__productos__search__icon
	display: block
	width: 35px
	height: 35px
	line-height: 35px
	color: #0e94d2
	font-size: 34px
	margin-bottom: 15px

.home__productos__search__title
	margin-bottom: 20px
	h3
		line-height: 1.2
		color: #1e94d2
		font-family: $t-1
		font-size: 24px
		margin-bottom: 0

.home__productos__title
	margin-bottom: 30px
	h2
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
		color: $c-1
		font-family: $t-1
		font-weight: normal
		font-size: 14px
		text-align: center
		margin-bottom: 0
	i
		display: block
		width: 100%
		letter-spacing: 2.52px
		font-style: normal
		margin-bottom: 5px
	strong
		display: block
		color: $c-2
		font-family: $t-1
		font-weight: normal
		font-size: 30px
		margin: 0
	img
		display: block
		width: auto
		height: auto
		margin: 0
		margin-left: 20px

.home__productos__subtitle
	margin-bottom: 5px
	h3
		line-height: 1.2
		color: $blanco
		font-family: $t-1
		font-size: 28px
		margin-bottom: 0

.home__productos__enlace
	display: inline-block
	line-height: 1
	color: $blanco
	font-family: $t-1
	font-size: 15px

@media screen and (max-width: 1024px)
	.home__productos
		padding-top: 50px
		padding-bottom: 50px

	.home__productos__search__title
		h3
			font-size: 20px

	.home__productos__title
		strong
			font-size: 26px

	.home__productos__subtitle
		h3
			font-size: 22px

	.home__productos__enlace
		font-size: 14px

@media screen and (max-width: 960px)
	.home__productos__title
		img
			display: none

	.home__productos__search
		width: calc(50% - 16px)

	.home__productos__item--1
		width: calc(50% - 16px)
		height: 240px

	.home__productos__item--2
		width: calc(50% - 16px)
		height: 240px
		margin-top: 16px

	.home__productos__item--3
		width: calc(50% - 16px)
		height: 240px
		margin-top: 16px

	.home__productos__item--4
		width: calc(50% - 16px)
		height: 240px

	.home__productos__item--5
		width: calc(50% - 16px)
		height: 240px
		margin-top: 16px

@media screen and (max-width: 767px)
	.home__productos
		padding-top: 30px
		padding-bottom: 30px

	.home__productos__content
		padding-left: 15px
		padding-right: 15px

	.home__productos__search
		width: calc(50% - 10px)
		margin-left: 5px
		margin-right: 5px

	.home__productos__title
		strong
			font-size: 22px

	.home__productos__search__title
		h3
			font-size: 17px

	.home__productos__item
		margin-left: 5px
		margin-right: 5px

	.home__productos__item--1
		width: calc(50% - 10px)

	.home__productos__item--2
		width: calc(50% - 10px)
		margin-top: 10px

	.home__productos__item--3
		width: calc(50% - 10px)
		margin-top: 10px

	.home__productos__item--4
		width: calc(50% - 10px)
		margin-top: 10px

	.home__productos__item--5
		width: calc(50% - 10px)
		margin-top: 10px

	.home__productos__subtitle
		h3
			font-size: 20px

@media screen and (max-width: 480px)
	.home__productos__search,
	.home__productos__item--1,
	.home__productos__item--2,
	.home__productos__item--3,
	.home__productos__item--4,
	.home__productos__item--5
		width: 100%
		margin: 0

	.home__productos__search
		margin-bottom: 10px

	.home__productos__item--1
		margin-bottom: 10px

	.home__productos__item--2
		margin-bottom: 10px

	.home__productos__item--3
		margin-bottom: 10px

	.home__productos__item--4
		margin-bottom: 10px