.nosotros-compromiso-section
	max-height: 385px
	width: 100%
	padding-top: 60px
.nosotros-mision__color1
	background-color: $c-1
.nosotros-mision__color2
	background-color: #f1f2f3
.nosotros-compromiso__content
	max-width: 852px
	margin: 0 auto
	display: flex
	padding-left: 20px
	padding-right: 20px
	box-sizing: border-box
.nosotros-compromiso--number
	font-size: 256px
	font-family: $t-1
	color: $c-2
.nosotros-compromiso--content-texto
	padding-left: 40px
	padding-top: 30px
.nosotros-mision__content
	max-width: 1510px
	width: 90%
	margin: 0 auto
	display: flex
	// align-items: center
.nosotros-mision--margin-left
	margin-left: 5px
.nosotros-mision--margin-right
	margin-right: 5px
.nosotros-mision--padding-top
	padding-top: 34px
.nosotros-mision__box
	text-align: center
	display: flex
	flex-wrap: wrap
	padding-left: 80px
	padding-right: 80px
	padding-top: 8%
	padding-bottom: 8%
	width: 50%
	position: relative
	cursor: pointer
	box-sizing: border-box
	margin-top: 40px
.nosotros-mision--bg-img
	+backgroundsize()
	width: 100%
	height: 100%
	position: absolute
	left: 0
	top: 0
	opacity: 0
	transition-duration: 0.3s
.nosotros-mision--group-txt
	position: relative
	z-index: 1
.nosotros-mision__box:hover
	.nosotros-mision--bg-img
		opacity: 1
	h1
		color: $blanco
	p
		color: $blanco
.nosotros-valores__content
	max-width: 1920px
	margin: 0 auto
	padding-top: 75px
	padding-bottom: 75px
.nosotros-valores__content-box
	display: flex
	justify-content: center
.nosotros-valores--group-texto
	padding-bottom: 50px
.nosotros-valores__box
	max-width: 185px
	margin-left: 3%
	margin-right: 3%
	transform: translateY(100px)
	transition: all 450ms ease
	opacity: 0
	&.active
		transform: translateY(0)
		opacity: 1
.nosotros-testimonios__box
	width: 507px
	height: auto
	padding-top: 25px
	opacity: .3
	margin: 0 10px !important
	background-color: #f1f2f3
	padding: 25px 10px 25px 10px
	box-sizing: border-box
	transition-duration: 0.5s
	&.slick-slide.slick-current.slick-active.slick-center
		opacity: 1
		background-color: $blanco
		.nosotros-testimonios__parrafo-content
			background-color: $c-1
			color: $blanco
		#nosotros-testimonios--box-triangulo-inner
			background-color: $c-1
.nosotros-testimonios__parrafo-content
	border-radius: 5px
	padding: 47px 80px
	position: relative
	color: $c-0
	&:after
		content: "\e906"
		font-family: icomoon
		font-size: 35px
		color: $c-2
		position: absolute
		top: 55px
		left: 32px
.nosotros-testimonios--box-triangulo
	width: 50px
	height: 20px
	position: relative
	margin: 0 auto
#nosotros-testimonios--box-triangulo-inner
	transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	-webkit-transform: rotate(45deg)
	-o-transform: rotate(45deg)
	-moz-transform: rotate(45deg)
	// background-color: $c-1
	width: 80px
	height: 80px
	top: 0
	left: -75px
	position: relative
	-moz-border-radius: 15px
	border-radius: 10px
	bottom: 0
#nosotros-testimonios--box-triangulo-outer
	width: 30px
	height: auto
	overflow: hidden
	transform: rotate(90deg)
	margin: 0 auto
	margin-top: -28px
.nosotros-testimonios__img
	width: 81px
	height: 81px
	margin: 0 auto
	margin-top: 25px
	background-position: center center
	background-repeat: no-repeat
.nosotros-testimonios__nombre
	text-align: center
	a
		display: block
.nosotros-testimonios--nombre
	font-family: $t-1
	margin-top: 20px
.nosotros-testimonios--cargo
	font-family: $t-0
	margin-top: 5px

.nosotros-testimonios-section
	border-top: solid 2px #bfbfbf
	padding-top: 30px
	padding-bottom: 30px
.nosotros-testimonios__buttons-box
	position: relative
	width: 150px
	height: 25px
	margin: 0 auto
	bottom: 0
	display: flex
	flex-direction: row
	justify-content: center
	margin-top: -20px
.nosotros-testimonios__button
	width: 26px
	height: 4px
	background-color: $c-0
	margin-left: 5px
	margin-right: 5px
	cursor: pointer
	transition-duration: 0.3s
	&:hover
		background-color: $c-1
	&.active
		background-color: $c-1
@media screen and (max-width: 1300px)
	.nosotros-testimonios__parrafo-content
		padding: 40px 30px 30px 85px
@media screen and (max-width: 991px)
	.nosotros-mision__box
		padding-left: 50px
		padding-right: 50px
		padding-top: 6%
		padding-bottom: 6%
@media screen and (max-width: 767px)
	.nosotros-compromiso__content
		flex-direction: column
	.nosotros-compromiso__box
		text-align: center
	.nosotros-compromiso--content-texto
		padding-left: 0
		padding-top: 0
	.nosotros-mision__content
		flex-direction: column
	.nosotros-mision__box
		width: 100%
		padding-left: 40px
		padding-right: 40px
	.nosotros-mision--margin-right
		margin-right: 0
	.nosotros-mision--margin-left
		margin-left: 0
	.nosotros-valores--group-texto
		padding-bottom: 0
	.nosotros-compromiso-section
		padding-top: 10px
	.nosotros-compromiso--number
		font-size: 150px
	.nosotros-valores__content-box
		flex-direction: column
	.nosotros-valores__box
		margin: 0 auto
	.nosotros-valores__content
		padding: 40px 20px
	// .nosotros-testimonios__box
	// 	// width: 90%
	// 	height: auto
	// 	background-color: red
	.nosotros-compromiso-section
		max-height: 100%
	.nosotros-testimonios__parrafo-content
		padding: 40px 30px 35px 55px
		&:after
			top: 50px
			left: 15px
			font-size: 27px
@media screen and (max-width: 400px)
	.nosotros-mision__box
		padding-left: 20px
		padding-right: 20px
