body
	&.resultados
		.header-wrap
			height: 80px
.ctn__productos
	width: 100%
	.ctn__productos__header
		.banner-interior-content
			max-width: 1200px
			margin: auto
		.banner-interior__box
			padding-left: 0
.ctn__productos__prin
	padding: 40px 0 80px 0
	box-sizing: border-box
	width: 100%
.ctn__productos__bloq
	width: 100%
	max-width: 1240px
	padding: 0 20px
	box-sizing: border-box
	margin: auto
	display: flex
	justify-content: space-between
	flex-wrap: wrap
.ctn__productos__menu
	width: 265px
	h4
		margin: 0
		color: $blanco
		width: 100%
		background: $c-2
		font-size: 19px
		font-family: $t-1
		font-weight: normal
		padding: 15px 20px
		box-sizing: border-box
		position: relative
		&:before
			content: "\e905"
			position: absolute
			top: 0
			right: 20px
			font-family: icomoon
			color: $blanco
			font-size: 12px
			width: 17px
			height: 12px
			bottom: 0
			margin: auto
			display: none
			transition: all .3s ease
			cursor: pointer
		&.active:before
			content: "\e904"
	ul
		margin: 20px 0 0 0
	a
		display: block
		border-bottom: 1px solid $c-4
		font-size: 18px
		color: $c-0
		font-family: $t-0
		width: 100%
		padding: 20px
		box-sizing: border-box
		transition-duration: 0.3s
	a
		&:hover, &.active
			color: $c-2
			font-family: $t-1
.ctn__productos__sec
	width: calc(100% - 305px)
	display: flex
	flex-wrap: wrap
.item__producto__sec
	width: 31.5%
	margin: 0 2.75% 25px 0
	&:nth-child(3n + 3)
		margin-right: 0
	.componente-producto1-muestra
		width: 100%
		margin: 0
		padding: 0
	.componente-producto1-box
		width: 100%
@media screen and (max-width: 1024px)
	.ctn__productos__prin
		padding-bottom: 30px
@media screen and (max-width: 960px)
	.ctn__productos__menu
		width: 235px
		a
			font-size: 16px
	.ctn__productos__sec
		width: calc(100% - 255px)
	.item__producto__sec
		width: 47.5%
		margin-right: 5%
		&:nth-child(3n + 3)
			margin-right: 5%
		&:nth-child(2n + 2)
			margin-right: 0
@media screen and (max-width: 767px)
	.ctn__productos__bloq
		padding: 0 15px
	.ctn__productos__menu
		width: 100%
		h4
			&:before
				display: block
		ul
			display: none
	.ctn__productos__sec
		width: 100%
		margin-top: 20px
@media screen and (max-width: 480px)
	.item__producto__sec
		width: 100%
		margin-right: 0
		&:nth-child(3n + 3)
			margin-right: 0
		&:last-child
			margin-bottom: 0
