.product__detail
	padding-top: 18px
.product__detail__container
	overflow: hidden
.gee
	width: 100%
.tabcontent
	animation: fadeEffect 1s

	@-webkit-keyframes fadeEffect
		from
			opacity: 0
		to
			opacity: 1
	@keyframes fadeEffect
		from
			opacity: 0
		to
			opacity: 1

// miga
.product__detail--miga-padding-bottom
	padding-bottom: 20px
.product__detail__miga__container
	max-width: 1240px
	margin: auto
	padding: 0 20px
	box-sizing: border-box
	ul
		display: flex
		align-items: center
		justify-content: flex-start
		height: 70px
	li 
		display: inline-block
		vertical-align: middle
		position: relative
		padding-right: 25px
		padding-left: 10px
		margin: 0
		&:before
			content: "\e606"
			font-family: $icomoon
			position: absolute
			top: 4px
			right: 0
			font-size: 16px
			color: $c-10
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
			&:before
				display: none
	a
		font-size: 14px
		font-family: $t-0
		color: $c-10


.product__detail__tab__content
	position: relative

.product__detail__tab__content__item
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	overflow: hidden
	&.active
		position: relative
		opacity: 1
		visibility: visible

// links
.product__detail__tab__links
	position: relative
	width: 100%
	margin: 0 auto
	&:before
		content: ""
		position: absolute
		bottom: 0
		width: 100%
		left: 0
		height: 1px
		background: $c-4
	&:after
		content: ""
		position: absolute
		top: 0
		width: 100%
		left: 0
		height: 1px
		background: $c-4
.producto-detalle__links-group
	max-width: 1240px
	height: auto
	margin: 0 auto
	display: flex
	flex-wrap: wrap
	padding: 0 20px
	box-sizing: border-box
.product-detail--tab-video
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.product-detail--tab-video-box
	width: 49%
	height: 324px
	margin-top: 22px
	position: relative
	display: flex
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	cursor: pointer
.product-detail--tab-video-capa
	position: absolute
	width: 100%
	height: 324px
	background-color: $negro
	opacity: 0.7
	transition-duration: 0.3s
.product-detail--tab-video-icono
	position: relative
	width: 50px
	height: 30px
	z-index: 1
	margin: 0 auto
	background-color: $blanco
	top: 42%
	&:before
		content: "\e908"
		font-family: $icomoon
		position: absolute
		font-size: 50px
		color: $c-2
		left: -5px
		top: -5px
.product-detail--tab-video-box:hover
	.product-detail--tab-video-capa
		opacity: 0.3
.product__detail__tab__link
	display: table-cell
	vertical-align: middle
	height: 75px
	font-size: 19px
	font-family: $t-0
	color: $c-0
	padding: 0 40px
	box-sizing: border-box
	position: relative
	transition: all .35s ease-in-out
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		width: 0
		height: 3px
		background: $c-1
		transition: all .35s ease-in-out
	@media screen and (min-width: 1025px)
		&:hover
			background: $c-9
			&:before
				width: 100%
	&.active
		background: $c-9
		&:before
			width: 100%

.product-detail--tab1-flex
	display: flex
	flex-wrap: wrap
.product-detail--tab__content__inside
	max-width: 1240px
	margin: 0 auto
	padding: 0 20px
	box-sizing: border-box
	height: auto
.product-detail--tab-padding-top
	padding-top: 35px
.product__detail__left
	width: 50%
	padding-right: 6.7%
	box-sizing: border-box
.product__detail__right
	width: 50%
.product-detail-right__modal-form
	background-color: $c-2
	width: 50%
	height: auto
	// position: absolute
	right: -20%
	margin-top: -110px
	box-sizing: border-box
	padding: 80px 98px 90px 98px
	overflow: auto
	position: fixed
	opacity: 0
	transition: all 0.3s ease-in-out
	z-index: -1
	visibility: hidden
	&.active
		opacity: 1
		z-index: 1600
		visibility: visible
		right: 0
.alquiler-productos--busqueda-box1-filtro-fondo
	background-color: $negro
	opacity: 0
	width: 100%
	height: 100%
	transition: height 0.3s ease
	z-index: -1
	top: 0
	left: 0
	position: fixed
	visibility: hidden
	&.active
		opacity: 0.4
		z-index: 1500
		visibility: visible
.no-scroll
	overflow: hidden
.product-detail-right__modal-form-content
	max-width: 493px
	height: auto
	position: relative
.product-detail-right__icono-close-form
	display: block
	right: 0
	top: -35px
	position: absolute
	a
		position: relative
		cursor: pointer
		&:before
			content: "\e903"
			color: $blanco
			font-size: 25px
			font-family: $icomoon
			position: absolute
			z-index: 10000
.product-detail-right--select-name
	padding-left: 10px
	background-color: initial
	border: initial
	cursor: pointer
.product-detail-right--select-name-group
	position: relative
	height: auto
	width: 100%
	padding-bottom: 25px
	&:before
		border-bottom: solid 1px $blanco
		content: ""
		width: 90%
		position: absolute
		bottom: 15px
	select
		width: 90%
	option
		color: $c-2
.product-detail--textarea
	padding-top: 13px
	box-sizing: border-box
.product-detail-right--botton-color
	background-color: $c-1
.product-detail-right--parrafo
	padding-bottom: 15px
.product-detail--input-background
	background-color: $c-2
.product__detail__right__info__title
	padding-top: 20px
	h3
		font-size: 33px
		font-family: $t-1
		margin: 0
		color: $c-2
	h4
		font-size: 16px
		color: $c-1
		margin: 0

.product__detail__right__info__text
	margin-top: 30px
	font-size: 18px
	font-family: $t-0
	color: $c-0
	text-align: justify
	line-height: 1.2
	p 
		margin-bottom: 10px
	p:last-child
		margin: 0

.product__detail__right__info__list
	margin-top: 15px
	text-align: left
	li
		font-size: 19px
		color: $c-0
		font-family: $t-0
		position: relative
		padding-left: 13px
		margin-bottom: 7px
		&:before
			content: ""
			position: absolute
			top: 6px
			left: 0
			width: 5px
			height: 5px
			display: block
			background: $c-0
			border-radius: 100%

.product__detail__right__info__download__share
	margin-top: 35px
	display: flex
	align-items: center

.product__detail__right__info__download
	display: flex
	align-items: center
	margin: 0

.product__detail__right__info__download__icon
	margin: 0
	display: block
	font-size: 20px
	font-weight: bold
	margin-right: 10px
	color: $c-0

.product__detail__right__info__download__text
	font-size: 16px
	font-family: $t-1
	margin: 0
	color: $c-0
	display: block

.product__detail__right__info__share
	margin-left: 30px
	ul
		li
			display: inline-block
			vertical-align: middle
			margin: 0 5px

		a
			color: $c-11
			display: block

.product__detail__right__info__button
	margin-top: 30px


// tab carrousel
// class for slick slider
.tab__carrousel__wrap
	width: 100%
	.slick-slider
		margin-bottom: 0
		padding: 0 30px
		box-sizing: border-box
	.tab__carrousel__items__wrap
		padding: 0
	.slick-prev, .slick-next
		position: absolute
		top: 50%
		width: 30px
		height: 30px
		line-height: 30px
		text-align: center
		background: transparent
		border-radius: 100%
		padding: 0
		overflow: hidden
		font-size: 0
		transition: all .25s linear
		&:before
			font-family: icomoon
			font-size: 15px
			color: $c-0
			line-height: 30px 
			text-align: center
			transition: all .25s linear
		&:hover
			&:before
				color: $c-1
	.slick-prev
		left: 0
		&:before
			display: block
			content: "\e904"
			transform: rotate(-90deg)
	.slick-next
		right: 0
		&:before
			display: block
			content: "\e904"
			transform: rotate(90deg)

	
.tab__carrousel__items__wrap
	position: relative	
	overflow: hidden
	margin-top: 25px	
	padding: 0 60px 
	box-sizing: border-box	
	.slick-list
		overflow: hidden	
		
.tab__carrousel__list__items
	font-size: 0	
	
.tab__carrousel__items__item
	display: inline-block	
	cursor: pointer
	box-sizing: border-box
	margin: 0 1.5%
	box-sizing: border-box
	width: 22%	
	img
		display: block
		height: auto
		width: 100%
	&.active
		.tab__carrousel__items__item-img
			border: 1px solid $c-1

.tab__carrousel__items__item-img
	box-sizing: border-box	
	transition: all .25s linear
	
// class image big -tab
.tab__carrousel__image__big__inside
	position: relative	
	
.tab__carrousel__arrow__personalized_wrap
	position: absolute	
	top: 0	
	left: 0	
	width: 100%	
	height: 100%	

.tab__carrousel__arrow__personalized_prev, .tab__carrousel__arrow__personalized_next
	position: absolute
	top: 50%
	margin-top: -20px
	width: 40px
	height: 40px
	line-height: 40px
	text-align: center
	background: transparent
	border: 1px solid red
	border-radius: 100%
	padding: 0
	overflow: hidden
	font-size: 0
	transition: all .25s linear
	z-index: 100
	cursor: pointer
	&:before
		font-family: icomoon
		font-size: 25px
		color: c-8
		line-height: 40px 
		text-align: center
		transition: all .25s linear
	&:hover 
		background: red
		border: 1px solid red
		&:before 
			color: blue
				
.tab__carrousel__arrow__personalized_prev
	left: 10px
	&:before
		content: "\e607"
.tab__carrousel__arrow__personalized_next
	right: 10px
	&:before
		content: "\e606"

	
.tab__carrousel__image__big__wrap
	width: 100%
	position: relative	

.tab__carrousel__image__big
	width: 100%
	height: auto
	position: absolute
	top: 0
	left: 0
	z-index: -1
	visibility: hidden
	box-sizing: border-box
	img
		display: block
		width: 100%
		height: auto
	&.active
		position: relative
		z-index: 1
		visibility: visible
		
//tab tab slider 
.tab__carrousel__items__container
	position: relative
	
.tab__carrosuel__item
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	
.tab__carrosuel__item.active 
	position: relative
	opacity: 1
	visibility: visible
	
.tab__carrousel__arrow__personalized_wrap
	display: none
	&.active 
		display: block
		
.tab__carrousel--active
	.tab__carrousel__items__item
		margin: 0 10px
// tabla datos tecnicos
.product-detail__table-datos-tecnicos
	width: 100%
	text-align: center
	color: $c-2
	font-family: $t-0
	font-size: 16px
.product-detail--table-border
	border: solid 3px $blanco
.product-detail--table-border-bottom
	border-bottom: solid 5px $blanco
.product-detail--table-height-head
	height: 49px
.product-detail--table-height-body
	height: 40px
.product-detail--table-horizontal-full
	height: 32px
	text-align: left
	padding-left: 20px
	color: $blanco
.product-detail--table-bg-blue
	background-color: $c-2
	color: $blanco
.product-detail--table-bg-celeste
	background-color: $c-1
.product-detail--table-bg-celeste2
	background-color: $c-9
.product-detail--icono-cotizar
	position: relative
	&:before
		content: "\e61d"
		font-family: $icomoon
		font-size: 19px
		position: absolute
		color: $c-2
		top: 10px
		left: 42px
.product-detail--icono-cotizar
	a
		color: $c-2
// .botontd
// 	background-color: green
.product-detail--table-padding-left
	padding-left: 20px
	box-sizing: border-box
.product-detail--table-width
	width: 80px
@media screen and (max-width: 1250px)
	.product-detail__table-content
		overflow-x: scroll
	.product-detail__table-datos-tecnicos
		min-width: 1250px
@media screen and (max-width: 1024px)
	.tab__carrousel__wrap .slick-prev, .tab__carrousel__wrap .slick-next
		width: 30px
		height: 30px
		line-height: 30px
		margin-top: -15px
	
	.tab__carrousel__wrap .slick-prev:before, .tab__carrousel__wrap .slick-next:before
		font-size: 20px
		line-height: 30px
		
	.tab__carrousel__wrap .slick-slider
		display: block
		padding: 0 40px
	.product-detail-right__modal-form
		background-color: $c-2
		width: 100%
		height: 100%
		right: -20%
		padding: 60px 30px 40px 30px
		top: 110px
		overflow: auto
	.product-detail-right__modal-form-content
		max-width: 100%
	.product-detail-right__icono-close-form
		right: 25px
		top: -30px
	.product-detail-right--select-name-group
		select
			width: 100%
		&:before
			width: 100%
	.product__detail
		padding-top: 5px
@media screen and (max-width: 960px)
	.product__detail__right
		width: 100%

	.product__detail__left
		width: 100%
		padding-right: 0

	.tab__carrousel__wrap.tab__carrousel--vertical .tab__carrousel__items__item
		margin: 0 1.5%
		box-sizing: border-box
		width: 22%
		
	// active slider horizontal 
	.tab__carrousel--vertical.tab__carrousel--active	
		.tab__carrousel__items__item
			margin: 0 5px 
	.tab__carrousel__image__big__wrap
		max-width: 500px
		margin: 0 auto
	.product__detail__right__info__button
		text-align: center
	.product__detail__right__info__title
		padding-top: 40px
@media screen and (max-width: 767px)
	
	.tab__carrousel__items__wrap
		margin-top: 20px

	.tab__carrousel__wrap .slick-prev, .tab__carrousel__wrap .slick-next
		display: none !important
		
	.tab__carrousel__wrap
		width: 100%
		.slick-slider
			padding: 0

	.tab__carrousel--active .tab__carrousel__items__item
		margin: 0 5px
	.product__detail__tab__link
		height: 60px
	.product__detail__tab__links__container
		margin: 0 auto
		// width: 90%
	.product__detail__tab__link
		padding: 0
		width: 80%
		text-align: center
	.product-detail--tab-video-box
		width: 100%
@media screen and (max-width: 575px)
	.tab__carrousel__image__big__wrap
		max-width: 100%
	.producto-detalle__links-group
		flex-direction: column
	.product__detail__tab__link
		width: 300px