.ctn__productos__search
	width: 100%
	padding: 62px 20px
	text-align: center
	box-sizing: border-box
	// border-top: 1px solid $c-4
	border-bottom: 1px solid $c-4
	h4
		font-weight: normal
		margin: 0
		font-weight: normal
		font-size: 24px
		font-family: $t-1
		color: $c-3
	p 
		margin: 3px 0 0 0
		font-size: 18px
		font-family: $t-1
		color: $c-3
.ctn__productos__search__sec
	width: 100%
	position: relative
	margin: 0 0 20px 0
	input
		width: 100%
		margin: 0
		background: #DFE2E4
		color: $c-0
		font-size: 18px
		padding: 0 45px 0 20px
		font-family: $t-0
		height: 50px
		box-sizing: border-box
		border: 0
		margin: 0
	button
		height: 25px
		width: 25px
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		padding: 0
		right: 20px
		border: 0
		background: none
		&:before
			content: "\e900"
			position: absolute
			top: 0
			left: 0
			font-size: 25px
			font-family: icomoon
			color: #808080
.ctn__productos__sec__search
	width: 100%
.ctn__productos__sec__select
	width: 100%
	padding: 10px 10px 20px 10px
	border-bottom: 1px solid $c-4
	box-sizing: border-box
	p 
		font-family: $t-1
		font-size: 16px
		color: $c-3
		display: flex
	label
		margin: 0
	select
		margin: 0
		width: 120px
		border: 0
		background: none
		padding: 0 10px
		box-sizing: border-box
		color: $c-0
		font-family: $t-0
		font-size: 16px
.ctn__productos__sec__items
	width: 100%
.ctn__productos__sec__item
	padding: 30px 10px
	box-sizing: border-box
	border-bottom: 1px solid $c-4
	a
		margin: 0
		font-weight: normal
		font-size: 21px
		font-family: $t-1
		color: $c-2
	h4
		margin: 15px 0
		font-weight: normal
		font-size: 16px
		font-family: $t-0
		color: #848688
	p 
		margin: 0
		font-size: 18px
		font-family: $t-0
		color: $c-0
.ctn__productos__categorias__servicio
	margin: 20px 0 0 0
	span
		font-size: 18px
		color: $c-0
		display: inline-block
		padding: 10px 0
		font-family: $t-0
	a
		display: inline-block
		padding: 10px
		box-sizing: border-box
		font-family: $t-0
		font-size: 14px
		color: $c-0
		border: 1px solid $c-4
		margin-left: 15px
@media screen and (max-width: 1024px)
	.ctn__productos__search
		padding: 50px 20px
@media screen and (max-width: 960px)
	.ctn__productos__sec__item 
		a
			font-size: 19px
		p 
			font-size: 17px
@media screen and (max-width: 767px)
	.ctn__productos__search 
		h4
			font-size: 20px
		p
			font-size: 16px
	.ctn__productos__search
		padding: 30px 15px