.servicios
	padding-top: 65px
	padding-bottom: 85px

.servicios__content
	max-width: 1240px
	width: 100%
	box-sizing: border-box
	padding: 0 20px
	margin: auto

.servicios__item
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: 100px
	&:last-child
		margin-bottom: 0
	&:nth-child(even)
		flex-direction: row-reverse

.servicios__info
	width: 44.6%

.servicios__images
	width: 46.7%
	height: 470px
	position: relative
	margin: 0

.servicios__img
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	position: absolute

.servicios__images--1
	.servicios__img:nth-child(1)
		width: 100%
		height: 100%
		top: 0
		left: 0
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2)

.servicios__images--2
	height: 370px
	.servicios__img:nth-child(1)
		width: 64.4%
		height: 209px
		top: 0
		left: 0
	.servicios__img:nth-child(2)
		width: 64.4%
		height: 209px
		top: 152px
		right: 0
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2)

.servicios__images--3
	.servicios__img:nth-child(1)
		width: 50%
		height: 361px
		top: 0
		left: 18%
	.servicios__img:nth-child(2)
		width: 64.5%
		height: 209px
		top: 152px
		right: 0
	.servicios__img:nth-child(3)
		width: 50%
		height: 350px
		top: 105px
		left: 0
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2)

.servicios__title
	margin-bottom: 30px
	h2
		letter-spacing: 3.24px
		color: $c-1
		font-family: $t-1
		font-weight: normal
		font-size: 18px
		margin-bottom: 0
	strong
		display: block
		letter-spacing: 0px
		color: $c-2
		font-weight: normal
		font-size: 36px
		margin-top: 5px

.servicios__text
	line-height: 1.2
	color: $c-0
	font-family: $t-0
	font-size: 18px
	margin-bottom: 40px
	p
		margin-bottom: 0

.servicios__links
	max-width: 484px
	width: 100%
	margin: 0

.servicios__links__item
	border-bottom: 1px solid $c-4
	&:last-child
		border-bottom: none
		.servicios__links__text
			padding-bottom: 0

.servicios__links__text
	display: block
	line-height: 1.2
	color: $c-0
	font-family: $t-0
	font-size: 18px
	padding-top: 16px
	padding-bottom: 14px
	@media screen and (min-width: 1025px)
		&:hover
			color: $c-2


// animacion con active
@media screen and (min-width: 1025px)
	.servicios__item
		.servicios__images--1
			.servicios__img
				transform: translateY(50px)
				opacity: 0
				visibility: hidden

		.servicios__images--2
			.servicios__img:nth-child(1)
				transform: translateX(-50px)
				opacity: 0
				visibility: hidden				
			.servicios__img:nth-child(2)
				transform: translateX(50px)
				opacity: 0
				visibility: hidden

		.servicios__images--3
			.servicios__img:nth-child(1)
				transform: translateY(50px)
				opacity: 0
				visibility: hidden				
			.servicios__img:nth-child(2)
				transform: translateX(50px)
				opacity: 0
				visibility: hidden
			.servicios__img:nth-child(3)
				transform: translateX(-50px)
				opacity: 0
				visibility: hidden

		&.active
			.servicios__images--1
				.servicios__img:nth-child(1)
					transform: translateY(0px)
					opacity: 1
					visibility: visible					
					transition: all .4s linear

			.servicios__images--2
				.servicios__img:nth-child(1)
					transform: translateX(0px)
					opacity: 1
					visibility: visible
					transition: all .4s linear
				.servicios__img:nth-child(2)
					transform: translateX(0px)
					opacity: 1
					visibility: visible
					transition: all .4s linear

			.servicios__images--3
				.servicios__img:nth-child(1)
					transform: translateY(0px)
					opacity: 1
					visibility: visible
					transition: all .4s linear
				.servicios__img:nth-child(2)
					transform: translateX(0px)
					opacity: 1
					visibility: visible
					transition: all .4s linear .4s
				.servicios__img:nth-child(3)
					transform: translateX(0px)
					opacity: 1
					visibility: visible
					transition: all .4s linear .8s
// end

// responsive
@media screen and (max-width: 1024px)
	.servicios
		padding-top: 50px
		padding-bottom: 50px

	.servicios__images
		width: 48%

	.servicios__info
		width: 45%

	.servicios__title
		h2
			font-size: 16px
		strong
			font-size: 26px

	.servicios__text
		font-size: 16px

	.servicios__links__text
		font-size: 16px

@media screen and (max-width: 767px)
	.servicios
		padding-top: 40px
		padding-bottom: 40px

	.servicios__content
		max-width: 640px
		padding: 0 15px

	.servicios__item
		flex-direction: column-reverse
		justify-content: flex-start
		margin-bottom: 50px

	.servicios__item:nth-child(even)
		flex-direction: column-reverse

	.servicios__info
		width: 100%
		margin-bottom: 30px

	.servicios__images
		max-width: 400px
		width: 100%
		height: 340px
		margin: auto

	.servicios__images--2 
		.servicios__img:nth-child(1)
			width: 70%
			height: 190px
		.servicios__img:nth-child(2)
			width: 70%
			height: 190px
			top: 140px

	.servicios__images--3
		.servicios__img:nth-child(1)
			height: 270px
		.servicios__img:nth-child(2)
			width: 65%
			height: 160px
			top: 110px
		.servicios__img:nth-child(3)
			height: 280px
			top: 60px

	.servicios__title
		h2
			font-size: 14px
		strong
			font-size: 22px

	.servicios__links
		max-width: none

	.servicios__links__text
		font-size: 14px

	.servicios__text
		font-size: 15px
		margin-bottom: 20px