.sub-servicios-item-section
	height: auto
	margin: 0 auto
	background-color: #f9f9f9
	width: 100%
	padding-top: 40px
	padding-bottom: 40px
	overflow: hidden
.sub-servicios-item-content
	width: 90%
	max-width: 1064px
	margin: 0 auto
	display: flex
.sub-servicios__item-box
	margin: 0 auto
	max-width: 274px
	text-align: center
	transform: translateY(100px)
	transition: all 450ms ease
	opacity: 0
	&.active
		transform: translateY(0)
		opacity: 1
.sub-servicios-texto-content
	max-width: 1200px
	height: auto
	margin: 0 auto
	padding-top: 55px
	padding-left: 20px
	padding-right: 20px
	box-sizing: border-box
.sub-servicios-texto-box
	padding-bottom: 25px
.sub-servicios-otros-servicios
	max-width: 1200px
	width: 94%
	padding-left: 20px
	padding-right: 20px
	box-sizing: border-box
	// height: 431px
	height: auto
	padding-top: 40px
	padding-bottom: 40px
.sub-servicios__slider-content
	padding: 0
	padding-top: 20px
	.slick-prev.slick-arrow
		width: 50px
		height: 50px
		z-index: 1
		margin-left: -5px
		&:before
			content: "\e607"
			font-family: 'icomoon'
			color: $c-2
			font-size: 56px
	.slick-next.slick-arrow
		width: 50px
		height: 50px
		margin-right: -5px
		&:before
			content: "\e606"
			font-family: 'icomoon'
			color: $c-2
			font-size: 56px
// iconos redes
.sub-servicios__icono-box
		position: relative
		margin-left: 35px
		font-family: $t-1
		color: $c-0
		&:before
			content: "\e90d"
			display: block
			position: absolute
			font-family: icomoon
			font-size: 28px
			color: $c-2
			top: -5px
			left: -30px
.sub-servicios__icono-box2
		position: relative
		margin-left: 40px
		font-family: $t-1
		color: $c-0
		&:before
			content: "\e908"
			display: block
			position: absolute
			font-family: icomoon
			font-size: 28px
			color: $c-2
			top: -5px
			left: -50px
.sub-servicios__content-redes
	display: flex
.sub-servicios__box1-redes
	padding-right: 49px
	transition-duration: 0.3s
	ul
		li
			display: inline-block
		li:nth-child(1)
			padding-right: 47px
@media screen and (min-width: 1025px)
	.sub-servicios__box1-redes
		ul
			li
				a:hover
					color: $c-2
.sub-servicios__box2-redes
	ul
		li
			display: inline-block
			margin-right: 12px
			a
				color: #999
				transition-duration: 0.3s
@media screen and (min-width: 1025px)
	.sub-servicios__box2-redes
		ul
			li
				a:hover
					color: $c-2
@media screen and (max-width: 940px)
	.sub-servicios__item-box
		padding-left: 20px
		padding-right: 20px
@media screen and (max-width:632px)
	.sub-servicios__content-redes
		flex-direction: column
		text-align: center
	.sub-servicios__box2-redes
		margin-top: 40px
	.sub-servicios__box1-redes
		padding-right: 0
@media screen and (max-width: 575px)
	.sub-servicios-item-content
		flex-direction: column
	.sub-servicios-item-section
		padding-top: 20px
		padding-bottom: 20px
	.sub-servicios__slider-content
		.slick-next
			right: -9px
		.slick-prev
			left: -15px
@media screen and (max-width: 460px)
	.sub-servicios__box1-redes
		ul
			li:nth-child(1)
				padding-right: 0
			li
				display: block
			li:nth-child(2)
				margin-top: 30px
	.sub-servicios__icono-box2, .sub-servicios__icono-box
		margin-left: 20px
	// iconos redes
	.sub-servicios__icono-box
		&:before
			left: -30px
	.sub-servicios__icono-box2
		&:before
			left: -45px
	.sub-servicios--padding-top
		padding-top: 30px
		padding-bottom: 10px