.table-section
	max-width: 1240px
	height: auto
.table-box
	width: 100%
	text-align: center
	color: $c-2
	font-family: $t-0
	font-size: 16px
.table-box--table-border
	border: solid 3px $blanco
.table-box--border-bottom
	border-bottom: solid 5px $blanco
.table-box--border-bottom2
	border-bottom: solid 1px $c-1
.table-box--height-head
	height: 49px
	th
		padding: 10px 10px
		box-sizing: border-box
.table-box--height-body
	height: 40px
	td
		padding: 10px 10px
		box-sizing: border-box
.table-box--horizontal-full
	height: 32px
	text-align: left
	padding-left: 20px
	color: $blanco
.table-box--th-blue
	background-color: $c-2
	color: $blanco
	width: 140px
.table-box--bg-celeste
	background-color: $c-1
.table-box--bg-celeste2
	background-color: $c-9
.table-box--table-width
	width: 80px
@media screen and (max-width: 1250px)
	.table-content
		overflow-x: scroll
	.table-box
		min-width: 1250px