.articulos__tecnicos__section
	padding-bottom: 0
.ctn__articulos__tecnicos
	padding-bottom: 50px
	padding-top: 50px
	border-bottom: 1px solid $c-4
	&:last-child
		border-bottom: 0
	.sub-servicios-texto-box
		padding-bottom: 0
	.titulo-h4
		font-size: 28px
		margin: 0
	.parrafo-general
		margin: 0 0 0 0
	h5
		font-weight: normal
		margin: 9px 0 23px 0
		font-family: $t-1
		font-size: 24px
		color: $c-0
	ul
		margin: 30px 0 0 0
	li
		margin: 0 0 17px 0
		font-family: $t-0
		font-size: 22px
		color: $c-0
		&:last-child
			margin: 0
	strong
		font-weight: normal
		font-family: $t-1
	.sub-servicios__ul-iconos
		margin: 25px 0 0 0
	.sub-servicios__icono-box
		font-family: $t-0
		color: $c-0
		font-size: 18px
.articulos-tecnicos__box-icon
	padding-top: 31px
	display: flex
	justify-content: flex-start

.articulos-tecnicos--ico
	font-size: 30px
	color: $c-2
	font-weight: bold
	padding-right: 10px
	margin-top: -8px
.articulos-tecnicos--a
	margin: 0
	font-family: $t-0
	font-size: 18px
	color: $c-0
@media screen and (max-width: 767px)
	.ctn__articulos__tecnicos
		padding: 30px 15px
		.titulo-h4
			font-size: 22px
		h5
			font-size: 20px
		li
			font-size: 20px
