// FONTS
// -----
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
			 url('../fonts/ProximaNova-Regular.woff') format('woff'),
			 url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
			 url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
			 url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
			 url('../fonts/ProximaNova-Bold.woff') format('woff'),
			 url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
			 url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
			 url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
			 url('../fonts/MyriadPro-Regular.woff') format('woff'),
			 url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
			 url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
			 url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham-Book';
	src: url('../fonts/Gotham-Book.eot');
	src: url('../fonts/Gotham-Book.woff2') format('woff2'),
			 url('../fonts/Gotham-Book.woff') format('woff'),
			 url('../fonts/Gotham-Book.ttf') format('truetype'),
			 url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
			 url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Bold.eot');
	src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
			 url('../fonts/Gotham-Bold.woff') format('woff'),
			 url('../fonts/Gotham-Bold.ttf') format('truetype'),
			 url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'),
			 url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'VarelaRound-Regular';
	src: url('../fonts/VarelaRound-Regular.eot');
	src: url('../fonts/VarelaRound-Regular.woff2') format('woff2'),
			 url('../fonts/VarelaRound-Regular.woff') format('woff'),
			 url('../fonts/VarelaRound-Regular.ttf') format('truetype'),
			 url('../fonts/VarelaRound-Regular.svg#VarelaRound-Regular') format('svg'),
			 url('../fonts/VarelaRound-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}