extends ./_common/base.pug
//- btn
block content
	.botton--fondo-muestra
		a.botton.botton--color1( href='') boton1
		a.botton.botton--color2( href='') boton2
		a.botton.botton--color3( href='') boton3