extends ./_common/base.pug
//- titulo
block content
	section.componente-icono-titulo-parrafo-muestra
		.componente-icono-titulo-parrafo--box
			.componente-icono-titulo-parrafo--img(style=`background-image: url('../${STATIC_URL}img/icono-vida-sub-servicio.jpg')`)
			h4.titulo-h4.titulo--color2 Mejora la vida útil
			p.parrafo-general.parrafo--color1.parrafo--align-center
				| El filtrado de alta calidad mantiene el compresor en marcha 