extends ./_common/base.pug
//- titulo
block content
	section.componente-producto1-muestra
		.componente-producto1-box
			.componente-producto1__box-white
			.componente-producto1__btn-oculto
				a(href='') VER SERVICIO
			.componente-producto1__img(style=`background-image: url('../${STATIC_URL}img/img-producto-muestra.jpg')`)
			.componente-producto1__btn
				a(href='') GX - Compresores de tornillo rotativos con inyeccion
	section.pager
		ul
			li
				a(href='').prev.icon-a-left
			- for (var x = 0; x < 5; x++)
				li
					a(href='') #{x+1}
			li
				a(href='').next.icon-a-right