extends ./_common/base.pug
//- titulo
block content
	section.banner-interior-section(style=`background-image: url('../${STATIC_URL}img/img-bg-banner-interior.jpg')`)
		.banner-interior-content
			.banner-interior__box
				.banner-interior--texto-group
					h1.titulo-h1-interior.titulo--color3.banner-interior--h1.banner-interior--h1 servicios
					p.parrafo-banner-interior.parrafo--color2.banner-interior--p
						| Evite daños o pérdida de rendimiento en sus compresores. Mantenga alejado el polvo y la suciedad con los filtros y separadores de compresor originales.
			.banner-interior__box2
	br
	br
	section.banner-interior-section-img(style=`background-image: url('../${STATIC_URL}img/img-bg-banner-interior.jpg')`)
		.banner-interior2-content
			.banner-interior__box
				.banner-interior--texto-group
					h1.titulo-h1-interior.titulo--color3.banner-interior--h1.banner-interior--h1 PIEZAS ORIGINALES DEL COMPRESOR ATLAS COPCO
					p.parrafo-banner-interior.parrafo--color2.banner-interior--p.banner-interior--padding-bottom
						| Evite daños o pérdida de rendimiento en sus compresores. Mantenga alejado el polvo y la suciedad con los filtros y separadores de compresor originales.
					a.botton.botton--color3( href='') boton3
			.banner-interior__box2-img(style=`background-image: url('../${STATIC_URL}img/img-banner-interior-der.jpg')`)