extends ./_common/base.pug
//- input
block content
	.input--fondo-muestra
		form
			.input-one-content
				label.input-one__label Nombre y Apellidos:
				input.input-one(name='', type='', placeholder='')
				span.input-one--span
			.input-one-content
				input.input-two(name='', type='', placeholder='Yoswa María')
				span.input-two--span
	.input--fondo-muestra-color
		form
			.input-one-content
				label.input-one__label.input--color Nombre y Apellidos:
				input.input-one.input--background-color(name='', type='', placeholder='')
				span.input-one--span.input-color--span