extends ./_common/base.pug
//- parrafo
block content
	.parrafo--fondo-muestra
		p.parrafo-general.parrafo--color1.parrafo--align-justify
			| parrafo justificado parrafo justificado parrafo justificado parrafo justificado parrafo justificado parrafo justificado parrafo justificado parrafo justificado parrafo justificado parrafo justificado parrafo justificado parrafo justificado parrafo justificado parrafo justificado 
	.parrafo--fondo-muestra
		p.parrafo-general.parrafo--color1.parrafo--align-center
			| parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado parrafo centrado
	.parrafo--fondo-muestra
		p.parrafo-banner-interior.parrafo--color2.parrafo--align-justify
			| parrafo banner interior parrafo banner interior parrafo banner interior parrafo banner interior parrafo banner interior parrafo banner interior parrafo banner interior parrafo banner interior parrafo banner interior 