extends ./_common/base.pug
//- titulo
block content
	.titulo--fondo-muestra
		h1.titulo-h1.titulo--color1 titulo h1 titulo h1 titulo 
		h1.titulo-h1-interior.titulo--color3 titulo interior h1 titulo interior h1
		h2.titulo-h2.titulo--color2 titulo h2 titulo h2 titulo h2 titulo h2 titulo h2 titulo h2
		h3.titulo-h3.titulo--color3.titulo--align-center titulo h3 titulo h3 titulo h3 titulo h3
		h4.titulo-h4.titulo--color2.titulo--align-center titulo h4 titulo h4 titulo h4 titulo h4
	.componente-titulo1-muestra
		h1.titulo--small.titulo--color2 titulo h1 titulo h1 titulo
			strong.titulo-h1.titulo--color1 titulo h1 titulo h1 titulo
	.componente-titulo1-muestra
		h2.titulo--small.titulo--color1.titulo--align-center titulo h1 titulo h1 titulo
			strong.titulo-h2.titulo--color2 titulo h1 titulo h1 titulo