// BUTTONS
.botton--fondo-muestra
	background-color: $c-0
.botton
	font-size: 15px
	font-family: $t-1
	text-transform: uppercase
	border-radius: 4px
	display: inline-block
	vertical-align: middle
	padding: 13px 30px 13px 30px
	color: $blanco
	transition-duration: 0.3s
.botton--color1
	background-color: $c-2
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-1
.botton--color2
	background-color: $c-1
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-2
.botton--color3
	border: solid 1px $blanco
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $blanco
			color: $c-1