// parrafo
.parrafo--fondo-muestra
	background-color: $c-6
	max-width: 50%
	margin: 0 auto
.parrafo-general
	font-family: $t-0
	font-size: 18px
.parrafo-banner-interior
	font-family: $t-0
	font-size: 21px
.parrafo--color1
	color: $c-0
.parrafo--color2
	color: $blanco
.parrafo--align-justify
	text-align: justify
.parrafo--align-center
	text-align: center