// titulo
.titulo--fondo-muestra, .componente-titulo1-muestra
	background-color: $c-6
	max-width: 50%
	margin: 0 auto
.titulo-h1
	font-family: $t-1
	font-size: 60px
.titulo-h1-interior
	font-family: $t-1
	font-size: 36px
.titulo-h2
	font-family: $t-1
	font-size: 30px
.titulo-h3
	font-family: $t-1
	font-size: 37px
.titulo-h4
	font-family: $t-1
	font-size: 24px
.titulo--color1
	color: $c-1
.titulo--color2
	color: $c-2
.titulo--color3
	color: $blanco
.titulo--align-center
	text-align: center
.titulo--align-right
	text-align: right
.titulo--small
	font-family: $t-1
	font-size: 16px
	strong
		display: block
		font-weight: normal
@media screen and (max-width: 767px)
	.titulo-h1
		font-family: $t-1
		font-size: 40px
	.titulo-h1-interior
		font-family: $t-1
		font-size: 26px
	.titulo-h2
		font-family: $t-1
		font-size: 24px
	.titulo-h3
		font-family: $t-1
		font-size: 27px
	.titulo-h4
		font-family: $t-1
		font-size: 20px