// input
.input--fondo-muestra
	padding-top: 50px
	max-width: 50%
	margin: 0 auto
.input-one-content
	position: relative
	font-family: $t-0
	&.active
		.input-one__label
			top: -8px
			color: $c-1
		.input-one--span
			border-bottom: solid 1px $c-1
.input-one
	box-sizing: border-box
	width: 100%
	border: none	
	height: 41px
	padding-left: 24px
	padding-right: 24px
	color: $c-0
	font-size: 16px
.input-one-content:hover 
	.input-one__label, &.active .input-one__label
		top: -8px
		color: $c-1
.input-one-content:hover
	.input-one--span
		border-bottom: solid 1px $c-1
.input-one__label
	color: $c-0
	font-size: 16px
	top: 15px
	position: absolute
	padding-left: 10px
	transition: all .3s
	pointer: text
.input-one--span
	left: 0
	bottom: 0
	height: 1px
	width: 90%
	position: absolute
	border-bottom: solid 1px #c1c1c1
.input-two
	box-sizing: border-box
	width: 100%
	border: none	
	height: 41px
	padding-left: 9px
	padding-right: 24px
	color: $c-0
	font-size: 16px
.input-two--span
	left: 0
	bottom: 0
	height: 1px
	width: 90%
	position: absolute
	border-bottom: solid 1px #c1c1c1
.input-three
	box-sizing: border-box
	width: 100%
	border: none	
	height: 41px
	padding-left: 9px
	padding-right: 24px
	color: $c-0
	font-size: 16px
.input-three--span
	left: 0
	bottom: 0
	height: 1px
	width: 90%
	position: absolute
	border-bottom: solid 1px #c1c1c1
.input--fondo-muestra-color
	padding-top: 50px
	padding-bottom: 50px
	max-width: 50%
	margin: 0 auto
	background-color: $c-2
.input--background-color
	background-color: $c-2
.input--color
	color: $blanco
.input-color--span
	border-bottom: solid 1px $blanco