// componente banner interior
.banner-interior-section
	background-color: $c-1
	height: 320px
	width: 100%
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	display: flex
	align-items: center
.banner-interior-section-img
	background-color: $c-1
	height: 348px
	width: 100%
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	display: flex
	align-items: center
.banner-interior-content
	width: 100%
	// max-width: 1920px
	max-width: 1200px
	margin: 0 auto
	display: flex
	justify-content: space-between
	align-items: center
.banner-interior2-content
	width: 100%
	max-width: 1920px
	margin: 0 auto
	display: flex
	justify-content: flex-end
	align-items: center
.banner-interior--h1
	text-transform: uppercase
	max-width: 678px
	margin-left: 0
.banner-interior--p
	max-width: 855px
	padding-top: 25px
	padding-top: 15px
	margin: 0
.banner-interior__box
	height: auto
	// width: 40%
	// float: right
	// padding-left: 5%
	padding-right: 70px
	box-sizing: border-box
.banner-interior2_box
	width: 730px
	height: auto
	float: right
	padding-right: 6%
	box-sizing: border-box
.banner-interior__box2
	width: 40%
.banner-interior__box2-img
	width: 40%
	height: 348px
// .banner-interior--texto-group
	// float: right
	// padding-right: 4%
.banner-interior--padding-bottom
	padding-bottom: 15px
@media screen and (max-width: 1274px)
	.banner-interior__box
		padding-left: 5%
	.banner-interior2_box
		padding-right: 6%
		padding-left: 5%
@media screen and (max-width: 991px)
	.banner-interior-section
		height: auto
		padding-top: 40px
		padding-bottom: 40px
	.banner-interior__box2-img, .banner-interior__box2
		display: none
	.banner-interior__box
		width: 100%
	.banner-interior2_box
		width: 100%
@media screen and (max-width: 575px)
	.banner-interior__box
			padding-left: 5%
			padding-right: 5%