// componente producto 1
.componente-producto1-muestra
	margin: 0 auto
	width: 60%
	padding: 50px
	height: auto
	background-color: grey
.componente-producto1-box
	width: 90%
	height: auto
	max-width: 282px
	// border: solid 1px #dadada
	background-color: $blanco
	position: relative
	margin: 0 auto
.componente-producto1__img
	+backgroundsize()
	height: 278px
	width: 100%
.componente-producto1__btn
	width: 100%
	height: 84px
	background-color: $c-7
	text-align: center
	font-family: $t-1
	font-size: 18px
	display: flex
	align-items: center
	transition-duration: 0.3s
	a
		color: $c-0
		max-width: 173px
.componente-producto1__box-white
	background-color: $blanco
	width: 100%
	height: 278px
	position: absolute
	opacity: 0
	transition-duration: 0.5s
.componente-producto1__btn-oculto
	width: 100%
	height: 84px
	background-color: $c-2
	text-align: center
	font-family: $t-1
	font-size: 18px
	position: absolute
	opacity: 0
	display: flex
	align-items: center
	transition-duration: 0.5s
	bottom: 0
	a
		color: $blanco
		max-width: 173px
.componente-producto1-box:hover
	cursor: pointer
	// .componente-producto1__btn
	// 	background-color: $c-2
	// 	a
	// 		color: $blanco
	.componente-producto1__box-white
		opacity: 0.2
	.componente-producto1__btn-oculto
		opacity: 1
// pager
.pager
	margin-top: 65px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
	li
		color: $c-0
		font-family: $t-0
		font-size: 16px
		margin: 0 5px
		margin-top: 10px
	a
		display: block		
		width: 21px
		height: 21px
		line-height: 21px
		background: transparent
		color: $c-0
		text-align: center
		text-decoration: none
		&.active
			background: $c-2
			color: $c-1
		@media screen and (min-width: 1025px)
			transition: all .2s ease
			&:hover
				background: #d7eef7
				color: $c-0
	.prev, .next
		display: block
		color: $c-1
		font-size: 15px
@media screen and (max-width: 767px)
	.componente-producto1__btn
		font-size: 15px
@media screen and (max-width: 575px)
	.componente-producto1-box
		width: 80%