// componente icono titulo parrafo
.componente-icono-titulo-parrafo-muestra
	margin: 0 auto
	width: 60%
	padding: 50px
	height: auto
	background: #f9f9f9
.componente-icono-titulo-parrafo--box
	width: 100%
	max-width: 274px
	height: auto
	text-align: center
.componente-icono-titulo-parrafo--img
	margin: 0 auto
	background-repeat: no-repeat
	background-position: center center
	width: 100%
	max-width: 269px
	height: 75px
	padding-bottom: 25px